{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block page_title %}{% trans "Sign In to Python.org" %}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(window).load(function() {
            $('#id_login').focus();
        });
    </script>
{% endblock extra_js %}

{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
<h1>{% trans "Sign In" %}</h1>

{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}

{% block right_sidebar %}
    <aside class="right-sidebar" role="secondary">
        <div class="sidebar-widget subscribe-widget">
          <h2 class="widget-title">Register</h2>
          <p>Don't have a Python.org account yet?</p>
          <p><a class="button" href="{% url 'account_signup' %}">Create new account</a></p>
        </div>
    </aside>
{% endblock right_sidebar %}