{% extends "account/base.html" %}

{% load i18n %}
{% load honeypot %}

{% block page_title %}{% trans "Signup for Python.org" %}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(window).load(function() {
            $('#id_username').focus();

            jQuery.fn.preventDoubleSubmission = function() {
                 var last_clicked, time_since_clicked;
                 $(this).bind('submit', function(event) {
                     if (last_clicked) {
                         time_since_clicked = event.timeStamp - last_clicked;
                     }
                     last_clicked = event.timeStamp;
                     return !(time_since_clicked < 2000);
                 });
             };

            $('#signup_form').preventDoubleSubmission();
        });
    </script>
{% endblock extra_js %}

{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="user-feedback level-notice">
    <p>
        <span class="icon-alert" aria-hidden="true"></span>
        You do not need a python.org account to <a href="{% url 'download:download' %}">download</a> or use Python.
    </p>
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% render_honeypot_field %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}

{% block right_sidebar %}
    <aside class="right-sidebar" role="secondary">
        <div class="sidebar-widget subscribe-widget">
          <h2 class="widget-title">Already have an account?</h2>
          <p>If you already have a Python.org account please sign in.</p>
          <p><a class="button" href="{% url 'account_login' %}">Sign In</a></p>
        </div>
    </aside>
{% endblock right_sidebar %}
