{% extends "account/base.html" %}

{% block head_title %}Verify Your Email Address{% endblock %}

{% block content %}
    <h1>Verify Your Email Address</h1>

    <div class="user-feedback level-success">
        <p>
            <span class="icon-thumbs-up" aria-hidden="true"></span>
            We have sent an email to you for verification. Follow the link provided to
            finalize the signup process.
            <strong>
                Please <a href="{% url 'account_login' %}">login</a> to your account
                to get another email for verification if you do not receive it within
                a few minutes.
            </strong>
        </p>
    </div>
{% endblock %}
