{% extends "comments/form.html" %}
{% load comments i18n %}
{% block comment_action %}
    {% comment %}Special comment target for reviewers{% endcomment %}
    {% if request.user == object.creator %}{% comment_form_target %}{% else %}{% url "jobs:job_review" %}{% endif %}
{% endblock %}
{% block buttons %}
    {% if request.user == object.creator %}
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    {% else %}
        {% comment %}Special comment options for reviewer{% endcomment %}
        <strong>Insert Canned response:</strong>
        <select id="canned_response">
            <option value="empty">---</option>
            <option value="not_python">No or not enough emphasis on Python</option>
            <option value="formatting">Formatting broken</option>
            <option value="duplicate">Duplicate posting</option>
            <option value="voluntary">Voluntary, non paid job</option>
        </select>
        <h3>Review action</h3>
        <input type="hidden" name="job_id" value="{{ job.id }}">

        <div>
            <a class="review_button button" href="{% url 'jobs:job_edit' pk=object.pk %}?next={{request.get_full_path}}">Edit</a>
            <button class="review_button" name="action" value="approve">Approve</button>
            <button class="review_button" name="action" value="reject">Reject</button>
        </div>
    {% endif %}

{% endblock %}
