{% extends "base.html" %}
{% load boxes %}
{% load community %}

{% block page_title %}Our Community | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Our Community{% endblock %}

{% block body_attributes %}class="python community"{% endblock %}


{% block main-nav_attributes %}python-navigation{% endblock main-nav_attributes %}


{% block header_content %}
                <div class="community-banner">
                    {% box 'community-banner' %}
                </div>
{% endblock header_content %}


{% block content %}
    
    <div class="row">

        <div class="small-widget community-widget1">
            {% box 'community-widget1' %}
        </div>
        
        <div class="small-widget community-widget2">
            {% box 'community-widget2' %}
        </div>
        
        <div class="small-widget community-widget3">
            {% box 'community-widget3' %}
        </div>
        
        <div class="small-widget community-widget4 last">
            <div class="shrubbery">
                {% box 'community-irc-channels' %}
            </div>
        </div>
    
    </div><!-- end .row -->

    {% if object_list %}
    <div class="row">
        <h2>Community List</h2>
        <ul>
        {% for post in object_list %}
            <li>{% render_template_for post as html %}{{ html }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
{% endblock content %}
