{% extends "base.html" %}

{% block page_title %}{{ object.title }} | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}{{ object.title }}{% endblock %}

{% block body_attributes %}class="python community default-page"{% endblock %}


{% block main-nav_attributes %}community-navigation{% endblock main-nav_attributes %}


{% block content_attributes %}with-right-sidebar{% endblock content_attributes %}


{% block content %}
{% if object.title %}
<h2>{{ object.title }}</h2>
{% endif %}

{{ object.content }}
{% endblock content %}
