/*
 * Mixins and elements for this specific project
 */

@mixin box-default( $padding: .25em .65em .15em ) {
    display: inline-block; 
    padding: $padding; 
    @include border-radius(); 
}

@mixin form-element() {
    cursor: pointer; 
    color: palette(mono,mid-dark);
    background-color: $white; 
    padding: .25em .5em .175em; 
    border: 0; 
    @include border-radius(); 
    @include transition(); 
}

@mixin relative-container( $zindex: 1, $overflow: hidden ) {
    position: relative; 
    z-index: $zindex; 
    overflow: $overflow; 
}

// Consistent Drop Shadow effect – equal offset for right and bottom 
@mixin dropshadow( $opacity: .4 ) {
    @include box-shadow( .125em .125em .25em rgba( $black, $opacity ) ); 
    
    @include oldIE() {
        @include has-layout;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#{ie-hex-str(rgba( $black, $opacity ))}', Direction=135, Strength=3); 
    }
}
@mixin remove-dropshadow() {
    @include box-shadow( none ); 
    
    @include oldIE() { filter: progid:DXImageTransform.Microsoft.Shadow(enabled = false); }
}


@mixin hide() {
    display: none; 
    visibility: hidden;
}

@mixin show( $display: block ) {
    display: $display; 
    visibility: visible;
}

@mixin breaker_bar() {
    display: block; 
    width: 100%; 
    height: 1px; 
    font-size: 1px; 
    line-height: 1px;
}


// Useful when declaring the icon font outside of using the .icon class
@mixin icon-font( $margin: true ) {
	font-family: 'pythonicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    @if ( $margin == true ) { margin-right: .25em; }
    @include pe-inline-block( baseline ); 
    
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	
	span { vertical-align: baseline; }
}


/* 
 * Headers. 
 * We use mixins so we can manage these in one place. 
 * Used in style.scss and mce.scss 
 */
@mixin headerone( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, $headerone );
    
    a { color: $thiscolor; }
}

@mixin headertwo( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, $headertwo );
    
    a { color: $thiscolor; }
}

@mixin headerthree( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, $headerthree );
    
    a { color: $thiscolor; }
}

@mixin headerfour( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, $headerfour );
    
    a { color: $thiscolor; }
}

@mixin headerfive( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, 16px );
    
    a { color: $thiscolor; }
}

@mixin headersix( $thiscolor: $primary ) {
    color: $thiscolor;
    @include pe-rem-helper( font-size, 16px );
    
    a { color: $thiscolor; }
}