{% load sitetree %}
{% for child in sitetree_items %}
    <li class="mainnav--item{% if child.has_children %}__with-toggle{% endif %}">
                    
        <a class="mainnav--link{% if child.is_current or child.in_current_branch %} open{% endif %}{% if child.is_current %} disabled{% endif %}" href="{% sitetree_url for child %}" title="{{ child.hint|default:"" }}">{{ child.title_resolved }}</a>
        
    {% if child.has_children %}
        <a class="mainnav--toggle{% if child.is_current or child.in_current_branch %} open{% endif %}" href="#{{ item.title|slugify }}_{{ child.title|slugify }}"><span class="icon icon-chevron-down" aria-hidden="true"><span>+</span></span></a>
        
        <ul id="{{ item.title|slugify }}_{{ child.title|slugify }}" class="mainnav--list grandchild{% if child.is_current or child.in_current_branch %} open{% else %} closed{% endif %}"{% if child.is_current or child.in_current_branch %} aria-expanded="true"{% endif %}>
        {% sitetree_children of child for menu template "sitetree/submenu_grandchildren.html" %}
        </ul>
    {% endif %}
    </li>
{% endfor %}