{% extends "users/base.html" %}

{% load i18n %}
{% load honeypot %}

{% block page_title %}Change your password | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block user_content %}
    <div class="return-link">
        <a href="{% url 'users:user_list' %}"><span class="icon-arrow-left" aria-hidden="true"><span>&#9664;</span></span>Back to Users</a>
    </div>

    <h1>{% trans "Change Password" %}</h1>

    {% if form.errors %}
    <div class="user-feedback level-error">
        <p role="alert"><span class="icon-alert" aria-hidden="true"><span class="larger">&#9888; </span></span>Please correct the errors <b>noted in red</b> below:</p>
    </div>
    {% endif %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        {% render_honeypot_field %}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
