<div class="notification-bar notification-bar--survey" style="background-color: #ffdf76; color: #664e04; border-color: #004d7a; text-align: center; background-color: #004d7a; color: #fff; padding: 10px; margin: .5em; position: relative; width: 95%; background-color: #ffdf76; color: #664e04; border-color: #004d7a; border-radius: 1em;">
  <span class="notification-bar__icon">
    <i class="fa fa-chart-line" aria-hidden="true"></i>
  </span>
  <span class="notification-bar__message">{{ message }} &nbsp;&nbsp;<a class="button button--dark button--small button--primary" style="color: #606060; border-color: #006dad; background-color: #006dad;" href="{{ link }}"  target="_blank" rel="noopener">{{ title }}</a>
   </span>
</div>
