{% extends "base.html" %}
{% load sitetree %}

{% block page_title %}{{ minutes.date|date }} | PSF Meeting Minutes | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf default-page minutes"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block content_attributes %}with-left-sidebar{% endblock %}

{% block content %}

    <article class="text">
        {% if not minutes.is_published %}<h1 class="draft-preview">DRAFT PREVIEW</h1>{% endif %}

        <h1>PSF Meeting Minutes for {{ minutes.date|date }}</h1>

        <p><a href="{% url 'minutes_feed' %}"><span aria-hidden="true" class="icon-feed"></span>Subscribe via RSS</a></p>

        {{ minutes.content.rendered|safe }}

    </article>

{% endblock %}


{% block left_sidebar %}
<aside class="left-sidebar" role="secondary">

    {% include "components/navigation-widget.html" %}

    <div class="section-navigation sidebar-widget">

        <h2>{{ minutes.date.year }}</h2>
        <ul class="section-nav menu" role="menu" aria-hidden="false">
            {% for item in same_year_minutes %}
            <li class="tier-1 element-1" role="treeitem"><a href="{{ item.get_absolute_url }}">{{ item.date|date }}</a></li>
            {% endfor %}
        </ul>

    </div>

</aside>
{% endblock left_sidebar %}
