{% extends "psf/default.html" %}
{% load nominations %}

{% block page_title %}
Nominee for {{ election.name }} Election
| {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="nominations nominations_view"{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block content_attributes %}{% endblock %}

{% block content %}
<h1 class="page-title">Nominee for {{ election.name }} Election</h1>
<h2>{{ nominee.display_name }}</h2>
    <div>
      <ul>
        <li><b>Previous Board Service</b>: {{ nominee.display_previous_board_service }}</li>
        <li><b>Employer</b>: {{ nominee.display_employer }}</li>
        <li><b>Other Affiliations</b>: {{ nominee.display_other_affiliations }}</li>
        {% if nominee.self_nomination %}
        <li><b>Nominee Statement</b>:
          <ul>
          <article class="text">
          {{ nominee.self_nomination.nomination_statement.rendered|safe }}
          </article>
          </ul>
        {% endif %}
        {% if nominee.nominations_received %}
        <li><b>Nomination Statements</b>:
          <ul>
          {% for nomination in nominee.nominations_received.all %}
            <li>
            <b><i>Nomination by</i></b>: {{ nomination.nominator.first_name }} {{ nomination.nominator.last_name }}
            <div style="padding: 1em; background-color: #efefef;">
            {{ nomination.nomination_statement.rendered|safe }}
            </div>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
{% endblock content %}
