[run]
branch = True
source = .
omit =
    *venv*
    manage.py
    pydotorg/wsgi.py
    pydotorg/settings/*
    pydotorg/compilers.py
    */migrations/*
    */tests/*
    */tests.py
    */actions.py
    */admin.py
    */factories.py
    */search_indexes.py

[report]
exclude_lines =
    def get_absolute_url
    def __repr__
    def __str__
    if settings.DEBUG
    if __name__ == .__main__.:
