*.log
*.pot
*.pyc
.coverage
.sass-cache
.vagrant
build
ENV
htmlcov
media/*
pydotorg/settings/mylocal.py
static-root
static/stylesheets/mq.css
static/stylesheets/no-mq.css
static/stylesheets/style.css
tmp/*
venv
__pycache__
