*.log
*.pot
*.pyc
__pycache__
.vagrant
build
ENV
.coverage
htmlcov

static-root
.sass-cache
/static/stylesheets/mq.css
/static/stylesheets/no-mq.css
/static/stylesheets/style.css
tmp/*
media/*
pydotorg/settings/mylocal.py
