dj-database-url==0.5.0
django-pipeline==2.0.6
django-sitetree==1.17.0
Django==2.2.24
docutils==0.12
Markdown==3.3.4
cmarkgfm==0.6.0
Pillow==8.3.1
psycopg2==2.8.6
python3-openid==3.2.0
python-decouple==3.4
# lxml used by BeautifulSoup.
lxml==4.6.3
cssselect==1.1.0
feedparser==6.0.8
beautifulsoup4==4.9.3
icalendar==4.0.7
chardet==4.0.0
# TODO: We may drop 'django-imagekit' completely.
django-imagekit==4.0.2
django-haystack==3.0
elasticsearch>=5,<6
# TODO: 0.14.0 only supports Django 1.8 and 1.11.
django-tastypie==0.14.3

pytz==2021.1
python-dateutil==2.8.2

requests[security]>=2.26.0

django-honeypot==1.0.1
django-markupfield==2.0.0
django-markupfield-helpers==0.1.1

django-allauth==0.45.0

django-waffle==2.2.1

djangorestframework==3.12.2
django-filter==2.4.0
django-ordered-model==3.4.3
django-widget-tweaks==1.4.8
django-countries==7.2.1
xhtml2pdf==0.2.5
django-easy-pdf3==0.1.2
num2words==0.5.10
django-polymorphic==3.0.0
sorl-thumbnail==12.7.0
docxtpl==0.12.0
