-r base-requirements.txt

# Required for running tests

factory-boy==3.1.0
Faker==16.6.0
tblib==1.7.0
responses==0.13.3

# Extra stuff required for local dev

django-debug-toolbar==3.2.1
coverage
ddt
model-bakery==1.4.0
