-r base-requirements.txt

# Required for running tests

factory-boy==2.9.2
Faker==0.8.1
tblib==1.7.0
responses==0.10.5

# Extra stuff required for local dev

django-debug-toolbar==1.9.1
coverage
ddt
model-bakery==1.2.0
