dj-database-url==0.3.0
django-braces==1.4.0
django-discover-runner==1.0
django-pipeline==1.4.5
django-sitetree==1.2.1
django-secure==1.0.1
Django==1.7.7
docutils==0.12
factory-boy==2.4.1
Markdown==2.5.2
Pillow==2.7.0
psycopg2==2.6
python3-openid==3.0.5
lxml==3.4.2
cssselect==0.9.1
git+https://code.google.com/p/feedparser/@dc3bd29bfc1b#egg=feedparser
beautifulsoup4==4.3.2
icalendar==3.8.4
chardet2==2.0.3
django-imagekit==3.2.5
django-haystack==2.3.1
elasticsearch==1.3.0
pyelasticsearch==0.6.1
Sphinx==1.3b2
django-tastypie==0.12.1

pytz==2014.10
python-dateutil==2.4.0

#https://bitbucket.org/fcurella/django-timedelta-field/get/py3k.zip
django-timedeltafield==0.7.3

requests==2.5.1

#git+https://github.com/bradjasper/django-jsonfield.git@b346fd7
django-jsonfield==0.9.13
git+https://github.com/danirus/django-comments-xtd.git@182b54afc62e5d3967be75ac6ed8b19071764a6d

django-honeypot==0.4.0
django-markupfield==1.3.2

# django-allauth
#git+git://github.com/jefftriplett/django-allauth.git@3b10d6
django-allauth==0.19.1

uWSGI==2.0.10

raven==5.2.0
