{% extends "base.html" %}
{% load boxes %}

{% block page_title %}About Python&trade; | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python about"{% endblock %}

{% block header_content %}
                <div class="about-banner">
                    {% box 'aboutpython-banner' %}

                </div>
{% endblock header_content %}


{% block content %}
                <div class="row">
        		    
        		    <div class="medium-widget success-story-category">
                        {% box 'aboutpython-getstarted' %}

                    </div>
                    
                    <div class="medium-widget success-story-category last">
                        {% box 'aboutpython-easytolearn' %}

                    </div>
                
                </div>
                
                
                <div class="row">
                
                    <div class="medium-widget success-story-category">
                        {% box 'aboutpython-applications' %}

                    </div>
                    
                    <div class="medium-widget success-story-category last">
                        {% box 'aboutpython-opensource' %}

                    </div>
                
                </div>
                
                
                <div class="user-feedback level-general">
                    {% box 'usermessage-helplink' %}
                    
                </div>
                
                
                <div class="list-widgets row">

                    <div class="medium-widget blog-widget">
                        {% include 'components/blog-posts.html' %}
                    
                    </div>

                    <div class="medium-widget event-widget last">
                        {% include 'components/event-posts.html' %}
                    
                    </div>

                </div>
                
                
                {% include 'components/psf-widget.html' %}
                
{% endblock content %}