{% extends "base.html" %}

{% block page_title %}Our Blogs | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python blog"{% endblock %}

{% block header_content %}
                <div class="latest-blog-post">
                    
                    <h2 class="welcome-message">Welcome to the <span class="blog-name">Python Insider</span></h2>
                    
                    <h1 class="call-to-action">New Contributor Experience in Python and other FOSS Communities &ndash; A Survey</h1>
                    
                    <p class="date-posted"><time datetime="2012-11-19 12:00:00">Monday, November 19, 2012</time></p>
                    <p class="excerpt">If you have joined the community of developers contributing to CPython since January 2010, I hope you can find a few spare minutes to participate in a survey being put on by Kevin Carillo. He&rsquo;s a Ph. D. student at Victoria University of Wellington completing research on new contributors to free and open source projects. Kevin is interested in hearing from everyone from technical to non-technical contributors, whether you had positive or negative experiences... <a class="readmore" href="#">Read more</a></p>
                </div>
{% endblock header_content %}



{% block content %}
                <div class="row">
        		    
        		    <div class="most-recent-posts">
        		        <div class="shrubbery">
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-news"></span>Latest News</h2>
                            <p class="give-me-more"><a href="#" title="More News">More</a></p>
                            <ul class="list-recent-posts menu">
                                
                                <li>
                                    <h3 class="event-title"><a href="#">Python 3.3.0 released</a></h3>
                                    <p><time datetime="2012-09-29">9/29<span class="say-no-more">/2012</span></time></p>
                                </li>
                                <li>
                                    <h3 class="event-title"><a href="#">Third rc for Python 3.3.0 released</a></h3>
                                    <p><time datetime="2012-09-24">9/24<span class="say-no-more">/2012</span></time></p>
                                </li>
                                <li>
                                    <h3 class="event-title"><a href="#">Python Software Foundation announces Distinguished Service Award</a></h3>
                                    <p><time datetime="2012-09-14">9/14<span class="say-no-more">/2012</span></time></p>
                                </li>
                                <li>
                                    <h3 class="event-title"><a href="#">ConFoo conference in Canada, February 25th - March 13th</a></h3>
                                    <p><time datetime="2012-09-11">9/11<span class="say-no-more">/2012</span></time></p>
                                </li>
                                <li>
                                    <h3 class="event-title"><a href="#">Second rc for Python 3.3.0 released</a></h3>
                                    <p><time datetime="2012-09-09">9/9<span class="say-no-more">/2012</span></time></p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    
                    <div class="small-widget subscribe-widget last">
                        <h2 class="widget-title"><span class="blog-name">Python Insider</span> Subscriptions</h2>
                        <p>Subscribe to Python Insider via:</p>
                        <ul class="subscription-channels menu">
                            <li><a href="#"><span aria-hidden="true" class="icon-feed"></span>RSS</a></li>
                            <li><a href="#"><span aria-hidden="true" class="icon-email"></span>Email</a></li>
                            <li><a href="#"><span aria-hidden="true" class="icon-twitter"></span>Twitter</a></li>
                        </ul>
                        <p>Also check out the <a href="#">Python-Dev mailing list</a></p>
                    </div>
                
                </div>
        		
        		<div class="row">
        		    
        		    <div class="triple-widget translations-widget">
        		        <h2 class="widget-title">Translations</h2>
        		        <ul class="menu">
        		            <li><a href="#">Chinese (Simplified)</a></li>
        		            <li><a href="#">Chinese (Traditional)</a></li>
        		            <li><a href="#">French</a></li>
        		            <li><a href="#">German</a></li>
        		            <li><a href="#">Japanese</a></li>
        		            <li><a href="#">Korean</a></li>
        		            <li><a href="#">Portuguese</a></li>
        		            <li><a href="#">Romanian</a></li>
        		            <li><a href="#">Russian</a></li>
        		            <li><a href="#">Spanish</a></li>
        		        </ul>
        		    </div>
        		    
        		    <div class="triple-widget authors-widget">
        		        <h2 class="widget-title">Contributors</h2>
        		        <ul class="menu">
        		            <li><a href="#author-profile">Brian Curtin</a></li>
        		            <li><a href="#author-profile">Engelbert Gruber</a></li>
        		            <li><a href="#author-profile">Jesse Noller</a></li>
        		            <li><a href="#author-profile">Davidmh</a></li>
        		            <li><a href="#author-profile">Mike Driscoll</a></li>
        		            <li><a href="#author-profile">Éric Araujo</a></li>
        		            <li><a href="#author-profile">Mathieu Leduc-Hamel</a></li>
        		            <li><a href="#author-profile">Alfonso de la Guarda Reyes</a></li>
        		            <li><a href="#author-profile">tp</a></li>
        		            <li><a class="readmore" href="#">Show more</a></li>
        		        </ul>
        		    </div>
        		    
        		    <div class="triple-widget archive-widget last">
        		        <h2 class="widget-title">Blog Archives</h2>
        		        <ul class="menu">
        		            <li><a href="#year-archive">2012 (8)</a>
        		                <ul class="months menu">
        		                    <li><a href="#month-archive">November (1)</a></li>
        		                    <li><a href="#month-archive">October (2)</a></li>
        		                    <li><a href="#month-archive">August (1)</a></li>
        		                    <li><a href="#month-archive">June (2)</a></li>
        		                    <li><a href="#month-archive">May (1)</a></li>
        		                    <li><a href="#month-archive">March (1)</a></li>
        		                </ul>
        		            </li>
        		            <li><a href="#year-archive">2011 (25)</a></li>
        		        </ul>
        		    </div>
        		    
                </div>
                
                
                <div class="row">
        		    
        		    <div class="medium-widget author-blogs-widget">
        		        <h2 class="widget-title">Python-Dev Blogs</h2>
        		        <p class="give-me-more"><a href="#" title="More News">More</a></p>
        		        <ul class="menu">
        		            <li><a class="developer-name" href="#">Jesse Noller</a>: <a class="developer-post-name" href="#">The Code Of Conduct</a> <span class="time-posted">1 hour ago</span></li>
        		            <li><a class="developer-name" href="#">PyPy Status Blog</a>: <a class="developer-post-name" href="#">PyPy related internship at NCAR</a> <span class="time-posted">5 hours ago</span></li>
        		            <li><a class="developer-name" href="#">Tarek Ziad&eacute;</a>: <a class="developer-post-name" href="#">What The Feuille?</a> <span class="time-posted">4 days ago</span></li>
        		        </ul>
        		    </div>
        		    
        		    <div class="medium-widget copyright-widget last">
        		        <h2 class="widget-title">Copyright</h2>
                    <p>Python Insider by the <a href="#">Python Core Developers</a> is licensed under a <a href="#">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Based on a work at <a href="#">blog.python.org</a>.</p>
        		    </div>
        		    
                </div>
{% endblock content %}