{% extends "base.html" %}

{% block body_attributes %}class="python community"{% endblock %}

{% block header_content %}
                <div class="about-banner">
                    <h1 class="call-to-action">
                        <a href="#">Python's community is vast</a>; <br>
                        <a href="#">diverse &amp; aims to grow</a>; <br>
                        <a href="#">is Open</a>.
                    </h1>
                    
                    <p>Great software is supported by great people, and Python is no exception. Our user base is fanatical and dedicated to spreading use of the language far and wide. Our community can help support the beginner, the expert, and adds to the ever-increasing open-source knowledgebase. </p>
                </div>
{% endblock header_content %}

{% block content %}
                <div class="row">
                    
                    <div class="small-widget ">
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-book"></span>Getting Started</h2>
                        <p>New to the community? Here are some great places to get started:</p>
                        <ul> 
                            <li><a href="#">Beginner&rsquo;s Guide to Python</a></li>
                            <li><a href="#">Should I use Python 2 or 3?</a></li>
                            <li><a href="#">Python FAQs</a></li>
                            <li><a href="#">5-minute Screencasts</a></li>
                        </ul>
                    </div>
                    
                    <div class="small-widget community-success-stories">
                        <h2 class="widget-title">Success Stories</h2>
                        <blockquote>
                            My experience with the Python community has been awesome. I have met some fantastic people through local meetups and gotten great support. 
                            <footer class="quote-by"><a href="#">@alex_gaynor</a></footer>
                        </blockquote>
                        <p><a class="readmore" href="#">Submit Yours!</a></p>
                    </div>
                    
                    <div class="small-widget python-weekly">
                        <h2 class="widget-title">Python Weekly</h2>
                        <p>Python Weekly is a free weekly email newsletter featuring curated news, articles, new releases, jobs, and more. Curated by <a href="http://twitter.com/rahulgchaudhary">Rahul Chaudhary</a> every Thursday. </p>
                        <form>
                            <fieldset title="Subscribe to Python Weekly">
                                <label for="email">Email</label>
                                <input type="email" id="email" required="required" placeholder="Email address">
                                <input type="submit" name="submit" value="Subscribe">
                            </fieldset>
                        </form>
                    </div>
                    
                    <div class="small-widget last">
                        <div class="shrubbery">
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-twitter"></span><a href="http://twitter.com/ThePSF" title="View @The PSF on Twitter">@ThePSF</a></h2>
                            <p class="give-me-more"><a href="#" title="Follow @The PSF on Twitter">Follow</a></p>
                            <ul class="twitter-stream menu"> 
                                <li><span class="twitteruser">@alex_gaynor</span> DNS is slowly propagating, but <a href="#">http://speed.pypy.org</a> is now hosted by <span class="twittermention">@ThePSF</span>. Thanks <span class="twittermention">@kantrn</span> <span class="twittermention">@jeffhui</span> and <span class="twittermention">@fijall</span>! <a class="view-on-twitter" href="#">View on Twitter</a></li>
                                <li><span class="twitteruser">@pycon</span> Very proud to announce our latest PyCon 2013 Platinum level sponsor: Rackspace! <a href="#">http://bit.ly/NuP5EU</a> <a href="#">http://www.rackspace.com</a> <span class="twittermention">@rackspace</span> <a class="view-on-twitter" href="#">View on Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                
                </div><!-- end .row -->
                
                
                <div class="mapped-events row">
                    <div class="medium-widget">
                        <div id="local_meetups">
                            <img src="{{ STATIC_URL }}img/sample-gmap.png" alt="Sample Google Map">
                        </div>
                    </div>
                    
                    <div class="medium-widget event-widget last">
                        <div class="shrubbery">
                            <h2 class="widget-title">Local Events</h2>
                            <p>Here are some events and meetup groups <strong title="HTML5 with Geolocation needed">in your area</strong>. <a href="#">See the full list of events all over the world</a>. </p>
                            <ul class="menu">
                                <li><time datetime="">9/30<span class="say-no-more">/2012</span></time> <a href="#">Royal Python Society Monthly Meetup, <span class="pre">Providence RI</span></a></li>
                                <li><time datetime="">10/4<span class="say-no-more">/2012</span></time> <a href="#">Python Users Group, <span class="pre">Boston MA</span></a></li>
                                <li><time datetime="">10/5<span class="say-no-more">/2012</span></time> <a href="#">Python Enthusiasts, <span class="pre">Cambridge MA</span></a></li>
                                <li><time datetime="">10/8<span class="say-no-more">/2012</span></time> <a href="#">Python Programmers at MIT, <span class="pre">Cambridge MA</span></a></li>
                                <li><time datetime="">10/30<span class="say-no-more">/2012</span></time> <a href="#">Plone Conference 2012, Plone Conference 2012</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end .row -->
                
                
                <div class="row">
                    
                    <div class="medium-widget ">
                        <div class="shrubbery">
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-heart"></span>Planet Python</h2>
                            <p class="give-me-more"><a href="#">Subscribe <span aria-hidden="true" class="icon-feed"></span></a></p>
                            <p><a href="#">Planet Python</a> contains aggregated content from all over the web and is a great resource for finding smart people blogging about Python.</p>
                            <ul class="menu"> 
                                <li><a href="#">Vasudev Ram: Construct, binary packer library for Python</a></li>
                                <li><a href="#">PyCon: PyCon 2013 poster CFP closes soon</a></li>
                                <li><a href="#">Mark Dufour: Shed Skin 0.9.3</a></li>
                                <li><a href="#">Brian Okken: Confession … I still use perl on the command line</a></li>
                                <li><a href="#">Vasudev Ram: A good tutorial on Python decorators</a></li>
                                <li><a href="#">John Cook: Sonnet primes in Python</a></li>
                                <!--<li><a href="#">PyCon: Announcing PyCon Australia 2013 &ndash; July 5-7, Hobart, Tasmania!</a></li>-->
                            </ul>
                        </div>
                    </div>
                    
                    <div class="medium-widget stackoverflow-widget last">
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-list"></span>StackOverflow</h2>
                        <p>View, ask or answer the latest questions tagged <a href="http://stackoverflow.com/questions/tagged/python">Python</a>.</p>
                        <ul class="menu"> 
                            <li><a href="#">The Python yield keyword explained</a> 
                                <span class="tag-wrapper"><a class="tag" href="#">iterator</a> <a class="tag" href="#">yield</a></span></li>
                            <li><a href="#">What is a metaclass in Python?</a> 
                                <span class="tag-wrapper"><a class="tag" href="#">oop</a> <a class="tag" href="#">metaclass</a> <a class="tag" href="#">python-datamodel</a></li>
                            <li><a href="#">Understanding Python decorators</a> 
                                <span class="tag-wrapper"><a class="tag" href="#">decorator</a></li>
                            <li><a href="#">Is there any way to run Python on Android?</a> 
                                <span class="tag-wrapper"><a class="tag" href="#">android</a> <a class="tag" href="#">ase</a> <a class="tag" href="#">android-scripting</a></span></li>
                            <li><a href="#">What's the best way to implement an 'enum' in Python?</a> 
                                <span class="tag-wrapper"><a class="tag" href="#">enums</a></span></li>
                        </ul>
                    </div>
                
                </div><!-- end .row -->
        		
        		
        		<div class="row">
                    
                    <div class="medium-widget ">
                        <div class="shrubbery">
                            <h2 class="widget-title">Internet Relay Chat</h2>
                            <p class="give-me-more"><a href="#" title="More IRC Channels">More</a></p>
                            <p><a href="#">Freenode IRC</a> hosts several channels. <a href="#">Register your nickkname with Freenode</a>, <a href="#">read the FAQ</a>, and you can be off and running!</p>
                            
                            <div class="split-widget">
                                <h4>Freenode IRC General Channels</h4>
                                <ul class="menu">
                                    <li><strong>#python</strong> for general questions</li>
                                    <li><strong>#pylocal</strong> for Python user groups</li>
                                    <li><strong>#python-dev</strong> for CPython developers</li>
                                    <li><strong>#distutils</strong> for Python packaging discussion</li>
                                </ul>
                            </div>
                            
                            <div class="split-widget">
                                <h4>Freenode IRC Language Channels</h4>
                                <ul class="menu"> 
                                    <li>German speakers: <strong>#python.de</strong></li>
                                    <li>Portuguese speakers: <strong>#python-pt</strong></li>
                                    <li>Spanish speakers: <strong>#pyar</strong> (Python Argentina)</li>
                                    <li>French speakers: <strong>#python-fr</strong></li>
                                    <li>Finnish speakers: <strong>#python.fi</strong></li>
                                    <li>Turkish speakers: <strong>#python-tr</strong></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="medium-widget stackoverflow-widget last">
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-github-2"></span>Python on GitHub</h2>
                        <p>Recent commits and development work tagged with <a href="https://github.com/languages/Python">Python</a>.</p>
                        
                        <div class="github-widget">
                            <h4>Most Starred Overall</h4>
                            <ul class="menu">
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/fd542381031aa84dca86628ece84fc07?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="20"></span> <a class="git-repo" href="#">django / django</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/193c1a93276f729041fc875cf2a20773?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="20"></span> <a class="git-repo" href="#">facebook / tornado</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/181de1fb11dffe39774f3e2e23cda3b6?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">mitsuhiko / flask</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/2eccc4005572c1e2b12a9c00580bc86f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">kennethreitz / requests</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/ce588491b972645ef0b184ff00bd1b9f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">jkbr / httpie</a></li>
                            </ul>
                        </div>
                        
                        <div class="github-widget">
                            <h4>Recently Created Repositories</h4>
                            <ul class="menu">
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/fd542381031aa84dca86628ece84fc07?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="20"></span> <a class="git-repo" href="#">rborden / Tweet-a-Watt</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/193c1a93276f729041fc875cf2a20773?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png" height="20"></span> <a class="git-repo" href="#">dballard / gramificate</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/181de1fb11dffe39774f3e2e23cda3b6?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">ds4cool / PyramidApp</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/2eccc4005572c1e2b12a9c00580bc86f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">geniass / random-scripts</a></li>
                                <li><span class="git-avatar"><img src="https://secure.gravatar.com/avatar/ce588491b972645ef0b184ff00bd1b9f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" height="20"></span> <a class="git-repo" href="#">mattvenn / bristolbraille</a></li>
                            </ul>
                        </div>

                    </div>
                
                </div><!-- end .row -->
{% endblock content %}