{% extends "base.html" %}

{% block page_title %}Our Downloads | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python download"{% endblock %}

{% block header_content %}
                <div class="download-for-current-os">
                    <h1 class="call-to-action">Download the latest version for Mac OSX</h1>
                    <p class="download-buttons">
                        <a class="button" href="#">Download Python 3.3.0</a> 
                        <a class="button" href="#">Download Python 2.7.3</a>
                    </p>
                    <p>Wondering which version to use? <a href="#">Here&rsquo;s more about the difference between Python 2 and 3.</a> </p>
                    <p>Looking for a version for a different OS? Python for <a href="">Windows</a>, <a href="">Linux</a>, <a href="">Mac OSX</a>, <a href="">Other</a> </p>
                </div>
{% endblock header_content %}

{% block content %}
                <div class="row download-list-widget">
                    <h2 class="widget-title">Looking for a specific release?</h2>
                    <p class="success-quote">Python releases by version number:</p>
                    
                    <div class="list-row-headings">
                        <span class="release-number">Release version</span>
                        <span class="release-date">Release date</span>
                        <span class="release-download">&nbsp;</span>
                        <span class="release-enhancements">Click for more</span>
                    </div>
                    <ol class="list-row-container menu">
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 3.3.0</a></span> 
                            <span class="release-date">September 29, 2012</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 3.2.3</a></span> 
                            <span class="release-date">April 10, 2012</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 3.1.5</a></span> 
                            <span class="release-date">April 10, 2012</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 3.0.1</a></span> 
                            <span class="release-date">February 13, 2009</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.7.3</a></span> 
                            <span class="release-date">April 10, 2012</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.6.8</a></span> 
                            <span class="release-date">April 10, 2012</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.5.6</a></span> 
                            <span class="release-date">May 26, 2011</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.4.6</a></span> 
                            <span class="release-date">December 19, 2008</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.3.7</a></span> 
                            <span class="release-date">March 11, 2008</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.2.3</a></span> 
                            <span class="release-date">May 30, 2003</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.1.3 </a></span> 
                            <span class="release-date">April 8, 2002</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 2.0.1</a></span> 
                            <span class="release-date">June 2003</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 1.6.1</a></span> 
                            <span class="release-date">September 2000</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span> 
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                        <li>
                            <span class="release-number"><a href="#?to-download">Python 1.5.2</a></span> 
                            <span class="release-date">April 1999</span> 
                            <span class="release-download"><a href="#?to-download"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="#?to-features">Features and Improvements</a></span>
                        </li>
                    </ol>
                    <p><small><em>Older releases: <a href="#">Source releases, <a href="#">binaries-1.1</a>, <a href="#">binaries-1.2</a>, <a href="#">binaries-1.3</a>, <a href="#">binaries-1.4</a>, <a href="#">binaries-1.5</a></em></small></p>

                </div>
        		
        		
        		<div class="row">
        		    
        		    <div class="small-widget license-widget">
                        <h2 class="widget-title">Licenses</h2>
                        <p>For most Unix systems, you must download and compile the source code. The same source code archive can also be used to build the Windows and Mac versions, and is the starting point for ports to all other platforms.</p>
                        <p><a class="readmore" href="#">Read more</a></p>
                    </div>
                    
                    <div class="small-widget sources-widget">
                        <h2 class="widget-title">Sources</h2>
                        <p>All Python releases are <a href="http://www.opensource.org/">Open Source</a>. Historically, most, but not all, Python releases have also been GPL-compatible. The Licenses page details GPL-compatibility and Terms and Conditions. </p>
                        <p><a class="readmore" href="#">Read more</a></p>
                    </div>
                    
        		    <div class="small-widget altimps-widget">
                        <h2 class="widget-title">Alternative Implementations</h2>
                        <p>This site hosts the "traditional" implementation of Python (nicknamed CPython). A number of alternative implementations are available as well. </p>
                        <p><a class="readmore" href="#">Read more</a></p>
                    </div>
                    
                    <div class="small-widget repacks-widget last">
                        <h2 class="widget-title">Re-packages</h2>
                        <p>Other parties have re-packaged Python. These re-packagings often include more libraries or are specialized for a particular application. </p>
                        <p><a class="readmore" href="#">Read more</a></p>
                    </div>
                    
                </div>
                
                <div class="user-feedback level-general">
                    <p>Looking for the release schedule? <a href="#"><span aria-hidden="true" class="icon-calendar"></span>Check the Google Calendar</a>. </p>
                </div>
{% endblock content %}