{% extends "base.html" %}

{% block body_attributes %}class="python home"{% endblock %}

{% block header_content %}
        <div class="slideshow">
            <div class="slide-code">
                <code style="display: block;">
                    <div>&nbsp;1&nbsp;  <strong>>>> 1 = ['spam', 'ham', 314, 23]</strong></div>
                    &nbsp;2&nbsp;  <strong>>>> 1</strong><br>
                    &nbsp;3&nbsp;  <span>['spam', 'ham', 314, 23]</span><br>
                    &nbsp;4&nbsp;  <br>
                    &nbsp;5&nbsp;  <strong>>>> 1[0]</strong><br>
                    &nbsp;6&nbsp;  <span>spam</span><br>
                    &nbsp;7&nbsp;  <br>
                    &nbsp;8&nbsp;  <strong>>>> 1[0] = 'monkey'</strong><br>
                    &nbsp;9&nbsp;  <strong>>>> 1</strong><br>
                         10&nbsp; <span>['monkey', 'ham', 314, 23]</span>
                    
                </code>
            </div>
            
            <div class="slide-copy">
                <h1>Python&rsquo;s Pragmatism</h1>
                <p>This example showcases the ease in which arrays can be created and manipulated. Define a list, print an item in that list, or replace an item with simple methods.</p>
            </div>
        </div>
        
        <div class="temp-arrow"></div>
{% endblock header_content %}

{% block intro_copy %}
        <div class="introduction">
            <p>Python is a programming language that lets you work quickly <span class="breaker"></span>and integrate systems more effectively. <a class="readmore" href="#">Learn More</a></p>
        </div>
{% endblock %}



{% block content %}
                
                {% include 'components/small-widgets.html' %}
                
                {% include 'components/blog-event-list.html' %}
                
                {% include 'components/medium-widgets.html' %}
                
                {% include 'components/pep-widget.html' %}
                
                {% include 'components/psf-widget.html' %}
                
{% endblock content %}