{% extends "base.html" %}

{% block body_attributes %}class="python home"{% endblock %}

{% block header_content %}
        
        <div id="dive-into-python" class="flex-slideshow slideshow">
            
            <ul class="launch-shell menu"><li><span class="message">Launch Interactive Shell</span><a class="button prompt" href="/shell/">&gt;&gt;&gt;</a></li></ul>
            
            <!-- Ideas for slides came from https://wiki.python.org/moin/SimplePrograms -->
            <ul class="slides menu">
                <li>
                
                    <div class="slide-code">
<pre><code><span class="comment"># Simple output</span>
>>> print 'Hello, I'm Python!'

<span class="comment"># 2 Input, assignment</span>
>>> name = raw_input('What is your name?\n')
... print 'Hi, %s.' % name</code></pre>
                    </div>
                    
                    <div class="slide-copy">
                        <h1>Quick &amp; Easy to Learn</h1>
                        <p>Experienced programmers in any other language can pick up Python very quickly, while beginners find the clean syntax and indentation structure easy to learn. <a href="http://docs.python.org/3/tutorial/">Whet your appetite</a> with our Python overview.</p>
                    </div>
                    
                </li>
                <li>
                
                    <div class="slide-code">
<pre><code><span class="comment"># For loop, built-in enumerate function, 
new style formatting</span>
>>> friends = ['john', 'pat', 'gary', 'michael']
... for i, name in enumerate(friends):
...    print "iteration {iteration} is {name}".format(iteration=i, name=name)</code></pre>
                    </div>
                    
                    <div class="slide-copy">
                        <h1>All the Flow You&rsquo;d Expect</h1>
                        <p>Python knows the usual control flow statements that other languages speak &mdash; if, for, while and range() &mdash; with some of it own twists, of course. <a href="http://docs.python.org/3/tutorial/controlflow.html">More control flow tools</a></p>
                    </div>
                    
                </li>
                <li>
                
                    <div class="slide-code">
<pre><code><span class="comment"># Write Fibonacci series up to n</span>
>>> def fib(n):    
...    a, b = 0, 1
...    while a &lt; n:
...        print(a, end=' ')
...        a, b = b, a+b
...    print()
... <span class="comment"># Now call the function we just defined:</span>
... fib(1000)
<span class="output">0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610</span></code></pre>
                    </div>
                    
                    <div class="slide-copy">
                        <h1>Functions Defined</h1>
                        <p>The core of extensible programming is defining functions. Python allows mandatory and optional arguments, keyword arguments, and even arbitrary argument lists. <a href="http://docs.python.org/3/tutorial/controlflow.html#defining-functions">More about defining functions</a></p>
                    </div>
                
                </li>
            </ul>
        </div>
 
{% endblock header_content %}

{% block intro_copy %}
        <div class="introduction">
            <p>Python is a programming language that lets you work quickly <span class="breaker"></span>and integrate systems more effectively. <a class="readmore" href="#">Learn More</a></p>
        </div>
{% endblock %}



{% block content %}

                <div class="row">
                    {% load boxes %}
                    
                    <div class="small-widget get-started-widget">
                    {% box 'homepage-get-started' %}
                    </div>
                    
                    <div class="small-widget download-widget">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-download"></span>Download</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p>Latest: <a href="#">Python 2.7.1</a> <a href="#">Python 3.4</a></p>

                    </div>

                    <div class="small-widget documentation-widget">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-documentation"></span>Docs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">docs.python.org</a></p>

                    </div>

                    <div class="small-widget jobs-widget last">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-jobs"></span>Jobs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">jobs.python.org</a></p>

                    </div>

                </div>

                {% include 'components/blog-event-list.html' %}

                {% include 'components/medium-widgets.html' %}

                {% include 'components/pep-widget.html' %}

                {% include 'components/psf-widget.html' %}

{% endblock content %}
