{% extends "base.html" %}
{% load boxes %}

{% block body_attributes %}class="python home" id="homepage"{% endblock %}

{% block header_content %}
        <div id="dive-into-python" class="flex-slideshow slideshow">

            <ul class="launch-shell menu" id="launch-shell">
                <li>
                    <a class="button prompt" id="start-shell" data-shell-container="#dive-into-python" href="/shell/">&gt;_
                        <span class="message">Launch Interactive Shell</span>
                    </a>
                </li>
            </ul>

            <ul class="slides menu">
                {% for sample in code_samples %}
                <li>
                    <div class="slide-code">{{ sample.code }}</div>
                    <div class="slide-copy">{{ sample.copy }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

{% endblock header_content %}

{% block intro_copy %}
        <div class="introduction">
            {% box 'homepage-introduction' %}
        </div>
{% endblock %}



{% block content %}

{# Getting Started row #}
<div class="col-group__four">
    <div class="column">
        <div class="widget widget__column widget__get-started">
            {% box 'homepage-get-started' %}
        </div>
    </div>
    <div class="column">
        <div class="widget widget__column widget__downloads">
            {% box 'homepage-downloads' %}
        </div>
    </div>
    <div class="column">
        <div class="widget widget__column widget__documentation">
            {% box 'homepage-documentation' %}
        </div>
    </div>
    <div class="column">
        <div class="widget widget__column widget__jobs">
            {% box 'homepage-jobs' %}
        </div>
    </div>
</div>

{# From the Blog and Events row #}
<div class="col-group__two">
    <div class="column">
        <div class="widget widget__column widget__blog">
            {% include 'components/blog-posts.html' %}
        </div>
    </div>
    <div class="column">
        <div class="widget widget__column widget__events">
            {% include 'components/event-posts.html' %}
        </div>
    </div>
</div>

{# Success Stories and Applications row #}
<div class="col-group__two">
    <div class="column">
        <div class="widget widget__column widget__success">
            {% include 'components/success-story.html' %}
        </div>
    </div>
    <div class="column">
        <div class="widget widget__column widget__use-python-for">
            {% box 'widget-use-python-for' %}
        </div>
    </div>
</div>

                {% include 'components/pep-widget.html' %}

                {% include 'components/psf-widget.html' %}

{% endblock content %}

{% block extra_js %}
    {# Only the homepage needs this, so why noit break it out #}
    <script src="{{ STATIC_URL }}js/plugins/flexslider.js"></script>
{% endblock extra_js %}
