{% extends "base.html" %}

{% block body_attributes %}class="python inner"{% endblock %}



{% block breadcrumbs %}
<ul class="breadcrumbs menu">
    <li><a href="#">Home</a><span class="prompt"><span>&gt;&gt;&gt;</span></span></li>
    <li>This Page</li>
</ul> 
{% endblock breadcrumbs %}



{% block content_attributes %}with-left-sidebar{% endblock %}

{% block content %}
            <div class="text">
                <h1>Heading 1</h1>
        		<p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <abbr title="sample of an abbr">Excepteur sint occaecat cupidatat non proident</abbr>, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        		
        		<h2>Heading 2</h2>
        		<p><em>Lorem ipsum dolor sit amet,</em> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        		
        		<h3>Heading 3</h3>
        		<ul>
        			<li><a href="#">Lorem ipsum dolor sit amet</a> </li>
        			<li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            			<ul>
            			 <li>Lorem ipsum dolor sit amet</li>
            			 <li>Ut enim ad minim veniam</li>
            			</ul>
        			</li>
        			<li><a href="#">Ut enim ad minim veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        		</ul>
        		
        		<h4>Heading 4</h4>
        		<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
        		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        		<ol>
        			<li>Lorem ipsum dolor sit amet <small>you know the rest...</small></li>
        			<li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            			<ol>
            			 <li>Lorem ipsum dolor sit amet</li>
            			 <li>Ut enim ad minim veniam
                			 <ol>
                			 <li>Lorem ipsum dolor sit amet</li>
                			 <li>Ut enim ad minim veniam</li>
                			</ol>
            			 </li>
            			 <li>Lorem ipsum dolor sit amet</li>
            			</ol>
        			<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
        		</ol>
        		<p><del>Lorem ipsum dolor sit amet</del> <ins>Lorem ipsum dolor sit amet</ins>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <pre>
                <code>This is a pre tag.</code> We style it just in case someone uses it. Let&rsquo;s make sure a long line of text inside a pre will not break anything.
                </pre>
        		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
{% endblock content %}



{% block left_sidebar %}
<aside class="left-sidebar" role="secondary">
  
    <div class="section-navigation sidebar-widget">
        <!-- navigation for this section... all siblings should be included -->
        <ul class="section-nav menu" role="menu" aria-hidden="false">
            <li class="tier-1 element-1" role="treeitem"><a href="#fixme-inner">History / Mission</a></li>
            <li class="tier-1 element-2" role="treeitem"><a href="#fixme-inner">Applications</a></li>
            <li class="tier-1 element-3" role="treeitem"><a href="#fixme-inner">Statistics</a></li>
            <li class="tier-1 element-4" role="treeitem"><a href="#fixme-inner">Quotes</a></li>
            <li class="tier-1 element-5" role="treeitem"><a href="#fixme-inner">Media / CI</a></li>
        </ul>
    </div>
    
    <div class="twitter-widget sidebar-widget">
        <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script type="text/javascript">// <![CDATA[
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 3,
          interval: 30000,
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#f2f2f2',
              color: '#666666'
            },
            tweets: {
              background: '#f2f2f2',
              color: '#666666',
              links: '#3776ab'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('ThePSF').start();
        // ]]></script>
    </div>
    
    <div class="psf-sidebar-widget sidebar-widget">
        <h3 class="widget-title">The PSF</h3>
        <p>The Python Software Foundation is the organization behind Python. Become a member of the PSF and help advance the software and our mission. </p>
    </div>
</aside>
{% endblock left_sidebar %}
