{% extends "base.html" %}

{% block body_attributes %}class="python home"{% endblock %}

{% block header_content %}
        <div class="slideshow">
            <div class="slide-code">
                <iframe style="border: none; width: 480; height: 300px"
name="embedded_python_anywhere"
src="https://www.pythonanywhere.com/python-dot-org-console/">
</iframe>
            </div>
            <div class="slide-copy">
                <h1>Python 3.3</h1>
                <p><a href="#">PEP 380</a> adds the <code>yield from</code> expression, allowing a generator to delegate part of its operations to another generator. This allows a section of code containing yield to be factored out and placed in another generator. Additionally, the subgenerator is allowed to return with a value, and the value is made available to the delegating generator.</p>
            </div>
        </div>

        {# <div class="temp-arrow"></div> #}
{% endblock header_content %}

{% block intro_copy %}
        <div class="introduction">
            <p>Python is a programming language that lets you work quickly <span class="breaker"></span>and integrate systems more effectively. <a class="readmore" href="#">Learn More</a></p>
        </div>
{% endblock %}



{% block content %}

                {% include 'components/small-widgets.html' %}

                {% include 'components/blog-event-list.html' %}

                {% include 'components/medium-widgets.html' %}

                {% include 'components/pep-widget.html' %}

                {% include 'components/psf-widget.html' %}

{% endblock content %}
