{% extends "base.html" %}
{% load boxes %}
{% load sitetree %}

{% block body_attributes %}class="python pages default-page"{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block content_attributes %}with-left-sidebar{% endblock %}


{% comment %}
Possible to insert the title of the parent page if available? 
Example: "Getting Started | About | Python.org" where "About" is the parent page/section of "Getting Started"
{% endcomment %}
{% block page_title %}{{ page.title }} | {{ SITE_INFO.site_name }}{% endblock %}


{% block content %}
    <article class="text">
        
        <header class="article-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>
        
        {{ page.content }}

    </article>
{% endblock content %}


{% block left_sidebar %}
{% comment %}
TODO: should this partially come from sitetree?
{% endcomment %}

<aside class="left-sidebar" role="secondary">

    {% include "components/navigation-widget.html" %}
    
    {% comment %}
    
    No good! Using the old Twitter API. Connect via Twitter another way. 
    
    <div class="twitter-widget sidebar-widget">

        <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script type="text/javascript">// <![CDATA[
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 3,
          interval: 30000,
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#f2f2f2',
              color: '#666666'
            },
            tweets: {
              background: '#f2f2f2',
              color: '#666666',
              links: '#3776ab'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('ThePSF').start();
        // ]]></script> 
    </div>
    {% endcomment %}

    <div class="psf-sidebar-widget sidebar-widget">
        {% box 'widget-sidebar-aboutpsf' %}
        
    </div>
    
</aside>

{% endblock left_sidebar %}
