{% extends "base.html" %}
{% load boxes %}
{% load sitetree %}

{% block body_attributes %}class="python pages pep-page"{% endblock %}

{% block content_attributes %}with-left-sidebar{% endblock %}

{% block page_title %}{{ page.title }} | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs menu">
    <li>
        <a href="/" title="The Python Programming Language">Python</a><span class="prompt">&gt;&gt;&gt;</span>
    </li>
    <li>
        <a href="/dev/">Python Developer's Guide</a><span class="prompt">&gt;&gt;&gt;</span>
    </li>
    <li>
        <a href="/dev/peps/">PEP Index</a><span class="prompt">&gt;&gt;&gt;</span>
    </li>
    <li>{{ page.title }}</li>
</ul>
{% endblock %}
.
{% block content %}
<style>
   .pep-page pre {
        padding: .5em;
        background: inherit;
        border-left: 0px;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
   }
   .pep-page pre.literal-block {
       background-color: #e6e8ea;
       border: 1px solid #ddd;
       padding: 1em;
       -webkit-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
       -moz-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
       box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
   }
</style>

    {% if not page.is_published %}
    <div class="user-feedback level-notice">
        <p role="alert">This page is a draft and it hasn't been published yet. Only staff users can see it.</p>
    </div>
    {% endif %}
    <article class="text">
        {% if request.user.is_staff %}
        <a role="button" class="button" href="{% url 'admin:pages_page_change' page.pk %}">Edit this page</a>
        {% endif %}

        <header class="article-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>

        {{ page.content }}

    </article>
{% endblock content %}


{% block left_sidebar %}
{% comment %}
TODO: should this partially come from sitetree?
{% endcomment %}

<aside class="left-sidebar" role="secondary">

    {% include "components/navigation-widget.html" %}

    {% include "components/tweets-from-psf.html" %}

    <div class="psf-sidebar-widget sidebar-widget">
        {% box 'widget-sidebar-aboutpsf' %}

    </div>

</aside>

{% endblock left_sidebar %}
