{% extends "landing.html" %}

{% block body_attributes %}class="python success-stories"{% endblock %}

{% block header_content %}
            <div class="header-banner">
                <div class="featured-success-story">
                    
                    <img src="{{ STATIC_URL }}img/google-trans.png" alt="Google">
                    
                    <blockquote class="success-quote">
                        Python allows us to produce maintainable features in record times, with a minimum of developers.
                    </blockquote>
                    <footer>
                        <p class="quote-by"><cite>Cuong Do, Software Architect</cite></p>
                        <p class="quote-by-organization">YouTube.com</p>
                    </footer>
                </div>
        	</div>
{% endblock header_content %}



{% block content %}
                <div class="row">
                    <div class="medium-widget success-story">
                        <div class="shrubbery">
                            <img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it">
                            <h2 class="widget-title">Optimizing programming</h2>
                            <p class="success-quote">Python has reduced costs by speeding development time, improved integration with myriad suppliers. <a class="readmore" href="#">Read more</a></p>
                        </div>
                    </div>
                    
                    <div class="medium-widget success-story last">
                        <div class="shrubbery">
                            <img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it">
                            <h2 class="widget-title">Optimizing programming</h2>
                            <p class="success-quote">Python has reduced costs by speeding development time, improved integration with myriad suppliers. <a class="readmore" href="#">Read more</a></p>
                        </div>
                    </div>
                </div>
        		
        		
        		<div class="row newest-success-stories">
        		    
        		    <div class="row-title">
            		    <h2 class="widget-title">
            		        <span aria-hidden="true" class="icon-comment"></span>Newest success stories by category
            		        <a class="activity-feed" href="#"><span class="icon-list"></span>View as Activity Feed</a>
                        </h2>
                    </div>
                    
        		    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Arts</h3>
                        <p><a href="#">Super League Uses Python and PostgreSQL for Rapid Development</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Business</h3>
                        <p><a href="#">Frequentis TAPtools® - Python in Air Traffic Control</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Education</h3>
                        <p><a href="#">Python in The Blind Audio Tactile mapping System</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget success-story-category last">
                        <h3 class="widget-title">Engineering</h3>
                        <p><a href="#">IronPython at Resolver Systems: Python Learns New Tricks</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                
                </div>
                
                
                <div class="row">
        		    
        		    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Government</h3>
                        <p><a href="#">Python as Technology Enabler for TTTech&rsquo;s Development Software</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Scientific</h3>
                        <p><a href="#">AstraZeneca Uses Python for Collaborative Drug Discovery</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget success-story-category">
                        <h3 class="widget-title">Software Development</h3>
                        <p><a href="#">The Devil Framework: A Python-based Distributed System For Technology Integration</a></p>
                        <p><a class="readmore" href="#">See All</a></p>
                    </div>
                    
                    <div class="small-widget submit-your-success-story last">
                        <h3 class="widget-title">Submit Yours!</h3>
                        <p>Python users want to know more about Python in the wild. <a href="#">Tell us your story</a></p>
                    </div>
                
                </div>
{% endblock content %}