{% extends "successstories/base.html" %}
{% load honeypot %}

{% block page_title %}Submit Your Success Story | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python default-page success-story"{% endblock %}

{% block content %}
    
    <div class="text">

        <h1 class="page-title">Submit your Success Story</h1>
        
        <form class="wide-form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% render_honeypot_field %}
            <p><button type="submit" name="Submit">Submit</button></p>
        </form>
    
    </div>
    
{% endblock content %}
