{% extends "users/base.html" %}
{% load widget_tweaks %}
{% load humanize pipeline %}

{% block head %}
  {% stylesheet 'font-awesome' %}
{% endblock %}

{% block page_title %}
  {{ sponsorship }} assets | {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="psf signup default-page"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block user_content %}
  <div id="view-sponsorship-assets">
    <h1>View assets for {{ sponsorship.sponsor }} sponsorship</h1>

    {% for asset in provided_assets %}
      <p><b>{{ asset.sponsor_benefit }}</b> benefit provides you with {{ asset.label }}:</p>
      {% if asset.polymorphic_ctype.name == "Provided Text" %}
      <pre>{{ asset.value|urlize }}</pre>
      {% elif asset.polymorphic_ctype.name == "Provided File" %}
      <a href="{{ asset.value.url }}">View File</a>
      {% else %}
        {{ asset.value }}
      {% endif %}
      <small>{{ asset.help_text }}</small>
      <br><br>
    {% endfor %}

  </div>
{% endblock %}
