<h3>Event &ndash; <a href="{{ result.path }}">{{ result.name }}</a></h3>
{% with result.object.next_or_previous_time as next_time %}
{% if next_time.single_day %}
<!-- Single date with start and end times -->
<p class="single-event-date">
    <time class="single-date" datetime="{{ next_time.dt_start|date:'Y-m-d' }}">{{ next_time.dt_start|date:"d N" }}</time>
    <time class="time-start" datetime="{{ next_time.dt_start|date:'Y-m-d H:i' }}">from {{ next_time.dt_start|date:"fA"|lower }} {{ next_time.dt_start|date:"e" }}</time>
    {% if next_time.valid_dt_end %}
    <time class="time-end" datetime="{{ next_time.dt_end|date:'Y-m-d H:i' }}">to {{ next_time.dt_end|date:"fA"|lower }} {{ next_time.dt_end|date:"e" }}</time>{% endif %},
    <time class="year" datetime="{{ next_time.dt_end|date:'Y' }}">{{ next_time.dt_end|date:"Y" }}</time>
</p>

{% else %}

<!-- Different start and end dates -->
<p class="single-event-date">
    <time class="date-start" datetime="{{ next_time.dt_start|date:'c' }}">From {{ next_time.dt_start|date:"d N" }}{% if not next_time.all_day %} at {{ next_time.dt_start|date:"fA"|lower }} {{ next_time.dt_start|date:"e" }}{% endif %}</time> 
    <time class="date-end" datetime="{{ next_time.dt_end|date:'c' }}">through {{ next_time.dt_end|date:"d N" }}{% if not next_time.all_day %} at {{ next_time.dt_end|date:"fA"|lower }} {{ next_time.dt_end|date:"e" }}{% endif %}</time>, 
    <time class="year" datetime="{{ next_time.dt_end|date:"Y" }}">{{ next_time.dt_end|date:"Y" }}</time>
</p>
{% endif %}
{% endwith %}

{% if result.venue %}
<p>Location: {{ result.venue }}</p>
{% endif %}

<p>{{ result.description|safe }}</p>