{% load events %}

<h3>Event &ndash; <a href="{{ result.path }}">{{ result.name }}</a></h3>
{% with result.object.next_or_previous_time as next_time %}
{% with next_time.dt_start as dt_start %}
    
{% if next_time.single_day %}
    
{% with next_time.dt_end as dt_end %}    
<!-- Single date with start and end times -->
<p class="single-event-date">
    <time class="single-date" datetime="{{ dt_start|date:'Y-m-d' }}">{{ dt_start|date:"d N" }}</time>
    <time class="time-start" datetime="{{ dt_start|date:'Y-m-d H:i' }}">
    {% if not next_time.all_day %}
        from {{ dt_start|date:"fA"|lower }} {{ dt_start|date:"e" }}
    {% endif %}
    </time>
    {% if next_time.valid_dt_end %}
    <time class="time-end" datetime="{{ dt_end|date:'Y-m-d H:i' }}">
    {% if not next_time.all_day %}
        to {{ dt_end|date:"fA"|lower }} {{ dt_end|date:"e" }},
    {% endif %}
    </time>
    {% endif %}
    <time class="year" datetime="{{ dt_end|date:'Y' }}">{{ dt_end|date:"Y" }}</time>
</p>
{% endwith %}
    
{% elif next_time.all_day %}

{% with next_time.dt_end|exclude_ending_day as dt_end %}    
<!-- Different start and end dates -->
<p class="single-event-date">
    <time class="date-start" datetime="{{ dt_start|date:'c' }}">
        From {{ dt_start|date:"d N" }}
        {% if not next_time.all_day %} at {{ dt_start|date:"fA"|lower }} {{ dt_start|date:"e" }}{% endif %}
    </time> 
    <time class="date-end" datetime="{{ dt_end|date:'c' }}">
        through {{ dt_end|date:"d N" }}{% if not next_time.all_day %} at {{ dt_end|date:"fA"|lower }} {{ dt_end|date:"e" }}{% endif %},
    </time>
    <time class="year" datetime="{{ dt_end|date:"Y" }}">{{ dt_end|date:"Y" }}</time>
</p>
{% endwith %}

{% else %}

{% with next_time.dt_end as dt_end %}
<!-- Different start and end dates -->
<p class="single-event-date">
    <time class="date-start" datetime="{{ dt_start|date:'c' }}">
        From {{ dt_start|date:"d N" }}
        {% if not next_time.all_day %} at {{ dt_start|date:"fA"|lower }} {{ dt_start|date:"e" }}{% endif %}
    </time>
    <time class="date-end" datetime="{{ dt_end|date:'c' }}">
        through {{ dt_end|date:"d N" }}{% if not next_time.all_day %} at {{ dt_end|date:"fA"|lower }} {{ dt_end|date:"e" }}{% endif %},
    </time>
    <time class="year" datetime="{{ dt_end|date:"Y" }}">{{ dt_end|date:"Y" }}</time>
</p>
{% endwith %}

{% endif %}
    
{% endwith %}    
{% endwith %}

{% if result.venue %}
<p>Location: {{ result.venue }}</p>
{% endif %}

<p>{{ result.description|safe }}</p>