{% extends "base.html" %}
{% load imagekit %}
{% load boxes %}

{% block page_title %}Our Success Stories | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python success-stories"{% endblock %}


{% block header_content %}
    <div class="featured-success-story">

        <figure class="blockquote">

            {#  Need a way to set a "Featured" Success Story for this spot up here #}

            {% comment %}
            The PSF will have to get permission to use the logos on the website.
            So don't display a broken image for now.
            <img src="{{ STATIC_URL }}img/google-trans.png" alt="Google">
            See https://github.com/python/pythondotorg/issues/106
            {% endcomment %}

            <blockquote class="success-quote">
                Python allows us to produce maintainable features in record times, with a minimum of developers.
            </blockquote>
            <figcaption>
                <p class="quote-by"><cite>Cuong Do, Software Architect</cite></p>
                <p class="quote-by-organization">YouTube.com</p>
            </figcaption>
        </figure>

    </div>
{% endblock header_content %}


{% block content %}
    <div class="row">
        <div class="row-title">
            <h2 class="widget-title">
                <span aria-hidden="true" class="icon-success-stories"></span>Newest success stories
            </h2>
        </div>
        {% for story in object_list %}
            {% thumbnail '240x80' story.company.logo as th %}
            <div class="medium-widget success-story{% if forloop.counter|divisibleby:'2' %} last{% endif %}">
                <div class="shrubbery">

                    {% if story.company.logo %}<img src="{{ th.url }}" alt="{{ story.name }}" width="{{ th.width }}" height="{{ th.height }}">{% endif %}
                    <h2 class="widget-title"><a href="{{ story.get_absolute_url }}">{{ story.name }}</a></h2>
                    <p class="success-quote">
                        {{ story.pull_quote }} <a class="readmore" href="{{ story.get_absolute_url }}">Read more</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% load successstories %}
    {% get_story_categories as story_categories %}

    <div class="row newest-success-stories">

        <div class="row-title">
            <h2 class="widget-title">
                <span aria-hidden="true" class="icon-success-stories"></span>Newest success stories by category
                {% comment %}
                <a class="activity-feed" href="#"><span class="icon-list"></span>View as Activity Feed</a>
                {% endcomment %}
            </h2>
        </div>

        {% for story_category in story_categories %}
            <div class="small-widget success-story-category {% if forloop.counter|divisibleby:"4" %}last{% endif %}">
                <h3 class="widget-title">{{ story_category.name }}</h3>
                {% get_stories_by_category category_slug=story_category.slug as category_stories %}
                {% for story in category_stories %}
                    <p><a href="{{ story.get_absolute_url }}">{{ story.name }}</a></p>
                {% endfor %}
                <p><a class="readmore" href="{{ story_category.get_absolute_url }}">See All</a></p>
            </div>

            {% if forloop.last %}
            <div class="small-widget submit-your-success-story last">
                {% box 'successstory-submityours' %}
            </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock content %}
