<!-- successstories supernav from templates/successstories/supernav.html -->
       <li class="tier-2 super-navigation">
            {% if story.image %}
            <img src="{{ story.image.url }}" alt="{{ story.get_company_name }}">
            {% endif %}
            <blockquote class="success-quote">
                {{ story.pull_quote }}
            </blockquote>
            <p class="quote-by"><cite>{{ story.author }}</cite>, {% if story.get_company_url %}<a href="{{ story.get_company_url }}">{{ story.get_company_name }}</a>{% else %}{{ story.get_company_name }}{% endif %}</p>

        </li>