{% extends "base.html" %}


{% block page_title %}{{ object.title|striptags }} | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}{{ object.title|striptags }}{% endblock %}

{% block body_attributes %}class="python default-page single-event"{% endblock %}

{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}

                <article class="text">
            		
            		<h1 class="single-event-title">
                        {{ object.title|striptags }}
                    </h1>

                    {% if object.venue %}
                    <span class="single-event-location">
                        {% if object.venue.url %}<a href="{{ object.venue.url }}">{% endif %}{{ object.venue.name }}{% if object.venue.url %}</a>{% endif %}
                        {% if object.venue.address %}, {{ object.venue.address }}{% endif %}
                    </span>
                    {% endif %}
                    
                    {% with object.next_or_previous_time as next_time %}
                    {% if next_time.single_day %}
                    <!-- Single date with start and end times -->
                    <h3 class="single-event-date">
                        <time class="single-date" datetime="{{ next_time.dt_start|date:'Y-m-d' }}">{{ next_time.dt_start|date:"d N" }}</time> 
                        <time class="time-start" datetime="{{ next_time.dt_start|date:'Y-m-d H:i' }}">{% if not next_time.all_day %}from {{ next_time.dt_start|date:"fA"|lower }} {{ next_time.dt_start|date:"e" }}{% endif %}</time> 
                        {% if next_time.valid_dt_end %}
                        <time class="time-end" datetime="{{ next_time.dt_end|date:'Y-m-d H:i' }}">{% if not next_time.all_day %}to {{ next_time.dt_end|date:"fA"|lower }} {{ next_time.dt_end|date:"e" }}</time>{% endif %}{% endif %}, 
                        <time class="year" datetime="{{ next_time.dt_end|date:'Y' }}">{{ next_time.dt_end|date:"Y" }}</time>
                    </h3>

                    {% else %}

                    <!-- Different start and end dates -->
                    <h3 class="single-event-date">
                        <time class="date-start" datetime="{{ next_time.dt_start|date:'c' }}">From {{ next_time.dt_start|date:"d N" }}{% if not next_time.all_day %} at {{ next_time.dt_start|date:"fA"|lower }} {{ next_time.dt_start|date:"e" }}{% endif %}</time> 
                        <time class="date-end" datetime="{{ next_time.dt_end|date:'c' }}">through {{ next_time.dt_end|date:"d N" }}{% if not next_time.all_day %} at {{ next_time.dt_end|date:"fA"|lower }} {{ next_time.dt_end|date:"e" }}{% endif %}</time>, 
                        <time class="year" datetime="{{ next_time.dt_end|date:"Y" }}">{{ next_time.dt_end|date:"Y" }}</time>
                    </h3>
                    {% endif %}
                    {% endwith %}
                    
                    <!-- Add a display for Recurrence Rules? -->
                    
                    
                    <!-- User input html/markup/rst/whatever -->
                    <div class="event-description">
                        {{ object.description.rendered|safe }}
                    </div>
                </article>
                
                
                <!-- Next or Previous Events by date and location (Keep them in the sphere of this Event's location, or only sort by date?) -->
                <p class="previous-next">
                    
                    {% if object.previous_event %}
                    {% with object.previous_event as event %}
                    <a class="prev-button" href="{{ event.get_absolute_url }}">
                        <span class="prev-button-text"><span class="icon-arrow-left"><span>&larr;</span></span> Previous</span>
                        <span class="prevnext-description">
                            <span class="event-name">{{ event.title|striptags }}</span>{% if event.venue %} in <span class="event-location">{{ event.venue.name }}</span>{% endif %}
                        </span>
                    </a>
                    {% endwith %}
                    {% endif %}
                    
                    {% if object.next_event %}
                    {% with object.next_event as event %}
                    <a class="next-button" href="{{ event.get_absolute_url }}">
                        <span class="next-button-text">Next <span class="icon-arrow-right"><span>&rarr;</span></span></span>
                        <span class="prevnext-description">
                            <span class="event-name">{{ event.title|striptags }}</span>{% if event.venue %} in <span class="event-location">{{ event.venue.name }}</span>{% endif %}
                        </span>
                    </a>
                    {% endwith %}
                    {% endif %}
                    
                </p>
                
                
{% endblock content %}



{% block right_sidebar %}
            <aside class="right-sidebar">
                
                <div class="sidebar-widget more-by-location">
                    <h3 class="widget-title">Explore events{# near <!-- The current location--><a href="{{ object.venue.get_absolute_url }}">{{ object.venue.name }}</a> #}</h3>
                
                    <!-- If we wanna have more fun with it, we can allow the user to choose to expand the location matching before they go anywhere and load more events below with Ajax -->
                        
                    <form>
                        <fieldset title="Narrow or expand the event search by timeframe">
                            {% comment %}
                            <p><select name="">
                                <option value="-">-- Change your location range</option>
                                <option value="-">Within 10 miles</option>
                                <option value="-">Within 50 miles</option>
                                <option value="-">Within 100 miles</option>
                                <option value="-">Within 250 miles</option>
                            </select></p>
                            {% endcomment %}
                            
                            <p><select name="" id="dataRangeSelect">
                                <option value="-">-- Change your date range</option>
                                {% if next_7 %}
                                {% with next_7 as dt %}
                                <option value="{% url 'events:eventlist_date' calendar_slug=view.kwargs.calendar_slug year=dt|date:'Y' month=dt|date:'m' day=dt|date:'d' %}">The next 7 days</option>
                                {% endwith %}
                                {% endif %}

                                {% if next_30 %}
                                {% with next_30 as dt %}
                                <option value="{% url 'events:eventlist_date' calendar_slug=view.kwargs.calendar_slug year=dt|date:'Y' month=dt|date:'m' day=dt|date:'d' %}">The next 30 days</option>
                                {% endwith %}
                                {% endif %}

                                {% if next_90 %}
                                {% with next_90 as dt %}
                                <option value="{% url 'events:eventlist_date' calendar_slug=view.kwargs.calendar_slug year=dt|date:'Y' month=dt|date:'m' day=dt|date:'d' %}">The next 90 days</option>
                                {% endwith %}
                                {% endif %}

                                {% if next_365 %}
                                {% with next_365 as dt %}
                                <option value="{% url 'events:eventlist_date' calendar_slug=view.kwargs.calendar_slug year=dt|date:'Y' month=dt|date:'m' day=dt|date:'d' %}">The next year</option>
                                {% endwith %}
                                {% endif %}

                            </select></p>
                        </fieldset>
                    </form>
                    {% comment %}
                    <ul class="menu">
                        <li><a href="#">Event number 1</a></li>
                        <li><a href="#">Event number 2</a></li>
                        <li><a href="#">Event number 3</a></li>
                        <li><a href="#">Event number 4</a></li>
                        <li><a href="#">Event number 5</a></li>
                    </ul>
                    {% endcomment %}
                </div>
                
                {% if object.venue %}
                {% with object.venue as venue %}
                {% if venue.events.all %}
                <div class="sidebar-widget more-by-venue">
                    <h3 class="widget-title">More events at <!-- The current venue--><a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a></h3>
                    <ul class="menu">
                        {% for event in venue.events.all %}
                        <li><a href="{{ event.get_absolute_url }}">{{ event.title|striptags }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                {% endif %}
                
                {% for category in object.categories.all %}
                {% if category.events.all %}
                <div class="sidebar-widget more-by-category">
                    <h3 class="widget-title">More events in <!-- The current category--><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h3>
                    <ul class="menu">
                        {% for event in category.events.all %}
                        <li><a href="#">{{ event.title|striptags }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}

            </aside>
{% endblock right_sidebar %}

{% block javascript %}
{{ block.super }}
<script>
$(function(){
    $('#dataRangeSelect').change(function(e) {
        window.location = $(this).val();
    });
});
</script>
{% endblock %}
