{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Our Events | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Our Past Events{% endblock %}

{% block body_attributes %}class="python events{% if not featured %} default-page{% endif %}"{% endblock %}


{% block header_content %}
    {% if featured %}
                <div class="featured-event">

                    <h2 class="welcome-message">Featured Python Event</h2>

                    <h1 class="call-to-action">{{ featured.title|striptags }}</h1>

                    <p class="event-date"><time datetime="{{ featured.next_datetime.dt_start|date:'c' }}">
                        {{ featured.next_datetime.dt_start|date:"l, F d, Y" }}
                    </time></p>
                    <p class="excerpt">{{ featured.description.rendered|striptags|truncatewords:"60" }} <a class="readmore" href="{{ featured.get_absolute_url }}">Read more</a></p>
                </div>
    {% endif %}
{% endblock header_content %}



{% block content_attributes %}with-right-sidebar{% endblock %}

{# Based on python/events.html #}

{% block content %}
        
        {% if calendar %}
        <header class="article-header">
            <h3>from the {{ calendar.name }}</h3>
        </header>
        {% endif %}
        
        <div class="most-recent-events">
            <div class="shrubbery">
                <h2 class="widget-title"><span aria-hidden="true" class="icon-calendar"></span>Past Events</h2>
                {% if page_obj.has_next %}
                <p class="give-me-more"><a href="?page={{ page_obj.next_page_number }}" title="More Events">More</a></p>
                {% endif %}
                <ul class="list-recent-events menu">
                {% for object in object_list %}
                    <li>
                        <h3 class="event-title"><a href="{{ object.get_absolute_url }}">{{ object.title|striptags }}</a></h3>
                        <p>
                            {% with object.previous_time as next_time %}
                            {% include "events/includes/time_tag.html" %}
                            {% endwith %}

                            {% if object.venue %}
                            <span class="event-location">{% if object.venue.url %}<a href="{{ object.venue.url }}">{% endif %}{{ object.venue.name }}{% if object.venue.url %}</a>{% endif %}{% if object.venue.address %}, {{ object.venue.address }}{% endif %}</span>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock content %}



{% block right_sidebar %}
    <aside class="right-sidebar" role="secondary">
        <div class="sidebar-widget subscribe-widget">
            <h2 class="widget-title">Python Event Subscriptions</h2>
            <p>Subscribe to Python Event Calendars:</p>
            <ul class="menu">
                {% if calendar.embed %}<li><a href="{{ calendar.embed }}"><span aria-hidden="true" class="icon-embed"></span>Embeddable widget</a></li>{% endif %}
                {% if calendar.rss %}<li><a href="{{ calendar.rss }}"><span aria-hidden="true" class="icon-feed"></span>Events via RSS</a></li>{% endif %}
                {% if calendar.url %}<li><a href="{{ calendar.url }}"><span aria-hidden="true" class="icon-ical"></span>Events in iCal format</a></li>{% endif %}
                {% if calendar.twitter %}<li><a href="{{ calendar.twitter }}"><span aria-hidden="true" class="icon-twitter"></span>Events on Twitter</a></li>{% endif %}
            </ul>

            {% box 'events-subscriptions' %}

        </div>
        
        {% if event_categories %}
        <div class="sidebar-widget eventtypes-widget">
            <h2 class="widget-title">Event Categories</h2>
            <p class="give-me-more"><a href="#" title="More Event Categories">More</a></p>
            <ul class="menu">
                {% for category in event_categories %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
                <li><a class="readmore" href="{% url 'events:eventcategory_list' calendar_slug=view.kwargs.calendar_slug %}">More Types</a></li>
            </ul>
        </div>
        {% endif %}
        
        {% comment %}
        Less useful to look at and use than I thought they might be. 
        Titles of locations are the whole address most times, and unless someone in the DB controlled the way they were written and presented, this might always be a mess 
        {% if event_locations %}
        <div class="sidebar-widget authors-widget">
            <h2 class="widget-title">Event Locations</h2>
            <p class="give-me-more"><a href="#" title="More Event Locations">More</a></p>
            <ul class="menu">
                {% for location in event_locations %}
                <li><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></li>
                {% endfor %}
               <li><a class="readmore" href="{% url 'events:eventlocation_list' calendar_slug=view.kwargs.calendar_slug %}">More Locations</a></li>
            </ul>
        </div>
        {% endif %}
        {% endcomment %}
        
    </aside>
{% endblock right_sidebar %}
