{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Our Blogs | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Our Blogs{% endblock %}

{% block body_attributes %}class="python blog"{% endblock %}

{% block header_content %}
                <div class="latest-blog-post">

                    <h2 class="welcome-message">Welcome to the <span class="blog-name">Python Insider</span></h2>

                    <h1 class="call-to-action">{{ latest_entry.title }}</h1>

                    <p class="date-posted"><time datetime="{{ latest_entry.pub_date|date:"Y-m-d H:i|s" }}">{{ latest_entry.pub_date }}</time></p>
                    <p class="excerpt">{{ latest_entry.excerpt|striptags|truncatewords:50|safe }}
                    <a class="readmore" href="{{ latest_entry.url }}">Read more</a></p>
                </div>
{% endblock header_content %}



{% block content %}
                <div class="row">

                    <div class="most-recent-posts">
                        <div class="shrubbery">
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-news"></span>Latest News</h2>
                            <p class="give-me-more"><a href="{{ BLOG_URL }}" title="More News">More</a></p>
                            <ul class="list-recent-posts menu">

                                {% for entry in entries %}
                                <li>
                                    <h3 class="event-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                                    <p><time datetime="{{ entry.pub_date|date:"Y-m-d" }}">{{ entry.pub_date|date }}</time></p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="small-widget subscribe-widget last">
                        {% box 'blogs-subscriptions' %}
                    </div>

                    <div class="small-widget copyright-widget last">
                        {% box 'blogs-copyright' %}
                    </div>

                </div>

{% endblock content %}
