@mixin embossed_text {
	@include text-shadow( 0 1px 1px rgba(255,255,255,0.8), 0 -1px 1px rgba(0,0,0,0.2)  ); 
}

@mixin inset_box_base( $style: light ) {
    display: inline-block; 
    padding: .5em .75em .4em; 
    margin-botttom: 5px; 
    line-height: 1; 
    @include border-radius(); 
    
    @if $style == light {
            // @include box-shadow( 0 1px 1px #ffffff, 0 1px 2px rgba(153,153,153,0.5) inset, 0 2px 4px rgba(153,153,153,0.5) );
            @include box-shadow( inset 0 1px 2px rgba(153,153,153,0.5) );
            // background: center repeat url("../img/whitenoise-5per.png") #ccc;
            background: #ccc;
            
            &:hover, &:focus, &:active {
                // background-color: #e6e6e6;
                background: #d6d6d6;
            }
        }
    @if $style == dark {
            @include box-shadow( 0 1px 1px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,0.8) inset, 0 2px 3px rgba(0,0,0,0.8) ); 
            // background: center repeat url("../img/whitenoise-5per.png") #444;
            background: #444;
            
            &:hover, &:focus, &:active {
                background-color: #222;
            }
        }
}

/* An element than can force a line break, to be used inside certain breakpoints on lines of text or bwteen elements */
@mixin breaker_bar() {
    display: block; 
    width: 100%; 
    height: 1px; 
    font-size: 1px; 
    line-height: 1px;
}

/* A pointer mix-in. Something to help make little triangles easy. Apply to a :before or :after element */
@mixin pointer( $size ) {
    position: absolute; 
    content: ""; 
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: $size; 
}

/* Base styles for a navigation mixin */
@mixin horizontal_nav_base() {
    text-align: center; 
    overflow: visible; 
    
    /*ul*/ .menu {
        margin-bottom: 0; 
    }
    .tier-1 , .tier-2 {
        
        /* We do this more explictly (the descendant selector) to avoid also styling links in the Supernav content */
        & > a {
            display: block; 
            padding: .5em 1.5em .4em 1em; 
            position: relative; 
        }
    }
    /*li*/ .tier-1 {
        display: block; 
        width: 100%; 
        
        & > a {
            text-align: center;
        }
    }
    /*li*/ .tier-2 {
        
        & > a {
            text-align: left;
        }
    }
}

/* Base styles for a navigation with dropdowns mixin */
@mixin horizontal_nav_dropdowns() {
    
    /*ul*/ .menu {
        @include pie-clearfix(); 
    }
    .tier-1 {
        position: relative; 
        
        /*modernizr*/ &:hover .subnav, &:focus .subnav, .touch & .subnav.touched {
            left: 0; 
        }
        &.last:hover .subnav, &.last:focus .subnav, 
        &.element-5:hover .subnav, &.element-5:focus .subnav, &.element-5:hover .subnav.touched,  
        &.element-6:hover .subnav, &.element-6:focus .subnav, &.element-6:hover .subnav.touched,
        &.element-7:hover .subnav, &.element-7:focus .subnav, &.element-7:hover .subnav.touched,
        &.element-8:hover .subnav, &.element-8:focus .subnav, &.element-8:hover .subnav.touched, {
            left: auto; 
            right: 0; 
        }
    }
    .subnav {
        position: absolute; top: 100%; left: -999em;  
        z-index: 100; 
        text-align: left; 
        
        /*modernizr*/ .no-touch & {
            min-width: 100%; 
        }
        /*modernizr*/ .touch & {
            top: 120%;
            @include box-shadow( 0 .25em .75em rgba( #000, 0.6 )  ); 
            
            &:before {
                @include pointer( .75em ); 
                top: -1.45em; 
                left: 1em; 
            	display: block; 
            }
        }
    }
    /*modernizr*/ .touch & .tier-1.last .subnav:before,
    .touch .element-5 &:before, 
    .touch .element-6 &:before, 
    .touch .element-7 &:before, 
    .touch .element-8 &:before {
        left: auto; 
        right: 1em; 
    }
    .tier-2 {
        display: block;
        min-width: 100%; 
        
        a {
            white-space: nowrap; 
        }
    }
    /* <li class="tier-2 element-0 close-subnav" role="treeitem">
            <a class="close-for-touch" href="#">Close Menu</a> 
            <a class="close-for-touch close-graphic" href="#">&times;</a>
        </li>
        or
        <li class="tier-2 element-0 close-subnav" role="treeitem">
            <a href="/about">About</a>
            <a class="close-for-touch close-graphic" href="#">&times;</a>
        </li>
    /* If JS doesn't load, make the default appearance hidden, since the trigger to reset focus needs JS */
    .close-subnav {
        display: none; 
        text-align: left; 
        white-space: nowrap; 
        position: relative; 
        
        /*modernizr*/ .js.touch & {
            display: block; 
        }
        & > a {
            display: block; 
            padding-right: px2em( 52px ); 
            font-weight: bold; 
        }
        .close-graphic {
            display: block; 
            color: $red; 
            font-size: px2em( 30px ); 
            font-weight: bold; 
            position: absolute; 
            top: 0; right: 0; 
            text-align: center; 
            width: px2em( 48px, 30px ); 
            padding: .18em 0 .25em; 
            background: rgba( $white, .2 ); 
            @include text-shadow( -1px 0 0 $white ); 
        }
        
    }
}