@mixin embossed_text {
	@include text-shadow( 0 1px 1px rgba(255,255,255,0.8), 0 -1px 1px rgba(0,0,0,0.2)  ); 
}

@mixin inset_box_base( $style: light ) {
    display: inline-block; 
    padding: .5em .75em .4em; 
    margin-botttom: 5px; 
    line-height: 1; 
    @include border-radius(); 
    
    @if $style == light {
            // @include box-shadow( 0 1px 1px #ffffff, 0 1px 2px rgba(153,153,153,0.5) inset, 0 2px 4px rgba(153,153,153,0.5) );
            @include box-shadow( inset 0 1px 2px rgba(153,153,153,0.5) );
            // background: center repeat url("../img/whitenoise-5per.png") #ccc;
            background: #ccc;
            
            &:hover, &:focus, &:active {
                // background-color: #e6e6e6;
                background: #d6d6d6;
            }
        }
    @if $style == dark {
            @include box-shadow( 0 1px 1px rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,0.8) inset, 0 2px 3px rgba(0,0,0,0.8) ); 
            // background: center repeat url("../img/whitenoise-5per.png") #444;
            background: #444;
            
            &:hover, &:focus, &:active {
                background-color: #222;
            }
        }
}

/* An element than can force a line break, to be used inside certain breakpoints on lines of text or bwteen elements */
@mixin breaker_bar() {
    display: block; 
    width: 100%; 
    height: 1px; 
    font-size: 1px; 
    line-height: 1px;
}

/* A pointer mix-in. Something to help make little triangles easy. Apply to a :before or :after element */
@mixin pointer( $size ) {
    position: absolute; 
    content: ""; 
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: $size; 
}

/* Base styles for a navigation mixin */
@mixin horizontal_nav_base() {
    text-align: center; 
    overflow: visible; 
    
    /*ul*/ .menu {
        margin-bottom: 0; 
    }
    .tier-1, .tier-2 {
        
        /* We do this more explictly (the descendant selector) to avoid also styling links in the Supernav content */
        & > a {
            display: block; 
            padding: .5em 1.5em .4em 1em; 
            position: relative; 
        }
    }
    /*li*/ .tier-1 {
        display: block; 
        width: 100%; 
        
        & > a {
            text-align: center;
        }
    }
    /*li*/ .tier-2 {
        
        & > a {
            text-align: left;
        }
    }
}


/* Base styles for a navigation with dropdowns mixin */
@mixin horizontal_nav_dropdowns() {
    
    /*ul*/ .menu {
        @include pie-clearfix(); 
    }
    
    .tier-1 {
        position: relative; 
    }
    
    .subnav {
        position: absolute; 
        top: 100%;  
        z-index: 100; 
        text-align: left; 
        
        /*modernizr*/ .no-touch & {
            min-width: 100%; 
        }
        
        /*modernizr*/ .touch & {
            top: 120%;
            @include box-shadow( 0 .25em .75em rgba( #000, 0.6 )  ); 
            
            &:before {
                @include pointer( .75em ); 
                top: -1.45em; 
                display: block; 
            }
        }
    }
    
    .no-touch & {
        
        .element-1, .element-2, .element-3, .element-4 {
            
            .subnav {
                top: -9999px; 
                @include transition( all 0s ease ); 
            }
            &:hover .subnav, &:focus .subnav {
                left: 0; 
                top: 100%; 
                @include transition-delay( .25s ); 
            }
        }
        
        .element-5, .element-6, .element-7, .element-8, .last {
            
            .subnav {
                display: none; 
                opacity: 0; 
                @include transition( opacity .25s ease-in-out );
            }
            &:hover .subnav, & .subnav.touched {
                display: block; 
                opacity: 1; 
                right: 0; 
            }
            /* Position the pointer element */
            & .subnav:before {
                left: auto; 
                right: 1.5em; 
            }
        }
    }
    
    .tier-2 {
        display: block;
        min-width: 100%; 
        
        a {
            white-space: nowrap; 
        }
    }
}


/* Ruleset for a two-tier, stacked version of the main navigation -- DESKTOP ONLY -- */
@mixin stacked_nav() {
    
    .no-touch {
     
        .main-navigation {
            display: block; 
            border-top: 0;
            text-align: center; 
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2) );
            //@include horizontal_nav_dropdowns(); 
            @include pie-clearfix(); 
            
            .tier-1 {
                position: relative; 
                float: left; 
                width: 33.333333%;
                // @include pe-border( $color-top: rgba( #fff, .2 ), $color-left: rgba( #fff, .1 ), $color-bottom: rgba( #000, .3 ), $color-right: rgba( #000, .2 ) ); 
                
                .subnav {
                    position: absolute; 
                    z-index: 100; 
                    text-align: left; 
                    top: -9999px; 
                    min-width: 100%; 
                    @include transition( all 0s ease ); 
                }
                &:hover .subnav, &:focus .subnav {
                    left: 0; 
                    top: 100%; 
                    @include transition-delay( .25s ); 
                }
                
                &.element-1 {
                    @include border-top-left-radius( 8px );
                    
                    & > a { @include border-top-left-radius( 7px ); }
                }
                &.element-3 {
                    @include border-top-right-radius( 8px ); border-right: 0;
                    
                    & > a { @include border-top-right-radius( 7px ); border-right: 0; }
                }
                &.element-6, &.element-7 {
                    width: 16.6666665%;
                }
            }
            .tier-2 {
                
                & > a {
                    @include pe-border( $color-right: rgba( #fff, .8 ) );
                }
            }
        }
    }
}


/* Ruleset for a single row of main navigation -- DESKTOP ONLY -- */
@mixin horizontal_nav() {
    
    .main-navigation {
        display: block; 
        //margin: 0 -.625em;
        text-align: center; 
        font-size: px2em( 18px );
        @include border-radius(8px);
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2) );
        
        @include horizontal_nav_dropdowns();
        
        .menu {
            text-align: center; 
        }
        .tier-1 {
            float: none; 
            border-top: 0;
            border-bottom: 0;
            width: auto; 
            margin: 0 -5px 0 0; 
            @include pe-inline-block(); 
            @include pe-border( $color-left: rgba( #fff, .1 ), $color-right: rgba( #000, .2 ) ); 
            
            &.element-1 {
                border-left: 0; 
            }
            &.last {
                border-right: 0; 
            }
            /* We've set this explicitly before, so we need to reset the width value explicitly */
            &.element-6, &.element-7 {
                width: auto; 
            }
        }
        .tier-1 > a {
            padding: .65em 1.25em .55em;
        }
        .tier-2 {
            
        }
    }
    
    .navigation {
        
        .close-subnav {
            border-top: 0;
             
            a {
                @include pe-border( $color-right: rgba( #fff, .8 ) );
            }
            .close-for-touch {
                @include pe-border( $color-left: rgba( #666, .2 ), $color-right: transparent );
            }
        }
    }
    
    /* TO DO: With Javascript, look for a left-right swipe action and also trigger the menu to open */
    #touchnav-wrapper {
        
        .touch & {
            @include transition( transform 300ms ease ); 
            @include transform( translate3d( 0, 0, 0 ) ); 
            -webkit-backface-visibility: hidden; 
        }
        .touch .show-sidemenu & {
            @include transform( translate3d( 280px, 0, 0 ) ); 
        }
    }
    
    .inner .main-header {
        position: static; 
    }
}
