@import "base";
@import "functions";
@import "mixins";

/* Mixins for media query parts */
@import "layout";

@mixin javascript_tag( $content ) {
    content: $content; 
    display: none; 
    speak: none; 
}

/* 
 * We "label" the body with strings that correspond to js functions that we want to fire. 
 * A window.resize() event checks this label and functions fire when conditions are met 
 *
 * The nice part is, these labels can be strings with more than one item in them. 
 * As many JS functions that we want to fire at different widths can be controlled with tese labels.
 */


/* - - - Smaller than 400px - - - */
@media (max-width: px2em( 399px )) {

    @include max_width_399(); 

}


/* - - - Smaller than 480px - - - */
@media (max-width: px2em( 480px )) {

    body:after {
        @include javascript_tag( 'animatebody' ); 
    }
    @include max_width_480(); 

}


/* - - - Larger than 400px - - - */
@media (min-width: px2em( 400px )) {
    
    body:after {
        @include javascript_tag( 'animatebody' ); 
    }
    @include min_width_400(); 

}


/* - - - Larger than 480px - - - */
@media (min-width: px2em( 480px )) {
    
    body:after {
        @include javascript_tag( 'animatebody' ); 
    }
    @include min_width_480(); 

}


/* - - - Larger than 520px - - - */
@media (min-width: px2em( 520px )) {
    
    body:after {
        @include javascript_tag( 'animatebody' ); 
    }
    @include min_width_520(); 

}


/* - - - Larger than 640px, less that 940px - - - */
@media (min-width: px2em( 639px )) and (max-width: px2em( 940px )) {
    
    body:after {
        @include javascript_tag( 'drawer_navigation' ); 
    }
    @include stacked_nav(); 
}


/* - - - Larger than 640px, less that 940px - - - */
@media (min-width: px2em( 640px )) and (max-width: px2em( 940px )) {
    
    body:after {
        @include javascript_tag( 'drawer_navigation' ); 
    }
    @include min_width_640(); 
}


/* - - - Larger than 800px - - - */
@media (min-width: px2em( 800px )) {
    
    body:after {
        @include javascript_tag( 'drawer_navigation' ); 
    }
    @include min_width_800(); 

}


/* - - - Larger than 940px - - - */
@media (min-width: px2em( 940px )) {

    body:after {
        @include javascript_tag( 'drawer_navigation load_supernavs' ); 
    }
    
    @include horizontal_nav(); 
    
    @include min_width_940();
}


/* - - - Larger than 1024px - - - */
@media (min-width: px2em( 1024px )) {

    body:after {
        @include javascript_tag( 'drawer_navigation load_supernavs' ); 
    }
    
    @include min_width_1024();
}


/* - - - Larger than 1200px - - - */
@media (min-width: px2em( 1200px )) {

    body:after {
        @include javascript_tag( 'drawer_navigation load_supernavs' ); 
    }
    
    @include min_width_1200();
}
