{% load imagekit %}
{% load boxes %}

{% if featured_companies %}
<div class="sidebar-widget">
    <h3 class="widget-title">Featured Companies</h3>
    {% for company in featured_companies %}
    {% if company.logo %}
    {% thumbnail '240x80' company.logo as th %}
    <p>{% if company.url %}<a href="{{ company.url }}" rel="no-follow">{% endif %}<img src="{{ th.url }}" alt="{{ company.name }} logo" width="{{ th.width }}" height="{{ th.height }}">{% if company.url %}</a>{% endif %}</p>
    {% endif %}
    {% endfor %}

    {% box 'jobs-getfeatured' %}

</div>
{% endif %}
