{% extends "jobs/base.html" %}
{% load boxes %}

{% block page_title %}Job Locations | {{ SITE_INFO.site_name }}{% endblock %}

{% block content_attributes %}with-right-sidebar{% endblock %}

{% block header_message %}Jobs by Location!{% endblock %}
{% block header_action %}{{ jobs_count }} Python jobs {% if jobs|length == 1 %}all from a single location {% else %} in {{ jobs|length }} different location{{ jobs|length|pluralize }}{% endif %}.{% endblock %}

{% block content %}
<div class="row">

    {% for j in jobs %}
    {% if forloop.first %}
    <h2>{{ j.country }}</h2><ol class="list-recent-jobs list-row-container menu">
    {% endif %}
    {% ifchanged j.country %}{% if not forloop.first %}</ol><h2>{{ j.country }}</h2><ol class="list-recent-jobs list-row-container menu">{% endif %}{% endifchanged %}
    {% ifchanged j.region j.city %}
    <li><a href="{% url 'jobs:job_list_location' slug=j.location_slug %}">{{ j.city }}, {{ j.region }}</a></li>
    {% endifchanged %}
    {% endfor %}
</div>
{% endblock content %}
