{% extends "jobs/base.html" %}
{% load boxes %}

{% block page_title %}
{% if form_action == 'update' %}
Update {{ object.job_title }}
{% else %}
Submit a Job
{% endif %}
| {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="jobs job_form"{% endblock %}


{% block header_content %}
{% include "jobs/header_content.html" %}
{% endblock header_content %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
    <article class="text">

        <header class="article-header">
            {% if form_action == 'update' %}
            <h1 class="page-title">Update <a href="{{ object.get_absolute_url }}">{{ object.job_title }}</a></h1>
            {% else %}
            <h1 class="page-title">Submit a Job Posting</h1>
            {% endif %}
        </header>

        <form class="wide-form jobs-form" action="" method="post">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

            {{ form.as_p }}
            <p>
                {% if form_action == 'update' and not needs_preview %}
                    <button type="submit" name="Submit">Save</button>
                {% else %}
                    <button type="submit" name="Submit">Preview</button>
                {% endif %}
            </p>
        </form>
    </article>
{% endblock content %}
