{% extends "base.html" %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block body_attributes %}class="python feedbacks"{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
<div class="row">
    <form action="" method="post">
        {# NO CSRF TOKEN: since this is on every page, using a CSRF token #}
        {# prevents caching. So the feedback view is csrf_excempt. This means #}
        {# that feedback could be spoofed, but there's no real ramifications #}
        {# of that, so it's OK. #}
        {{ form.as_p }}
        <p><button type="submit" name="Submit">Submit Feedback</button></p>
    </form>
</div>
{% endblock content %}
