{% extends "base.html" %}
{% load sitetree %}

{% block page_title %}{{ story.name }} | Our Success Stories | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python default-page success-story"{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block content_attributes %}with-left-sidebar{% endblock %}


{% block content %}
    
    <article class="text">
        
        {% if story.image %}
        <figure class="story-header" role="banner">
            <!--The URL isn't returning properly -->
            <img src="{{ story.image.url }}" alt="{{ story.name }}" />
        </figure>
        {% endif %}
        
        <h1>{{ story.name }}</h1>
        <p class="company-byline"><a rel="external" href="{{ story.get_company_url }}">{{ story.get_company_name }}</a></p>
        
        {{ story.content.rendered|safe }}
        
        
    </article>
    
{% endblock content %}


{% block left_sidebar %}
<aside class="left-sidebar" role="secondary">
  
    <div class="section-navigation sidebar-widget">
        
        <!-- navigation for this section... All Categories for existing Success Stories -->
        <ul class="section-nav menu" role="menu" aria-hidden="false">
            {% for category in category_list %}
            <li class="tier-1" role="treeitem"><a href="{{ category.get_absolute_url }}" title="">{{ category.name }}</a></li>
            {% endfor %}
            <li class="tier-1" role="treeitem"><a href="{% url 'success_story_create' %}" title="">Submit Yours!</a></li>
        </ul>
        
    </div>

</aside>
{% endblock left_sidebar %}