{% extends "successstories/base.html" %}

{% block page_title %}{{ story.name }} | Our Success Stories | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python default-page success-story"{% endblock %}

{% block content %}

    <article class="text">

        {% if request.user.is_staff %}
            <p>
                <a role="button" class="button" href="{{ story.get_admin_url }}">Edit this story</a>
            </p>
        {% endif %}

        {% if request.user.is_staff and not story.is_published %}
        <div class="user-feedback level-notice">
            <p>This story is <strong>unpublished</strong>. You can see it because you're a staff member.</p>
        </div>
        {% endif %}

        {% if story.image %}
        <figure class="story-header" role="banner">
            {# The URL isn't returning properly #}
            <img src="{{ story.image.url }}" alt="{{ story.name }}" />
        </figure>
        {% endif %}

        <h1>{{ story.name }}</h1>
        <p class="company-byline">
            Written by <strong>{{ story.author }}</strong>
            on <time datetime="{{ story.created|date:'c' }}">{{ story.created|date:'F Y' }}</time>,
            <a rel="external" href="{{ story.get_company_url }}">{{ story.get_company_name }}</a>
        </p>

        {{ story.content.rendered|safe }}

    </article>

{% endblock content %}
