{% extends "successstories/story_detail.html" %}

{% block page_title %}{{ object.name }} | Our Success Stories | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python success-stories"{% endblock %}

{% block content %}
    
    <article>
        
        <h1>{{ object.name }}</h1>
        
        <ul class="menu success-story-category">
            {% for story in object.success_stories.published %}
            <li><a href="{{ story.get_absolute_url }}">{{ story.name }}</a></li>
            {% endfor %}
        </ul>
                
    </article>
    
{% endblock content %}
