{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Our Events | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python events"{% endblock %}


{% block header_content %}
                <div class="featured-event">
                    
                    <h2 class="welcome-message">Featured Python Event</h2>
                    
                    {# A Featured/Promoted Event #}
                    
                    <h1 class="call-to-action">Featured Event Title</h1>
                    <p class="event-date"><time datetime="2012-11-19 12:00:00">Monday, November 19, 2013</time></p>
                    <p class="excerpt">{# About 440 characters or 70 words #}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum... <a class="readmore" href="#">Read more</a></p>
                    
                </div>
{% endblock header_content %}


{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
                <div class="most-recent-events">
    		        <div class="shrubbery">
                        
                        {# 6 Upcoming Events #}
                        
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-calendar"></span>Upcoming Events</h2>
                        <p class="give-me-more"><a href="#" title="More Events">More</a></p>
                        <ul class="list-recent-events menu">
                            <li>
                                <h3 class="event-title"><a href="#">PyData Workshop-Sprint 2012 at NYC</a></h3>
                                <p>
                                    <time datetime="2012-12-16 09:15:00">16 Dec<span class="say-no-more"> 2012</span> 9:15am – 4:15pm</time> 
                                    <span class="event-location"><a href="http://pivotallabs.com">Pivotal Labs</a>, 841 Broadway, New York, NY</span>
                                </p>
                            </li>
                            <li>
                                <h3 class="event-title"><a href="#">PyCon Russia</a></h3>
                                <p>
                                    <time datetime="2013-02-9/2-13-02-10">9 &ndash; 10 Feb <span class="say-no-more"> 2013</span></time> 
                                    <span class="event-location">Yekaterinburg, Russia</span>
                                </p>
                            </li>
                            <li>
                                <h3 class="event-title"><a href="#">PyCon US 2013</a></h3>
                                <p>
                                    <time datetime="2013-03-13/2013-03-21">13 &ndash; 21 Mar <span class="say-no-more"> 2013</span></time> 
                                    <span class="event-location">Santa Clara, CA, USA</span>
                                </p>
                            </li>
                            <li>
                                <h3 class="event-title"><a href="#">SciPy 2013</a></h3>
                                <p>
                                    <time datetime="2013-06-24/2013-06-29">24 &ndash; 29 Jun <span class="say-no-more"> 2013</span></time> 
                                    <span class="event-location">Austin, TX, USA</span>
                                </p>
                            </li>
                            <li>
                                <h3 class="event-title"><a href="#">PyCon US 2013</a></h3>
                                <p>
                                    <time datetime="2013-03-13/2013-03-21">13 &ndash; 21 Mar <span class="say-no-more"> 2013</span></time> 
                                    <span class="event-location">Santa Clara, CA, USA</span>
                                </p>
                            </li>
                            <li>
                                <h3 class="event-title"><a href="#">SciPy 2013</a></h3>
                                <p>
                                    <time datetime="2013-06-24/2013-06-29">24 &ndash; 29 Jun <span class="say-no-more"> 2013</span></time> 
                                    <span class="event-location">Austin, TX, USA</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                
                    <h3 class="widget-title just-missed">You just missed...</h3>
                    
                    {# 2 Events of the recent past #}
                    
                    <ul class="list-recent-events menu">
                        <li>
                            <h3 class="event-title"><a href="#">Python Brazil 2012</a></h3>
                            <p>
                                <time datetime="2012-11-21/2012-11-24">21 &ndash; 24 Nov <span class="say-no-more"> 2012</span></time> 
                                <span class="event-location">Rio de Janeiro, Brazil</span>
                            </p>
                        </li>
                        <li>
                            <h3 class="event-title"><a href="#">RuPy 2012 &ndash; Brno Edition</a></h3>
                            <p>
                                <time datetime="2012-11-16/2012-11-18">16 &ndash; 18 Nov <span class="say-no-more"> 2012</span></time> 
                                <span class="event-location">Brno, Czech Republic</span>
                            </p>
                        </li>
                    </ul>
                </div>
{% endblock content %}



{% block right_sidebar %}
            <aside class="right-sidebar" role="secondary">
        		    
    		    <div class="sidebar-widget eventtypes-widget">
    		        
    		        {# Eventtypes #}
    		        
    		        <h2 class="widget-title">Event Types</h2>
    		        <ul class="menu">
    		            <li><a href="#">Pycon</a></li>
    		            <li><a href="#">Local Meet Ups</a></li>
    		            <li><a href="#">Event Type 3</a></li>
    		            <li><a href="#">Event Type 4</a></li>
    		            <li><a href="#">Event Type 5</a></li>
    		            <li><a href="#">Event Type 6</a></li>
    		            <li><a class="readmore" href="#">More Types</a></li>
		            </ul>
    		    </div>
    		    
    		    <div class="sidebar-widget authors-widget">
    		        
    		        {# Event Locations #}
    		        
    		        <h2 class="widget-title">Event Locations</h2>
    		        <ul class="menu">
    		            <li><a href="#">California</a></li>
    		            <li><a href="#">New York</a></li>
    		            <li><a href="#">Los Angelos</a></li>
    		            <li><a href="#">Event Location 4</a></li>
    		            <li><a href="#">Event Location 5</a></li>
    		            <li><a href="#">Event Location 6</a></li>
    		           <li><a class="readmore" href="#">More Locations</a></li>
    		        </ul>
    		    </div>
    		    
    		    <div class="sidebar-widget subscribe-widget">
                    {% box 'events-subscriptions' %}

    		    </div>
    		    
            </aside>
            
{% endblock right_sidebar %}