{% extends "psf/full-width.html" %}
{% load boxes widget_tweaks %}


{% block page_title %}Submit Sponsorship Information{% endblock %}

{% block content %}
  <article id="new_sponsorship_application_container" class="text">
    <h1>Submit Sponsorship Information</h1>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <p class="form_field">
        <label>{{ form.sponsor.label }}</label>
        {% render_field form.sponsor %}
        {% if form.sponsor.help_text %}
        <br/>
        <span class="helptext">{{ form.sponsor.help_text }}</span>
        {% endif %}
      </p>

      <p class="form_field">
        <label>{{ form.name.label }}</label>
        {% render_field form.name %}
        {% if form.name.help_text %}
        <br/>
        <span class="helptext">{{ form.name.help_text }}</span>
        {% endif %}
      </p>

      <p class="form_field">
        <label>{{ form.description.label }}</label>
        {% render_field form.description %}
        {% if form.description.help_text %}
        <br/>
        <span class="helptext">{{ form.description.help_text }}</span>
        {% endif %}
      </p>

      <p class="form_field">
        <label>{{ form.landing_page_url.label }}</label>
        {% render_field form.landing_page_url %}
        {% if form.landing_page_url.help_text %}
        <br/>
        <span class="helptext">{{ form.landing_page_url.help_text }}</span>
        {% endif %}
      </p>

      <div id="file_fields">
        <p class="form_field">
          <label>{{ form.web_logo.label }}</label>
          {% render_field form.web_logo %}
          {% if form.web_logo.help_text %}
          <br/>
          <span class="helptext">{{ form.web_logo.help_text }}</span>
          {% endif %}
        </p>

        <p class="form_field">
          <label>{{ form.print_logo.label }}</label>
          {% render_field form.print_logo %}
          {% if form.print_logo.help_text %}
          <br/>
          <span class="helptext">{{ form.print_logo.help_text }}</span>
          {% endif %}
        </p>
      </div>

      <p class="form_field">
        <label>{{ form.primary_phone.label }}</label>
        {% render_field form.primary_phone %}
        {% if form.primary_phone.help_text %}
        <br/>
        <span class="helptext">{{ form.primary_phone.help_text }}</span>
        {% endif %}
      </p>

      <p class="form_field">
        <label>{{ form.mailing_address.label }}</label>
        {% render_field form.mailing_address %}
        {% if form.mailing_address.help_text %}
        <br/>
        <span class="helptext">{{ form.mailing_address.help_text }}</span>
        {% endif %}
      </p>
      {{ form.contacts_formset.management_form }}
     <table>
         {% for form in form.contacts_formset %}
         {{ form }}
         {% endfor %}
     </table>
      <input type="submit" value="Submit">
    </form>
  </article>

{% endblock content %}
