{% extends "psf/full-width.html" %}
{% load boxes %}

{% block page_title %}Sponsorship Application | {{ SITE_INFO.site_name }}{% endblock %}

{% block content %}

    <article class="text">
        <h1>Form </h1>
        <form action="." method="POST">
          {% csrf_token %}

          {% if form.errors %}
            {{ form.non_field_errors }}
          {% endif %}

          {{ form.package }}

          <div id="benefits_container">
          {% for field in form.benefits_programs %}
            {{ field.label }}
            {{ field }}
          {% endfor %}
          </div>

          <input type="submit" value="Submit">

          <div id="package_benefits" style="display: none">
          {% for package, benefits in form.benefits_by_package.items %}
            <div id="package_benefits_{{ package }}">
              {% for benefit in benefits %}
                <div>{{ benefit }}</div>
              {% endfor %}
            </div>
          {% endfor %}
          </div>
        </form>
    </article>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  /// TODO move this script to a proper JS file
  $(document).ready(function(){

      $("input[name=package]").change(function(){
        let package = this.value;
        if (package.length == 0) return;

        let checkboxesContainer = $('#benefits_container');
        checkboxesContainer.find(':checkbox').each(function(){
            $(this).prop('checked', false);
        });

        packageBenefits = $("#package_benefits_" + package).children().each(function(){
            let benefit = $(this).html()
            checkboxesContainer.find(`[value=${benefit}]`).prop("checked", true);
        });
      });
  });
  </script>
{% endblock %}
