{% extends "psf/full-width.html" %}
{% load boxes %}

{% block page_title %}Sponsorship Application | {{ SITE_INFO.site_name }}{% endblock %}

{% block content %}

    <article class="text">
        <h1>Form </h1>
        <form id="application_form" action="." method="POST">
          {% csrf_token %}

          {% if form.errors %}
            {{ form.non_field_errors }}
          {% endif %}

          {{ form.package }}

          <div id="cost_container" calculate_cost_url="{% url 'new_sponsorship_application_price_calc' %}">
            <span id="cost_label"></span>
          </div>

          <button type="button" id="clear_form_btn" name="clear">Clear Selections</button>

          <div id="benefits_container">
          {% for field in form.benefits_programs %}
            {{ field.label }}
            {{ field }}
          {% endfor %}
          </div>

          <input type="submit" value="Submit">
          </div>
        </form>
    </article>

    <div id="package_benefits" style="display: none">
    {% for package, benefits in form.benefits_by_package.items %}
      <div id="package_benefits_{{ package }}">
        {% for benefit in benefits %}
          <div>{{ benefit }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <div id="conflicts_container" style="display: none">
    {% for benefit, conflicts in form.benefits_conflicts.items %}
      <div id="conflicts_with_{{ benefit }}">
        {% for conflict in conflicts %}
          <div>{{ conflict }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/sponsors/applicationForm.js"></script>
{% endblock %}
