{% extends "psf/full-width.html" %}
{% load boxes %}

{% block page_title %}Sponsorship Application | {{ SITE_INFO.site_name }}{% endblock %}

{% block content %}

    <article class="text">
        <h1>Form </h1>
        <form action="." method="POST">
          {% csrf_token %}

          {% if form.errors %}
            {{ form.non_field_errors }}
          {% endif %}

          {{ form.level }}

          {% for field in form.benefits_programs %}
            {{ field.label }}
            {{ field }}
          {% endfor %}
          <input type="submit" value="Submit">
        </form>
    </article>

{% endblock content %}
