{% extends "jobs/base.html" %}
{% load boxes %}

{% block page_title %}Our Job Types | {{ SITE_INFO.site_name }}{% endblock %}
{% block content_attributes %}with-right-sidebar{% endblock %}

{% block header_message %}Jobs by Technology!{% endblock %}
{% block header_action %}{{ jobs_count }} Python jobs in {{ types|length }} different types.{% endblock %}

{% block content %}
<div class="row">

    <ol class="list-recent-jobs list-row-container menu">
        {% for type in types %}
            <li><a href="{% url 'jobs:job_list_type' slug=type.slug %}">{{ type.name }}</a></li>
        {% endfor %}
    </ol>

</div>
{% endblock content %}
