<div class="sidebar-widget">
<h3 class="widget-title">Submit a Job</h3>

    <p>Have a job that our community would be interested in? 
    <b>Please check our <a href="/community/jobs/howto/">job submission how-to</a> for details on how
    to file a job posting.</b></p>

    {% if request.user.is_authenticated %}
    <p>You can <a href="{% url 'jobs:job_create' %}">use this form</a> to create a new job posting or
    view your <a href="{% url 'jobs:job_list_mine' %}">previously submitted job postings</a>.</p>
    {% else %}
    <p>After you have reviewed our <a href="/community/jobs/howto/">how-to document</a>,
    please <a href="{% url 'account_login' %}?next={% url 'jobs:job_create' %}">login
    and use this form</a> to create a new job posting</p>
    <p>If you have submitted jobs previously under your login, you can view them by
    <a href="{% url 'account_login' %}?next={% url 'jobs:job_list_mine' %}">logging in now</a>.</p>
    {% endif %}

    <p>In case of questions, please contact the 
    <a href="mailto:jobs@python.org">PSF Python Job Board team</a>. Thank you.</p>

</div>
