{# ===== PSF LANDING PAGE ===== #}

{% extends "base.html" %}
{% load boxes sponsors blogs banners %}

{% block page_title %}Python Software Foundation{% endblock %}

{% block body_attributes %}class="psf"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{# Need to insert the URL tag for the PSF landing page #}
{% block section-logo %}<a href="/psf-landing/"><img class="psf-logo" src="{{ STATIC_URL }}img/psf-logo.png" alt="Python Software Foundation"></a>{% endblock %}

{% block header-banner_attributes %}do-not-print{% endblock %}

{% block header_content %}
                <div class="welcome-to-the-foundation">
                    {% box 'psf-banner' %}

                </div>
{% endblock header_content %}


{% block content %}
                {% render_active_psf_banner %}

                <div class="row">
                    <div class="psf-widget0">
                        {% box 'psf-widget0' %}
                    </div>
                </div>

                <div class="row">

                    <div class="small-widget psf-widget1">
                        {% box 'psf-widget1' %}
                    </div>

                    <div class="small-widget psf-widget2">
                        {% box 'psf-widget2' %}
                    </div>

                    <div class="small-widget psf-widget3">
                        {% box 'psf-widget3' %}
                    </div>

                    <div class="small-widget psf-widget4 last">
                        <h2 class="widget-title">Sponsors</h2>
                        <div id="sponsor-rotation" class="flex-slideshow">
                            <p>Without our sponsors we wouldn't be able to help the Python community grow and prosper.</p>
                        </div>
                        <p><a class="button" href="/psf/sponsorship/">Sponsorship Possibilities</a></p>
                    </div>

                </div>


                <div class="row">

                    <div class="medium-widget grants-widget">
                        {% box 'psf-grants' %}
                    </div>

                    <div class="medium-widget news-wiki-widget last">

                        <div class="split-widget-wrapper shrubbery">
                            <h2 class="widget-title">PSF News </h2>
                            {% feed_list 'psf-news' as psf_entries %}
                            {% if psf_entries %}
                            <ul class="menu">
                              {% for entry in psf_entries %}
                              <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                    </div>

                </div>

{% endblock content %}
