{% extends "base.html" %}
{% load boxes %}

{% block page_title %}{{ page.title }} MicroPython on the BBC micro:bit{% endblock %}


{% block content %}
    <article class="text">
        <img src="/static/images/microbit.png" alt="A BBC micro:bit comic">

        <h2>Links</h2>

        <ul>
            <li><a href="https://micropython.org/">MicroPython</a> is the
            version of Python that runs on the BBC micro:bit. It's a full
            reimplementation of Python 3 created by Damien George.</li>
            <li>The <a href="https://github.com/bbcmicrobit/micropython">source code</a>
            for the BBC micro:bit port is open source, so you can contribute.
            Our youngest contributor so far was 11 years old.</li>
            <li>There is comprehensive documentation for both
            <a href="https://microbit-micropython.readthedocs.io/en/latest/index.html">developers</a> and
            <a href="https://microbit-micropython.readthedocs.io/en/latest/tutorials/introduction.html">teachers</a>.</li>
            <li>In addition to the Python editor built into the
            <a href="https://microbit.org/">official website</a>, there is
            a native editor <a href="https://codewith.mu/">called Mu</a> (that
            works on Windows, OSX, Linux and Raspberry Pi). There is also an
            editor
            <a href="https://github.com/ntoll/python-native-editor">for
            ChromeOS</a>.</li>
            <li>Various cross-platform command-line tools have been created
            for MicroPython on the BBC micro:bit. The
            <a href="https://uflash.readthedocs.io/en/latest/">uFlash
            utility</a> makes it easy to flash the BBC micro:bit with Python
            scripts and
            <a href="https://github.com/ntoll/microrepl">microrepl</a>
            simplifies connecting to Python running on the device.</li>
            <li>To create comics like the one at the top of this page (they're
            great for educational resources) try out our
            <a href="https://pycomic.github.io/">Python comic generator</a>.</li>
            <li>We've also created a
            <a href="https://pycomic.github.io/microbit.html">BBC micro:bit</a>
            simulator to mocking up the outputs from a device. Also very good
            for use in educational resources.</li>
        </ul>

        <h2>Community</h2>

        <ul>
            <li>During development, we sent some of the devices on a
            <a href="https://microworldtour.github.io/">World Tour</a>. Check
            out their travelogues for lots of cool projects and ideas.</li>
            <li>There is a
            <a href="https://mail.python.org/mailman/listinfo/microbit">mailing
            list</a> for discussion of MicroPython on the BBC micro:bit. We
            welcome contributions from developers, teachers and users
            alike.</li>
            <li>If old-school Internet Relay Chat (IRC) is your thing, then
            join the #microbit channel on
            <a href="https://freenode.net/">Freenode IRC</a>.</li>
            <li>Finally, our friends at
            <a href="https://community.computingatschool.org.uk/">Computing at
            School</a> have a wide range of teacher created resources and
            community events to get involved with and
            <a href="http://pyconuk.org/">PyCon UK</a> has had a flourishing
            education and kids track since 2012.</li>
        </ul>

    </article>
{% endblock content %}
