
{% extends 'admin/change_form.html' %}
{% load i18n admin_static sponsors %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block title %}Accept {{ sponsorship }} | python.org{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &gt
  <a href="{% url 'admin:app_list' app_label='sponsors' %}">{% trans 'Sponsors' %}</a> &gt
  <a href="{% url 'admin:sponsors_sponsorship_changelist' %}">{% trans 'Sponsorship' %}</a> &gt
  <a href="{% url 'admin:sponsors_sponsorship_change' sponsorship.pk %}">{{ sponsorship }}</a> &gt
  {% trans 'Approve' %}
</div>
{% endblock %}

{% block content %}
<h1>Approve Sponsorship</h1>
<p>Please review the sponsorship application and click in the Approve button if you want to proceed.</p>
<div id="content-main">
<form action="" method="post" id="new_psf_board_meeting_form">
{% csrf_token %}

<pre>{% full_sponsorship sponsorship display_fee=True %}</pre>

{{ form.media }}
{{ form.as_p }}

<input name="confirm" value="yes" style="display:none">

<div class="submit-row">
    <input type="submit" value="Approve" class="default">
</div>

</form>
<div>
</div>

<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}
