{% extends 'admin/base_site.html' %}
{% load i18n admin_static sponsors %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block title %}Send {{ statement_of_work }} | python.org{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &gt
  <a href="{% url 'admin:app_list' app_label='sponsors' %}">{% trans 'Sponsors' %}</a> &gt
  <a href="{% url 'admin:sponsors_statementofwork_changelist' %}">{% trans 'Sponsorship' %}</a> &gt
  <a href="{% url 'admin:sponsors_statementofwork_change' statement_of_work.pk %}">{{ statement_of_work }}</a> &gt
  {% trans 'Send Statement of Work' %}
</div>
{% endblock %}

{% block content %}
<h1>Send Statement of Work</h1>
<p>Statement of Work summary and emails later...</p>
<div id="content-main">
<form action="" method="post" id="new_psf_board_meeting_form">
{% csrf_token %}

<input name="confirm" value="yes" style="display:none">

<div class="submit-row">
    <input type="submit" value="Send" class="default">
</div>

</form>
<div>
</div>{% endblock %}
