{% extends "base.html" %}

{% block content %}
<h1>Index of Python Enhancement Proposals</h1>

{% for cat in categories %}
    <h2>{{ cat.name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Num</th>
                <th>Title</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for pep in cat.peps.all %}
                <tr>
                    <td>{{ pep.type.abbreviation }}{{ pep.status.abbreviation }}</td>
                    <td>{{ pep.number }}</td>
                    <td>{{ pep.title }}</td>
                    <td>{{ pep.get_owner_names }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<h2>Numerical List</h2>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Num</th>
            <th>Title></th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for pep in peps %}
        <tr>
            <td>{{ pep.type.abbreviation }}{{ pep.status.abbreviation }}</td>
            <td>{{ pep.number }}</td>
            <td>{{ pep.title }}</td>
            <td>{{ pep.get_owner_names }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Key</h2>
<ul>
    {% for t in types %}
    <li>{{ t.abbreviation }} - {{ t.name }}</li>
    {% endfor %}
</ul>
<ul>
    {% for s in statuses %}
    <li>{{ s.abbreviation }} - {{ s.name }}</li>
    {% endfor %}
</ul>

<h2>Owners</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        {% for o in owners %}
            <tr>
                <td>{{ o.name }}</td>
                <td>{{ o.email_display }}</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}