{% extends "base.html" %}

{% block page_title %}Our Enhancement Proposals | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python pep-index default-page"{% endblock %}

{% block content %}

    <article>
        <h1>Index of Python Enhancement Proposals</h1>

    {% for cat in categories %}
        
        {% if cat.peps.all|length > 0 %}
        <h2>{{ cat.name }}</h2>
        
        <div class="pep-list-header">
            <div class="pep-type">Type/Status</div>
            <div class="pep-num">Number</div>
            <div class="pep-title">Title <span class="say-no-more">(click for more)</span></div>
            <div class="pep-owner">Owner</div>
        </div>
        <ul class="pep-index-list menu">
            {% for pep in cat.peps.all %}
                <li>
                    <div class="pep-type"><span class="label">Type/Status</span>{{ pep.type.abbreviation }}{% if pep.status.abbreviation %}/{{ pep.status.abbreviation }}{% endif %}</div>
                    <div class="pep-num"><span class="label">Number</span><a href="{{ pep.url }}">{{ pep.number }}</a></div>
                    <div class="pep-title"><span class="label">Title</span><a href="{{ pep.url }}">{{ pep.title }}</a></div>
                    <div class="pep-owner"><span class="label">Owner</span>{{ pep.get_owner_names }}</div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        
    {% endfor %}

        <h2>Numerical List</h2>

        <div class="pep-list-header">
            <div class="pep-type">Type/Status</div>
            <div class="pep-num">Number</div>
            <div class="pep-title">Title <span class="say-no-more">(click for more)</span></div>
            <div class="pep-owner">Owner</div>
        </div>
        <ul class="pep-index-list menu">
            {% for pep in peps %}
            <li>
                <div class="pep-type"><span class="label">Type/Status</span>{{ pep.type.abbreviation }}{% if pep.status.abbreviation %}/{{ pep.status.abbreviation }}{% endif %}</div>
                <div class="pep-num"><span class="label">Number</span><a href="{{ pep.url }}">{{ pep.number }}</a></div>
                <div class="pep-title"><span class="label">Title</span><a href="{{ pep.url }}">{{ pep.title }}</a></div>
                <div class="pep-owner"><span class="label">Owner</span>{{ pep.get_owner_names }}</div>
            </li>
            {% endfor %}
        </ul>


        <div class="col-row four-col">

            <div class="column double-col">

                <h2>Key</h2>

                <div class="col-row two-col">
                    <div class="column">
                        <h5>Types</h5>
                        <dl class="info-key">
                            {% for t in types %}
                            <dt>{{ t.abbreviation }}</dt>
                            <dd>{{ t.name }}</dd>
                            {% endfor %}
                        </dl>
                    </div>

                    <div class="column">
                        <h5>Statuses</h5>
                        <dl class="info-key">
                            {% for s in statuses %}
                            <dt>{{ s.abbreviation }}</dt>
                            <dd>{{ s.name }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>

            </div>
            <div class="column double-col">

                <h2>Owners</h2>
                <div class="pep-owner-header">
                    <div class="label">Name</div>
                    <div class="label">Email Address</div>
                </div>
                <ul class="pep-owner-list menu">
                    {% for o in owners %}
                    <li>
                        <div class="owner-name">{{ o.name }}</div>
                        <div class="owner-email">{{ o.email_display }}</div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div><!-- end .four-col -->

    </article>
{% endblock %}