apiVersion: redis.redis.opstreelabs.in/v1beta2
kind: Redis
metadata:
  name: psf-pythondotorg-pythondotorg
  namespace: redis
spec:
  kubernetesConfig:
    image: quay.io/opstree/redis:v7.0.15
    imagePullPolicy: IfNotPresent
    redisSecret:
      key: password
      name: psf-pythondotorg-pythondotorg-password
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi

  TLS:
    secret:
      optional: false
      secretName: psf-pythondotorg-pythondotorg-tls

  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi

  securityContext:
    runAsUser: 1000

  redisExporter:
    enabled: false
    image: quay.io/opstree/redis-exporter:v1.44.0
    imagePullPolicy: Always
    port: 9121
    resources:
      limits:
        cpu: 100m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 256Mi
