{% load sitetree %}
{% if sitetree_items|length_is:"1" %}
{% else %}
<ul class="breadcrumbs menu">
	{% for item in sitetree_items %}
		{% if not forloop.last %}
			<li>
				<a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a><span class="prompt">&gt;&gt;&gt;</span>
			</li>
		{% else %}
			{% if item.title_resolved %}
				<li>{{ item.title_resolved }}</li>
			{% elif in_pages_app and page.title %}
				<li>{{ page.title }}</li>
			{% else %}
				<li>This Page</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
{% endif %}