{% load sitetree %}

<ul class="sitemap navigation menu do-not-print" role="tree" id="container">
    {% for item in sitetree_items %}
    <li class="tier-1 element-{{ forloop.counter }}">
        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
        {% if item.has_children %}
            {% sitetree_children of item for menu template "sitetree/footer_children.html" %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
