{% load sitetree %}

<ul class="section-nav menu" role="menu" aria-hidden="false">
    {% for item in sitetree_items %}
    <li class="{{ item.alias }} {% if item.is_current or item.in_current_branch %}{{ item.is_current|yesno:'current_item selected' }} {{ item.in_current_branch|yesno:'current_branch selected' }}{% endif %}" role="treeitem">
        <a href="{% sitetree_url for item %}" title="{{ item.hint|default:"" }}" class="{{ item.is_current|yesno:'current_item selected' }} {{ item.in_current_branch|yesno:' current_branch' }}">{{ item.title_resolved }}</a>

    {% if item.has_children %}
        {% sitetree_children of item for menu template "sitetree/sidebar_menu.html" %}
    {% endif %}
    </li>
    {% endfor %}
</ul>
