{% load sitetree %}
<ul class="navigation menu" role="menubar" aria-label="Main Navigation">
  {% with sitetree_items|length as total_length %}
    {% for item in sitetree_items %}
    {% if item.alias != 'python-footer' %}
    <li id="{{ item.title|slugify }}" class="tier-1 element-{{ forloop.counter }} {% if total_length == 7 and forloop.counter == 7 %}unstacked{% endif %} {% if forloop.last %}last{% endif %}" aria-haspopup="true">
        <a href="{% sitetree_url for item %}" title="{{ item.hint|default:'' }}" class="{{ item.is_current|yesno:' current_item selected,' }}{{ item.in_current_branch|yesno:' selected,' }}">{{ item.title_resolved }}</a>
        {% if item.has_children %}
            {% sitetree_children of item for menu template "sitetree/submenu_children.html" %}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  {% endwith %}
</ul>
