{% extends "base.html" %}

{% block content %}
    <h2>Search Python.org</h2>

    <form method="get" action=".">
        <p>
            <input type="text" name="q" value="{{ request.GET.q }}">
            <input type="submit" value="Search">
        </p>
        {% if query %}
            <h3>Results</h3>

            <ul class="list-recent-events menu">
            {% for result in page.object_list %}
            <li>
                {% include result.include_template %}
            </li>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </ul>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}