{% extends "base.html" %}
{% load boxes %}

{% block body_attributes %}class="jobs"{% endblock %}

{% block main-nav_attributes %}jobs-navigation{% endblock %}

{% block right_sidebar %}
<aside class="right-sidebar">
    {% block right_sidebar_content %}

        {% block right_sidebar_header %}{% endblock %}

        {% include "jobs/submit_a_job-widget.html" %}
        {% include "jobs/featured_companies-widget.html" %}

        <div class="sidebar-widget">
            {% box 'jobs-subscribe' %}
        </div>

        {% block right_sidebar_footer %}{% endblock %}

    {% endblock right_sidebar_content %}
</aside>
{% endblock right_sidebar %}
