{% extends "base.html" %}
{% load boxes %}

{% block body_attributes %}class="jobs"{% endblock %}

{% block main-nav_attributes %}jobs-navigation{% endblock %}

{% block header_content %}
<div class="jobs-intro">
    <h2 class="welcome-message">{% block header_message %}Get exploring!{% endblock %}</h2>
    <h1 class="call-to-action">{% block header_action %}{{ jobs_count }} jobs on the Python Job Board{% endblock %}</h1>
<!--
    <p class="excerpt">{% block header_excerpt %}<strong>Have a job to post?</strong> Please <a href="{% url 'jobs:job_create' %}">fill out this form</a>{% if not request.user.is_authenticated %}, or returning Job Board users may <a href="{% url 'account_login' %}?next={{ request.path }}">log in here</a> to update job postings and create new ones.{% else %}.{% endif %}{% endblock %}</p>
-->

</div>
{% endblock header_content %}

{% block main_navigation %}
<ul class="navigation menu" role="menubar" aria-label="Main Navigation">
    <li class="tier-1 element-1 {% if view.job_list_view %}current_item selected{% endif %}">
        <a href="{% url 'jobs:job_list' %}">Jobs</a>
    </li>
    <li class="tier-1 element-2 {% if view.job_type_view %}current_item selected{% endif %}" aria-haspopup="true">
        <a href="{% url 'jobs:job_types' %}">Types</a>
        <ul class="subnav menu" role="menu" aria-hidden="true">
            {% for t in active_types %}
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_list_type' slug=t.slug %}">{{ t.name }}</a></li>
            {% empty %}
            <li class="tier-2" role="treeitem">No Active Types</li>
            {% endfor %}
        </ul>
    </li>
    <li class="tier-1 element-3 {% if view.job_category_view %}current_item selected{% endif %}" aria-haspopup="true">
        <a href="{% url 'jobs:job_categories' %}">Categories</a>
        <ul class="subnav menu" role="menu" aria-hidden="true">
            {% for c in active_categories %}
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_list_category' slug=c.slug %}">{{ c.name }}</a></li>
            {% empty %}
            <li class="tier-2" role="treeitem">No Active Categories</li>
            {% endfor %}
        </ul>
    </li>
    <li class="tier-1 element-4 {% if view.job_location_view %}current_item selected{% endif %}">
        <a href="{% url 'jobs:job_locations' %}">Locations</a>
        <ul class="subnav menu" role="menu" aria-hidden="true">
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_telecommute' %}">Telecommute</a></li>
            {% for l in active_locations %}
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_list_location' slug=l.location_slug %}">
                {% if l.region and l.region != l.city %}
                    {{ l.city }}, {{ l.region }} &ndash; {{ l.country }}
                {% else %}
                    {{ l.city }} &ndash; {{ l.country }}
                {% endif %}
            </a></li>
            {% empty %}
            <li class="tier-2" role="treeitem">No Active Locations</li>
            {% endfor %}
        </ul>
    </li>
    <li class="tier-1 element-5{% if not jobs_board_admin %} last{% endif %}"><a href="{% url 'jobs:job_create' %}">Submit</a></li>
    {% if jobs_board_admin %}
    <li class="tier-1 element-6 last">
        <a href="{% url 'jobs:job_review' %}">Admin</a>
        <ul class="subnav menu" role="menu" aria-hidden="true">
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_review' %}">Review queue</a></li>
            <li class="tier-2" role="treeitem"><a href="{% url 'jobs:job_moderate' %}">Moderate approved posts</a></li>
        </ul>
    </li>
    {% endif %}
</ul>
{% endblock main_navigation %}

{% block right_sidebar %}
<aside class="right-sidebar">
    {% block right_sidebar_content %}

        {% block right_sidebar_header %}{% endblock %}

        {% include "jobs/submit_a_job-widget.html" %}
        {% include "jobs/featured_companies-widget.html" %}

        <div class="sidebar-widget">
            {% box 'jobs-subscribe' %}
        </div>

        {% block right_sidebar_footer %}{% endblock %}

    {% endblock right_sidebar_content %}
</aside>
{% endblock right_sidebar %}
