<div class="jobs-intro">
    <h2 class="welcome-message">Get exploring! </h2>
    <h1 class="call-to-action">{{ jobs_count }} jobs from {{ companies_count }} companies on the Python Job Board</h1>
<!--
    <p class="excerpt"><strong>Have a job to post?</strong> Please <a href="{% url 'jobs:job_create' %}">fill out this form</a>{% if not request.user.is_authenticated %}, or returning Job Board users may <a href="{% url 'account_login' %}?next={{ request.path }}">log in here</a> to update job postings and create new ones.{% else %}.{% endif %} </p>
-->
</div>
