{# ===== JOBS LANDING PAGE ===== #}

{% extends "base.html" %}

{% block body_attributes %}class="jobs"{% endblock %}


{% block main-nav_attributes %}jobs-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "jobs-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block header_content %}
                <div class="jobs-intro">
                    <h2 class="welcome-message">Get exploring! </h2>
                    <h1 class="call-to-action">340 jobs from 122 companies on the Python Job Board</h1>
                    <p class="excerpt"><strong>Have a job to post?</strong> Please <a href="#">fill out this form</a>, or returning Job Board users may <a href="#">log in here</a> to update job postings and create new ones. </p>
                </div>
{% endblock header_content %}



{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
                <div class="row">

                    <ol class="list-recent-jobs list-row-container menu">
                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <span class="listing-new">New</span> <a href="#to-description">StudioNow</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Nashville, TN">Nashville, TN, USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More Software Engineer jobs">Software Engineer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-10">10 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Video production">Video production</a></span>
                        </li>

                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <span class="listing-new">New</span> <a href="#to-description">Kulfun Games d.o.o.</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Belgrade, Serbia">Belgrade, Serbia</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More iOS programming jobs">iOS programming</a></span>
                            <span class="listing-posted"><time datetime="2012-12-10">10 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Game Production">Game Production</a></span>
                        </li>

                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <span class="listing-new">New</span> <a href="#to-description">eCitizens</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in San Diego, CA">San Diego, CA - USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Django Devloper jobs">Django Developer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-10">10 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More Open Government jobs">Open Government</a></span>
                        </li>


                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <span class="listing-new">New</span> <a href="#to-description">StudioNow</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Nashville, TN">Nashville, TN, USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More Software Engineer jobs">Software Engineer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-10">10 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Video production">Video production</a></span>
                        </li>
                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <a href="#to-description">Kulfun Games d.o.o.</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Belgrade, Serbia">Belgrade, Serbia</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More iOS programming jobs">iOS programming</a></span>
                            <span class="listing-posted"><time datetime="2012-12-10">10 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Game Production">Game Production</a></span>
                        </li>
                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <a href="#to-description">eCitizens</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in San Diego, CA">San Diego, CA - USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Django Devloper jobs">Django Developer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-09">9 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More Open Government jobs">Open Government</a></span>
                        </li>


                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <a href="#to-description">StudioNow</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Nashville, TN">Nashville, TN, USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More Software Engineer jobs">Software Engineer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-09">9 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Video production">Video production</a></span>
                        </li>
                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <a href="#to-description">Kulfun Games d.o.o.</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in Belgrade, Serbia">Belgrade, Serbia</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Front-end Developer jobs">Front-end Developer</a>, <a href="#to-jobs-by-type" title="More iOS programming jobs">iOS programming</a></span>
                            <span class="listing-posted"><time datetime="2012-12-09">9 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More jobs in Game Production">Game Production</a></span>
                        </li>
                        <li>
                            <h2 class="listing-company">
                                <span class="listing-company-name">
                                    <a href="#to-description">eCitizens</a>
                                </span>
                                <span class="listing-location"><a href="#to-jobs-by-location" title="More jobs in San Diego, CA">San Diego, CA - USA</a></span>
                            </h2>
                            <span class="listing-job-type"><a href="#to-jobs-by-type" title="More Django Devloper jobs">Django Developer</a></span>
                            <span class="listing-posted"><time datetime="2012-12-09">9 December 2012</time></span>
                            <span class="listing-company-category"><a href="#to-jobs-by-category" title="More Open Government jobs">Open Government</a></span>
                        </li>
                    </ol>


                </div>
{% endblock content %}



{% block right_sidebar %}
            <aside class="right-sidebar">

                <div class="sidebar-widget">
                    <h3 class="widget-title">Submit a Job</h3>
                    <p>Have a job that our community would be interested in? Please <a href="#">fill out this form</a>, or returning Job Board users may <a href="#">log in here</a> to update job existing postings or to add new ones to their profile.</p>
                </div>

                <div class="sidebar-widget">
                    <h3 class="widget-title">Featured Companies</h3>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p>Want your jobs to be featured? <a href="#">Find out more</a>.</p>
                </div>

                <div class="sidebar-widget">
                    <h3 class="widget-title">Stay up-to-date</h3>
                    <p><a href="#"><span aria-hidden="true" class="icon-feed"></span>Subscribe via RSS</a></p>
                    <p><a href="#"><span aria-hidden="true" class="icon-twitter"></span>Follow via Twitter</a></p>
                </div>

            </aside>
{% endblock right_sidebar %}
