{% extends "jobs/base.html" %}
{% load boxes %}

{% block page_title %}Python Job Board | {{ SITE_INFO.site_name }}{% endblock %}

{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
<div class="row">
    <h1>Thank you for filing a new job posting!</h1>
    <div class="user-feedback level-success">
        <p>
            Your job posting will now be verified by the
            <a href="https://wiki.python.org/moin/PSF%20Python%20Job%20Board">PSF Job Board Team</a>.
        </p>
        <p>
            Approved postings are automatically be listed on the web site.
            In case of a rejection, you will be notified by email. Please file
            an updated posting, following the instructions given in the email,
            if the reason for rejection can be corrected.
        </p>
    </div>
</div>
{% endblock content %}
