{# ===== JOBS LANDING PAGE ===== #}

{% extends "jobs/base.html" %}
{% load boxes %}

{% block page_title %}Python Job Board | {{ SITE_INFO.site_name }}{% endblock %}

{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
<div class="row">
    {% if mine_listing %}
    <h1>My Submissions</h1>
    {% endif %}
    <ol class="list-recent-jobs list-row-container menu">
        {% for object in object_list %}
        <li>
            <h2 class="listing-company">
                <span class="listing-company-name">
                    {% if object.is_new and object.status != 'removed' %}<span class="listing-new">New</span>{% endif %}
                    {% if object.status == 'removed' %}<span class="listing-removed">Removed</span>{% endif %}
                    <a href="{{ object.get_absolute_url }}">{{ object.job_title }}</a><br/>
		    {{ object.company_name }}
                </span>
                <span class="listing-location"><a href="{% url 'jobs:job_list_location' slug=object.location_slug %}" title="More jobs in {{ object.display_location }}">{{ object.display_location }}</a></span>
            </h2>
            {% if object.job_types.all %}
            <span class="listing-job-type">{% for type in object.job_types.all %}<a href="{% url 'jobs:job_list_type' slug=type.slug %}" title="More {{ type.name }} jobs">{{ type.name }}</a>{% if not forloop.last %}, {% endif %}{% if forloop.last and object.other_job_type %}, {{ object.other_job_type }} {% endif %}{% endfor %}
            </span>
            {% else %}
            <span class="listing-job-type">
                {% if object.other_job_type %}
                {{ object.other_job_type }}
                {% endif %}
            </span>
            {% endif %}
            <span class="listing-posted">Posted: <time datetime="{{ object.created|date:"c" }}">{{ object.created|date:"d F Y" }}</time></span>
            <span class="listing-company-category"><a href="{% url 'jobs:job_list_category' slug=object.category.slug %}" title="More jobs in {{ object.category.name }}">{{ object.category.name }}</a></span>
            {% if mine_listing and object.creator == request.user and object.status != 'removed' %}
            <div class="listing-actions">
                <a class="button delete" href="{% url 'jobs:job_remove' pk=object.pk %}">Delete</a>
            </div>
            {% endif %}
        </li>
        {% empty %}
        <li><em>Sorry, there are no jobs here.</em></li>
        {% endfor %}
    </ol>

    <!-- Pagination -->
    {% if page_obj.has_previous or page_obj.has_next %}
    <ul class="pagination menu">
        {% if page_obj.has_previous %}
            <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
        {% else %}
            <li class="previous"><a class="disabled" href="">Prev</a></li>
        {% endif %}

        {% for page in paginator.page_range %}
        <li><a {% if page_obj.number == page %}class="active" {% endif %}href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
            <li class="next"><a class="disabled" href="">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
