{% extends "base.html" %}

{% block body_attributes %}class="jobs"{% endblock %}


{% block main-nav_attributes %}jobs-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "jobs-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block header_content %}
                <div class="jobs-intro">
                    <h2 class="welcome-message">Get exploring! </h2>
                    <h1 class="call-to-action">340 jobs from 122 companies on the Python Job Board</h1>
                    <p class="excerpt"><strong>Have a job to post?</strong> Please <a href="{% url 'jobs:job_create' %}">fill out this form</a>, or returning Job Board users may <a href="#">log in here</a> to update job postings and create new ones. </p>
                </div>
{% endblock header_content %}



{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" name="Submit" value=""></p>
</form>
{% endblock content %}



{% block right_sidebar %}
            <aside class="right-sidebar">

                <div class="sidebar-widget">
                    <h3 class="widget-title">Submit a Job</h3>
                    <p>Have a job that our community would be interested in? Please <a href="{% url 'jobs:job_create' %}">fill out this form</a>, or returning Job Board users may <a href="#">log in here</a> to update job existing postings or to add new ones to their profile.</p>
                </div>

                <div class="sidebar-widget">
                    <h3 class="widget-title">Featured Companies</h3>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p><a href="#"><img src="http://placehold.it/240x80" alt="Placeholder image from placehold.it"></a></p>
                    <p>Want your jobs to be featured? <a href="#">Find out more</a>.</p>
                </div>

                <div class="sidebar-widget">
                    <h3 class="widget-title">Stay up-to-date</h3>
                    <p><a href="#"><span aria-hidden="true" class="icon-feed"></span>Subscribe via RSS</a></p>
                    <p><a href="#"><span aria-hidden="true" class="icon-twitter"></span>Follow via Twitter</a></p>
                </div>

            </aside>
{% endblock right_sidebar %}
