{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Our Job Categories | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="jobs"{% endblock %}


{% block main-nav_attributes %}jobs-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "jobs-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block header_content %}
{% include "jobs/header_content.html" %}
{% endblock header_content %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
<div class="row">

    <ol class="list-recent-jobs list-row-container menu">
        {% for cat in categories %}
            <li><a href="{% url 'jobs:job_list_category' slug=cat.slug %}">{{ cat.name }}</a></li>
        {% endfor %}
    </ol>

</div>
{% endblock content %}


{% block right_sidebar %}
<aside class="right-sidebar">

    {% include "jobs/submit_a_job-widget.html" %}
    {% include "jobs/featured_companies-widget.html" %}

    <div class="sidebar-widget">
        {% box 'jobs-subscribe' %}

    </div>

</aside>
{% endblock right_sidebar %}
