<div class="sidebar-widget">
<h3 class="widget-title">Submit a Job</h3>
    <p>Have a job that our community would be interested in? Please <a href="{% url 'jobs:job_create' %}">fill out this form</a>.</p>

    {% if request.user.is_authenticated %}
    <p>View your <a href="{% url 'jobs:job_list_mine' %}">previously submitted job postings</a>.</p>
    {% else %}
    <p>If you have a Python.org login, please <a href="{% url 'account_login' %}?next={% url 'jobs:job_create' %}">login and use this form</a> to create a new job posting so it can be associated with your account for future edits.</p>
    <p>If you have submitted jobs previously under your login, you can view them by <a href="{% url 'account_login' %}?next={% url 'jobs:job_list_mine' %}">logging in now</a>.</p>
    {% endif %}
</div>