{% extends "base.html" %}

{% block page_title %}Send us Feedback | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python default-page login"{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        jQuery(window).load(function($) {
            $('#id_login').focus();
        });
    </script>
{% endblock extra_js %}

{% block content %}
<div class="row">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit" name="Submit">Submit Feedback</button></p>
    </form>
</div>
{% endblock content %}
