{% extends "psf/default.html" %}

{% block page_title %}
Fellows of the Python Software Foundation
{% endblock %}

{% block body_attributes %}class="nominations fellows_roster"{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block content_attributes %}{% endblock %}

{% block content %}
<article class="text">
    <header class="article-header">
        <h1 class="page-title">PSF Fellows</h1>
    </header>

    <p>There are currently {{ total_count }} PSF Fellows.</p>

    {% if active_fellows %}
    <h2>Fellows ({{ active_count }})</h2>
    <ul>
        {% for fellow in active_fellows %}
        <li>{{ fellow.name }} ({{ fellow.year_elected }})</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if emeritus_fellows %}
    <h2>Emeritus Fellows ({{ emeritus_count }})</h2>
    <ul>
        {% for fellow in emeritus_fellows %}
        <li>{{ fellow.name }} ({{ fellow.year_elected }}{% if fellow.emeritus_year %}/{{ fellow.emeritus_year }}{% endif %})</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if deceased_fellows %}
    <h2>In Memoriam ({{ deceased_count }})</h2>
    <ul>
        {% for fellow in deceased_fellows %}
        <li>
            {{ fellow.name }} ({{ fellow.year_elected }})
            {% if fellow.notes %}<br><em>{{ fellow.notes }}</em>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if not active_fellows and not emeritus_fellows and not deceased_fellows %}
    <p>No PSF Fellows found.</p>
    {% endif %}
</article>
{% endblock content %}
