{% extends "psf/default.html" %}

{% block page_title %}
Update Status: {{ object.nominee_name }} | {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="nominations fellow_nomination_status_form"{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block content_attributes %}{% endblock %}

{% block content %}
<article class="text">
    <header class="article-header">
        <h1 class="page-title">Update Status: {{ object.nominee_name }}</h1>
    </header>

    <div>
        <p>
            <b>Current status</b>:
            <span class="badge badge-{{ object.status }}">
                {{ object.get_status_display }}
            </span>
        </p>
    </div>

    <form class="wide-form" action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <div style="text-align: center;">
            <button type="submit" name="Submit">Update Status</button>
        </div>
    </form>

    <p><a href="{{ object.get_absolute_url }}">&larr; Cancel</a></p>
</article>
{% endblock content %}
