{% extends "psf/default.html" %}

{% block page_title %}
Nomination for {{ nomination.name }} in {{ nomination.election.name }} Election
| {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="nominations nominations_view"{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block content_attributes %}{% endblock %}

{% block content %}
<article class="text">
  <header class="article-header">
    <h1 class="page-title">Nomination for {{ nomination.name }} in {{ nomination.election.name }} Election</h1>
  </header>
{% if nomination.nominee == request.user %}
  <center>
    <i>You are the nominee for this nomination.</i>
  {% if editable %}
    <a href="{{ nomination.get_edit_url }}">Edit</a>
  {% else %}
    <i>It is no longer editable as nominations are closed.</i>
  {% endif %}
  </center>
{% elif nomination.nominator == request.user %}
  <center>
    <i>You made this nomination.</i>
  {% if editable %}
    <a href="{{ nomination.get_edit_url }}">Edit</a>
  {% else %}
    {% if nomination.election.nominations_open %}
    <i>It is no longer editable as it has been accepted.</i>
    {% else %}
    <i>It is no longer editable as nominations are closed.</i>
    {% endif %}
  {% endif %}
  </center>
{% endif %}
  <div>
    <ul>
      <li><b>Name</b>: {{ nomination.name }}</li>
      <li><b>Employer</b>: {{ nomination.employer }}</li>
      <li><b>Other Affiliations</b>: {{ nomination.other_affiliations }}</li>
      <li><b>Previous Board Service</b>: {{ nomination.previous_board_service }}</li>
      <li><b>Nominated By</b>: {{ nomination.nominator.first_name }} {{ nomination.nominator.last_name }}</li>
    </ul>
  </div>
  <div>
    <h2><b>Nomination Statement</b></h2>
    {{ nomination.nomination_statement.rendered|safe }}
  </div>
</article>
{% endblock content %}
