{% extends "psf/default.html" %}

{% block page_title %}
{% if form_action == 'update' %}
Update Nomination
{% else %}

{% endif %}
| {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="nominations nominations_form"{% endblock %}
{% block left_sidebar %}{% endblock %}
{% block content_attributes %}{% endblock %}

{% block content %}
    <article class="text">

        <header class="article-header">
            {% if form_action == 'update' %}
            <h1 class="page-title">Update <a href="{{ object.get_absolute_url }}">{{ object.job_title }}</a></h1>
            {% else %}
            <h1 class="page-title">Submit a Nomination for {{ election.name }} Election</h1>
            {% endif %}
        </header>

        <form class="wide-form jobs-form" action="" method="post">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <center>
                <button type="submit" name="Submit">Save</button>
            </center>
        </form>
    </article>
{% endblock content %}
