{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Our Sponsors | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}

    <article class="text">
    
        <h1>PSF Sponsor Members</h1>
        <ul class="list-row-container menu">
        {% for sponsor in sponsors %}
            <li><a href="{{ sponsor.company.url }}">{{ sponsor.company.name }}</a></li>
        {% endfor %}
        </ul>
   
    </article>

{% endblock content %}


{% block right_sidebar %}
    <aside class="right-sidebar" role="secondary">
        
        <div class="sidebar-widget psf-sidebar-widget1">
            {% box 'psf-widget1' %}
            
        </div>

        <div class="sidebar-widget psf-sidebar-widget2">
            {% box 'psf-widget2' %}
            
        </div>

        <div class="sidebar-widget psf-sidebar-widget3">
            {% box 'psf-widget3' %}
            
        </div>

        <div class="sidebar-widget psf-sidebar-widget4 last">
            {% box 'psf-widget4' %}
            
        </div>
        
    </aside>
{% endblock right_sidebar %}
