/* ! ===== Aside/Sidebar Styles ===== */

.main-sidebar {
    
}

/*<div class="main-footer--nav column">
    <h3 class="widget--title">Visit our Members</h3>
    <ul class="widget--list menu">
        <li><a class="widget--link" href="#">Newport Art Museum</a></li>
        <li><a class="widget--link" href="#">Newport Historical Society</a></li>
        <li><a class="widget--link" href="#">Newport Restoration Foundation</a></li>
        <li><a class="widget--link" href="#">The Preservation Society of Newport County</a></li>
        <li><a class="widget--link" href="#">Redwood Library &amp; Athen&aelig;um</a></li>
    </ul>
</div>*/
.widget {
    
    
    // Overrides
    &__twitter { padding: 0; }
    
    /*<div class="widget widget__psf">
        <h3 class="widget--title">The PSF</h3>
        <p>The Python Software Foundation is the organization behind Python. Become a member of the PSF and help advance the software and our mission. </p>
    </div>*/
    &__psf {
        // Compassify this later
        border-top: 4px solid #75a8d3; 
        color: #f2f4f6;
        background-color: #3776ab;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF2B5B84',endColorstr='#FF3776AB');
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#2b5b84),color-stop(90%,#3776ab));
        background-image: -webkit-linear-gradient(#2b5b84 10%,#3776ab 90%);
        background-image: -moz-linear-gradient(#2b5b84 10%,#3776ab 90%);
        background-image: -o-linear-gradient(#2b5b84 10%,#3776ab 90%);
        background-image: linear-gradient(#2b5b84 10%,#3776ab 90%); 
    }
    
    &__psf &--title {
        color: #ffd343;
        margin-top: .4375em;
    }
}