{% load comments i18n %}
<form action="{% block comment_action %}{% comment_form_target %}{% endblock %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>

        {% if field.name == "email" %}
        <label for="id_email">Email</label> <input id="id_email" name="email" placeholder="email" type="text" class="placeholder" value="{{ request.user.email }}">

        {% else %}
        {{ field.label_tag }} {{ field }}
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    {% block buttons %}
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
        <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
    {% endblock %}
  </p>
</form>
