{% if logo_place == "download" %}
  <h2 class="widget-title">Sponsors</h2>
  <p>Visionary sponsors help to host Python downloads.</p>
  {% for sponsorship in sponsorships %}
  <img src="{{ sponsorship.sponsor.web_logo.url }}" height="100px">
  {% endfor %}

{% elif logo_place == "sponsors" %}

  {% for package, sponsorships in sponsorships_by_package.items %}
  {% if sponsorships %}
  <div title="{{ package.name }} Sponsors" align="center">
    <h1 style="font-size: 350%">{{ package }} Sponsors</h1>

    <div style="display: grid; grid-gap: 2em; grid-template-columns: repeat(auto-fit, minmax(350px, 0fr)); grid-template-rows: repeat(1, minmax(350px, 0fr)); align-items: center; justify-content: center;">
       {% for sponsorship in sponsorships %}
       <div>
           <a href="{{ sponsorship.sponsor.landing_page_url }}">
             <img src="{{ sponsorship.sponsor.web_logo.url }}" alt="{{ sponsorship.sponsor.name }} logo" style="max-height:350px;max-width:350px;height:auto;width:auto;">
           </a>
           <p>{{ sponsorship.sponsor.name }}</p>
       </div>
       {% endfor %}
    </div>

  </div>
  {% endif %}
  {% endfor %}
{% endif %}
