{% load blogs cms %}
                        <div class="shrubbery">
                        
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-news"></span>Latest News</h2>
                            <p class="give-me-more"><a href="{{ BLOG_URL }}" title="More News">More</a></p>
                            
                            <ul class="menu">
                                {% get_latest_blog_entries limit=5 as entries %}
                                {% for entry in entries %}
                                <li>{% iso_time_tag entry.pub_date %} <a href="{{ entry.url }}">{{ entry.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- end .shrubbery -->
