                <div class="list-widgets row">
                    
                    <div class="medium-widget blog-widget">
                        <div class="shrubbery">
                        
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-news"></span>Latest News</h2>
                            <p class="give-me-more"><a href="#" title="More News">More</a></p>
                            <ul class="menu">
                                <li><time datetime="2012-09-29">9/29<span class="say-no-more">/2012</span></time> <a href="#">Python 3.3.0 released</a></li>
                                <li><time datetime="2012-09-24">9/24<span class="say-no-more">/2012</span></time> <a href="#">Third rc for Python 3.3.0 released</a></li>
                                <li><time datetime="2012-09-14">9/14<span class="say-no-more">/2012</span></time> <a href="#">Python Software Foundation announces Distinguished Service Award</a></li>
                                <li><time datetime="2012-09-11">9/11<span class="say-no-more">/2012</span></time> <a href="#">ConFoo conference in Canada, February 25th - March 13th</a></li>
                                <li><time datetime="2012-09-09">9/9<span class="say-no-more">/2012</span></time> <a href="#">Second rc for Python 3.3.0 released</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="medium-widget event-widget last">
                        <div class="shrubbery">
                        
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-calendar"></span>Upcoming Events</h2>
                            <p class="give-me-more"><a href="{% url 'events:event_list' %}" title="More Events">More</a></p>
                            <ul class="menu">
                                <li><time datetime="">9/30<span class="say-no-more">/2012</span></time> <a href="#">PyCon India 2012, PyCon UK 2012</a></li>
                                <li><time datetime="">10/4<span class="say-no-more">/2012</span></time> <a href="#">PyCon ZA 2012</a></li>
                                <li><time datetime="">10/5<span class="say-no-more">/2012</span></time> <a href="#">PyCon ZA 2012</a></li>
                                <li><time datetime="">10/8<span class="say-no-more">/2012</span></time> <a href="#">Plone Conference 2012, Plone Conference 2012</a></li>
                                <li><time datetime="">10/30<span class="say-no-more">/2012</span></time> <a href="#">Plone Conference 2012, Plone Conference 2012</a></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
