{% load events %}
                        <div class="shrubbery">
                        
                            <h2 class="widget-title"><span aria-hidden="true" class="icon-calendar"></span>Upcoming Events</h2>
                            <p class="give-me-more"><a href="{% url 'events:calendar_list' %}" title="More Events">More</a></p>
                            
                            <ul class="menu">
                                {% get_events_upcoming limit=5 as events %}
                                {% for event in events %}
                                {% with event.next_time as next_time %}
                                <li><time datetime="{{ next_time.dt_start|date:'c' }}">{{ next_time.dt_start|date:"SHORT_DATE_FORMAT"|slice:":5" }}<span class="say-no-more">/{{ next_time.dt_start|date:"Y" }}</span></time> <a href="{{ event.get_absolute_url }}">{{ event.title|striptags }}</a></li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
