                <ul class="navigation menu" role="menubar" aria-label="Main Navigation">
                    
                    <li class="tier-1 element-1" aria-haspopup="true">
                        <a href="#"><span class="say-no-more">Job </span>Types</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-0 close-subnav" role="treeitem">
                                <a href="about.php"><span class="say-no-more">Job </span>Types</a>
                                <a class="close-for-touch" href="#"><span class="close-graphic">&times;</span></a>
                            </li>
                            <!-- 8 most recent job types -->
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Type 1</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Type 2</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Type 3</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">Type 4</a></li>
                            <li class="tier-2 element-5" role="treeitem"><a href="#">Type 5</a></li>
                            <li class="tier-2 element-6" role="treeitem"><a href="#">Type 6</a></li>
                            <li class="tier-2 element-7" role="treeitem"><a href="#">Type 7</a></li>
                            <li class="tier-2 element-8" role="treeitem"><a href="#">Type 8</a></li>
                            <li class="tier-2 element-9" role="treeitem"><a href="#">All Job Types</a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-2" aria-haspopup="true">
                        <a href="#"><span class="say-no-more">Company </span>Categories</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-0 close-subnav" role="treeitem">
                                <a href="about.php"><span class="say-no-more">Company </span>Categories</a>
                                <a class="close-for-touch" href="#"><span class="close-graphic">&times;</span></a>
                            </li>
                            <!-- 8 most recent company categories -->
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Category 1</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Category 2</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Category 3</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">Category 4</a></li>
                            <li class="tier-2 element-5" role="treeitem"><a href="#">Category 5</a></li>
                            <li class="tier-2 element-6" role="treeitem"><a href="#">Category 6</a></li>
                            <li class="tier-2 element-7" role="treeitem"><a href="#">Category 7</a></li>
                            <li class="tier-2 element-8" role="treeitem"><a href="#">Category 8</a></li>
                            <li class="tier-2 element-9" role="treeitem"><a href="#">All Company Category</a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-3" aria-haspopup="true">
                        <a href="#"><span class="say-no-more">Job </span>Locations</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-0 close-subnav" role="treeitem">
                                <a href="about.php"><span class="say-no-more">Job </span>Locations</a>
                                <a class="close-for-touch" href="#"><span class="close-graphic">&times;</span></a>
                            </li>
                            <!-- 8 most recent locations -->
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Location 1</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Location 2</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Location 3</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">Location 4</a></li>
                            <li class="tier-2 element-5" role="treeitem"><a href="#">Location 5</a></li>
                            <li class="tier-2 element-6" role="treeitem"><a href="#">Location 6</a></li>
                            <li class="tier-2 element-7" role="treeitem"><a href="#">Location 7</a></li>
                            <li class="tier-2 element-8" role="treeitem"><a href="#">Location 8</a></li>
                            <li class="tier-2 element-9" role="treeitem"><a href="#">All Locations</a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-3" aria-haspopup="true">
                        <a href="#">Submit<span class="say-no-more"> a Job Post</span></a>
                    </li>
                </ul>