{% load sitetree %}

{% comment %}
Renders sitetrees according to the current URL namespace and name.

For example, for a URL with namespace = 'events' and name 'event_list', it will
render a tree called 'events' and/or a tree called 'events:event_list', if any
of these exists.

If the URL is not namespaced, it will only load a tree with the same name of the
URL, ie: 'event_list'.
{% endcomment %}


{% if URL_NAMESPACE %}
    {% sitetree_tree from URL_NAMESPACE template "sitetree/sidebar_menu_root.html" %}
{% endif %}

    {% sitetree_tree from URL_NAME template "sitetree/sidebar_menu_root.html" %}
