{% load peps %}
                <div class="pep-widget">

                    <h2 class="widget-title">
                        <span class="prompt">&gt;&gt;&gt;</span> <a href="/dev/peps/">Python Enhancement Proposals<span class="say-no-more"> (PEPs)</span></a>: The future of Python<span class="say-no-more"> is discussed here.</span>
                        <a aria-hidden="true" class="rss-link" href="/dev/peps/peps.rss"><span class="icon-feed"></span> RSS</a>
                    </h2>


                    {# This isn't that awesome, commenting out for now #}
                    {% comment %}
                    {% get_newest_pep_pages as peps %}
                    <ul class="pep-list menu">
                        {% for pep in peps %}
                        <li><a href="{{ pep.get_absolute_url }}">{{ pep.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endcomment %}
                </div>