                <div class="pep-widget">
                    
                    <h2 class="widget-title">
                        <span class="prompt">&gt;&gt;&gt;</span> <a href="{% url 'pep_list' %}">Python Enhancement Proposals<span class="say-no-more"> (PEPs)</span></a>: The future of Python<span class="say-no-more"> is discussed here.</span>
                        <a aria-hidden="true" class="rss-link" href="#"><span class="icon-feed"></span> RSS</a>
                    </h2>
                    
                    <ul class="pep-list menu">
                        <li><a href="#"><span class="pep-number">427:</span> Wheel Binary Package Format 0.1</a></li>
                        <li><a href="#"><span class="pep-number">428:</span> The pathlib module -- object-oriented filesystem&hellip;</a></li>
                        <li><a href="#"><span class="pep-number">425:</span> Compatibility Tags for Built Distributions</a></li>
                        <li><a href="#"><span class="pep-number">424:</span> A method for exposing a length hint</a></li>
                    </ul>
                    
                </div>