                <div class="psf-widget">

                    <div class="shiny-python-logo"></div>

                    <h2 class="widget-title">
                        <span class="prompt">&gt;&gt;&gt;</span> <a href="#">Python Software Foundation</a>
                    </h2>
                    <p>The mission of the Python Software Foundation is to promote, protect, and advance the Python programming language, and to support and facilitate the growth of a diverse and international community of Python programmers. <a class="readmore" href="#">Learn more</a> </p>
                    <p class="click-these">
                        <a class="button" href="{% url 'users:user_membership_edit' %}">Become a Member</a>
                        <a class="button" href="#">Donate to the PSF</a>
                    </p>

                </div>
