                <ul class="navigation menu" role="menubar" aria-label="Main Navigation">
                    
                    <li class="tier-1 element-1" aria-haspopup="true">
                        <a href="about.php">About</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Executive summary</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Mission statement</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Public records</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">Committees</a></li>
                            <li class="tier-2 element-5" role="treeitem"><a href="#">Miscellaneous rep.</a></li>
                            <li class="tier-2 element-6" role="treeitem"><a href="#">Coop. organizations</a></li>
                            <li class="tier-2 element-7 close-subnav" role="treeitem"><a class="close-for-touch" href="#"><span class="close-graphic">&times;</span><span class="close-text">Close</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-2" aria-haspopup="true">
                        <a href="download.php">Membership</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Sponsor Membership</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Membership FAQ</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Membership roster</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">League</a></li>
                            <li class="tier-2 element-5" role="treeitem"><a href="#">Membership forms</a></li>
                            <li class="tier-2 element-6 close-subnav" role="treeitem"><a class="close-for-touch" href="#"><span class="close-graphic">&times;</span><span class="close-text">Close</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-3" aria-haspopup="true">
                        <a href="documentation.php">Donations</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Volunteer</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Contribution forms</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Grants program</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">Suspicious checks</a></li>
                            <li class="tier-2 element-5 close-subnav" role="treeitem"><a class="close-for-touch" href="#"><span class="close-graphic">&times;</span><span class="close-text">Close</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-4" aria-haspopup="true">
                        <a href="#">Legal</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Bylaws</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Trademark policy</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Weblog policy</a></li>
                            <li class="tier-2 element-4" role="treeitem"><a href="#">License</a></li>
                            <li class="tier-2 element-5 close-subnav" role="treeitem"><a class="close-for-touch" href="#"><span class="close-graphic">&times;</span><span class="close-text">Close</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-5" aria-haspopup="true">
                        <a href="#">Media</a>
                        <ul class="subnav menu" role="menu" aria-hidden="true">
                            <li class="tier-2 element-1" role="treeitem"><a href="#">Press releases</a></li>
                            <li class="tier-2 element-2" role="treeitem"><a href="#">Awards</a></li>
                            <li class="tier-2 element-3" role="treeitem"><a href="#">Logo</a></li>
                            <li class="tier-2 element-4 close-subnav" role="treeitem"><a class="close-for-touch" href="#"><span class="close-graphic">&times;</span><span class="close-text">Close</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="tier-1 element-6 last" aria-haspopup="true">
                        <a href="#">PSF Blog</a>
                    </li>
                    
                </ul>