                <div class="row">
                  {% load boxes %}
                    {% box 'homepage-get-started' %}

                    <div class="small-widget download-widget">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-download"></span>Download</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p>Latest: <a href="#">Python 2.7.1</a> <a href="#">Python 3.4</a></p>

                    </div>

                    <div class="small-widget documentation-widget">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-documentation"></span>Docs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">docs.python.org</a></p>

                    </div>

                    <div class="small-widget jobs-widget last">

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-jobs"></span>Jobs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">jobs.python.org</a></p>

                    </div>

                </div>