                <div class="row">
                    
                    <div class="small-widget get-started-widget">
                        <!--
                        <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
                        <script type="text/javascript">// <![CDATA[
                        new TWTR.Widget({
                          version: 2,
                          type: 'profile',
                          rpp: 3,
                          interval: 30000,
                          width: 'auto',
                          height: 600,
                          theme: {
                            shell: {
                              background: '#e6e6e6',
                              color: '#777777'
                            },
                            tweets: {
                              background: '#e6e6e6',
                              color: '#777777',
                              links: '#3776ab'
                            }
                          },
                          features: {
                            scrollbar: false,
                            loop: false,
                            live: false,
                            behavior: 'all'
                          }
                        }).render().setUser('ThePSF').start();
                        // ]]></script>
                        -->

                        <h2 class="widget-title"><span aria-hidden="true" class="icon-get-started"></span>Get Started</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">Start with our Beginner&rsquo;s Guide</a></p>
                        
                    </div>
                    
                    <div class="small-widget download-widget">
                        
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-download"></span>Download</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p>Latest: <a href="#">Python 2.7.1</a> <a href="#">Python 3.4</a></p>
                        
                    </div>

                    <div class="small-widget documentation-widget">
                        
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-documentation"></span>Docs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">docs.python.org</a></p>
                        
                    </div>
                    
                    <div class="small-widget jobs-widget last">
                        
                        <h2 class="widget-title"><span aria-hidden="true" class="icon-jobs"></span>Jobs</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. </p>
                        <p><a href="#">jobs.python.org</a></p>
                        
                    </div>
                    
                </div>