{# This is used to show success stories on frontpage. #}

{% load successstories %}

                        <div class="shrubbery">
                            {% get_featured_story as story %}

                            <h2 class="widget-title"><span aria-hidden="true" class="icon-success-stories"></span>Success Stories</h2>
                            <p class="give-me-more"><a href="{% url 'success_story_list' %}" title="More Success Stories">More</a></p>

                            {% if story %}
                            <div class="success-story-item" id="success-story-{{ story.pk }}">

                            <blockquote>
                                <a href="{{ story.get_absolute_url }}">{{ story.pull_quote }}</a>
                            </blockquote>

                            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="quote-from">
                                <tbody>
                                    <tr>
                                        {% comment %}
                                        This image tag should be for a Company logo, if they have supplied one
                                        Currently this path is for a static logo sample, which no longer exists
                                        <td><a href="{{ story.get_absolute_url }}"><img src="{{ STATIC_URL }}img/ILM_logo.png"></a></td>
                                        {% endcomment %}
                                        <td><p><a href="{{ story.get_absolute_url }}">{{ story.name }}</a> <em>by {{ story.author }}</em></p></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            {% endif %}

                        </div><!-- end .shrubbery -->
