                            <li class="tier-2 super-navigation">
                                <p class="date-posted"><small>Monday, November 19, 2012</small></p>
                                <h4>New Contributor Experience in Python and other FOSS Communities &ndash; A Survey</h4>
                                <p class="excerpt"><small>If you have joined the community of developers contributing to CPython since January 2010, I hope you can find a few spare minutes to participate in a survey being put on by Kevin Carillo. <a class="readmore" href="#">Read more</a></small></p>
                            </li>