                            <li class="tier-2 super-navigation">
                                <h4>Python&rsquo;s standard documentation; download, browse or watch a tutorial.</h4>
                                <p>Get started below, or look visit the <a href="/documentation.php#docs-by-version">Documentation page to browse by version</a>. </p>
                                <p class="download-buttons">
                                    <a class="button" href="#">Python 3.x Docs</a> 
                                    <a class="button" href="#">Python 2.x Docs</a>
                                </p>
                                <p>See also <a href="#">Should I use Python 2 or 3</a>? </p>
                            </li>