                            <li class="tier-2 super-navigation">
                                
                                <img src="{{ STATIC_URL }}img/google-trans.png" alt="Google">
                    
                                <blockquote class="success-quote">
                                    Python allows us to produce maintainable features in record times, with a minimum of developers.
                                </blockquote>
                                <p class="quote-by"><cite>Cuong Do, Software Architect</cite>, YouTube.com</p>
                                
                            </li>