                            <li class="tier-2 super-navigation">
                                <h4>Local Events</h4>
                                <p>Here are some events and groups in your area.</p>
                                <ul class="menu">
                                    <li><time datetime="">9/30<span class="say-no-more">/2012</span></time> <a href="#">Royal Python Society Meetup, Providence RI</a></li>
                                    <li><time datetime="">10/4<span class="say-no-more">/2012</span></time> <a href="#">Python Users Group, Boston MA</a></li>
                                    <li><time datetime="">10/5<span class="say-no-more">/2012</span></time> <a href="#">Python Enthusiasts, Cambridge MA</a></li>
                            </ul>
                            </li>