{% load imagekit %}
<div id="sponsor-rotation" class="flex-slideshow">
    {% if sponsors %}
    <ul class="slides menu">
        {% for s in sponsors %}
        <li style="min-width: 240; min-height=80;">
            {% if s.company.url %}<a href="{{ s.company.url }}">{% endif %}
            {% if s.company.logo %}
            {% thumbnail '240x80' s.company.logo crop=0 %}
            {% else %}
            <h2>{{ s.company.name }}</h2>
            {% endif %}
            {% if s.company.url %}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Without our sponsors we wouldn't be able to help the Python community grow and prosper.</p>
    {% endif %}
</div>