{% extends "downloads/base.html" %}
{% load boxes %}
{% load sitetree %}

{% block body_attributes %}class="python download"{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block page_title %}Python Operating Systems List | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Python Operating Systems List{% endblock %}


{% block content %}
    <article class="text">
        <header class="article-header">
            <h1 class="page-title">Python Operating Sytems List</h1>
        </header>

        <ul>
            {% for o in os_list %}
            <li><a href="{% url 'download:download_os_list' slug=o.slug %}">{{ o.name }}</a></li>
            {% endfor %}
        </ul>
    </article>
{% endblock content %}
