{% extends "base.html" %}
{% load boxes %}
{% load banners %}
{% load sponsors %}

{% block page_title %}Download Python | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Download Python{% endblock %}

{% block body_attributes %}class="python download"{% endblock %}

{% block header_content %}
        <div class="download-for-current-os">
            {% for data in python_files %}
                <div class="download-os-{{ data.os.slug }}" style="display: none;">
                    {% if data.os.slug == 'source' %}
                    <h1 class="call-to-action">Download the latest source release</h1>
                    {% else %}
                    <h1 class="call-to-action">Download the latest version for {{ data.os.name }}</h1>
                    {% endif %}
                    <p class="download-buttons">
                        {% if data.python3 %}
                        <a class="button" href="{{ data.python3.url }}">Download {{ data.python3.release.name }}</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
            <div class="download-unknown">
                <h1 class="call-to-action">Download the latest version of Python</h1>
                <p class="download-buttons">
                    {% if latest_python3 %}
                    <a class="button" href="{{ latest_python3.get_absolute_url }}">Download {{ latest_python3.name }}</a>
                    {% endif %}
                </p>
            </div>
            {% box 'download-banner' %}

        </div>
{% endblock header_content %}

{% block content %}
                <div class="row active-release-list-widget">
                    {% render_active_banner %}

                    <h2 class="widget-title">Active Python Releases</h2>
                    <p class="success-quote"><a href="https://devguide.python.org/#status-of-python-branches">For more information visit the Python Developer's Guide</a>.</p>

                    {% box 'downloads-active-releases' %}
                </div>


                <div class="row download-list-widget">

                    <h2 class="widget-title">Looking for a specific release?</h2>
                    <p class="success-quote">Python releases by version number:</p>

                    <div class="list-row-headings">
                        <span class="release-number">Release version</span>
                        <span class="release-date">Release date</span>
                        <span class="release-download">&nbsp;</span>
                        <span class="release-enhancements">Click for more</span>
                    </div>
                    <ol class="list-row-container menu">
                        {% for r in releases %}
                        <li>
                            <span class="release-number"><a href="{{ r.get_absolute_url }}">{{ r.name }}</a></span>
                            <span class="release-date">{{ r.release_date|date }}</span>
                            <span class="release-download"><a href="{{ r.get_absolute_url }}"><span aria-hidden="true" class="icon-download"></span> Download</a></span>
                            <span class="release-enhancements"><a href="{{ r.release_notes_url }}">Release Notes</a></span>
                        </li>
                        {% endfor %}
                    </ol>
                    {% box 'download-otherreleases' %}

                </div>


                <div class="row">
                    <div class="sidebar-widget download-widget">
                    {% box 'download-sponsors' %}
                    {% comment %}
                    Remove the comment block to replace the content box by
                    the new sponsor logo placement
                    {% list_sponsors 'download' %}
                    {% endcomment %}
                    </div>
                </div>

        		<div class="row">

        		    <div class="small-widget download-widget1">
                        {% box 'download-widget1' %}

                    </div>

                    <div class="small-widget download-widget2">
                        {% box 'download-sources' %}

                    </div>

        		    <div class="small-widget download-widget3">
                        {% box 'download-widget3' %}

                    </div>

                    <div class="small-widget download-widget3 last">
                        {% box 'download-widget4' %}

                    </div>

                </div>

                <div class="row">
                    {% box 'usermessage-releaseschedule' %}
                </div>

                <div class="row">
                    {% box 'download-dev' %}
                </div>

                <div class="row">
                    {% box 'download-pgp' %}
                </div>
{% endblock content %}
