{% extends "downloads/base.html" %}
{% load boxes %}
{% load sitetree %}

{% block body_attributes %}class="python download"{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block page_title %}
{% if os.slug == 'source' %}Python Source Releases{% else %}Python Releases for {{ os.name }}{% endif %} | {{ SITE_INFO.site_name }}
{% endblock %}

{% block og_title %}Python{% if os.slug == 'source' %} Source{% endif %} Releases for {{ os.name }}{% endblock %}


{% block content %}
    <article class="text">
        <header class="article-header">
            {% if os.slug == 'source' %}
            <h1 class="page-title">Python Source Releases</h1>
            {% else %}
            <h1 class="page-title">Python Releases for {{ os.name }}</h1>
            {% endif %}
        </header>

        <ul>
            <li><a href="{{ latest_python3.get_absolute_url }}">Latest Python 3 Release - {{ latest_python3.name }}</a></li>
            <li><a href="{{ latest_python2.get_absolute_url }}">Latest Python 2 Release - {{ latest_python2.name }}</a></li>
        </ul>
        <div class="col-row two-col">
            <div class="column">
                <h2>Stable Releases</h2>
                <ul>
                    {% for r in releases %}
                    <li>
                        <a href="{{ r.get_absolute_url }}">{{ r.name }} - {{ r.release_date|date }}</a>
                        {% if os.slug == 'windows' and r.name >= 'Python 3.5' %}
                        <p><strong>Note that {{ r.name }} <em>cannot</em> be used on Windows XP or earlier.</strong></p>
                        {% endif %}
                        <ul>
                            {% for f in r.files.all %}
                                <li>Download <a href="{{ f.url }}">{{ f.name }}</a></li>
                            {% empty %}
                                <li>No files for this release.</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if pre_releases %}
            <div class="column">
                <h2>Pre-releases</h2>
                <ul>
                    {% for r in pre_releases %}
                    <li>
                        <a href="{{ r.get_absolute_url }}">{{ r.name }} - {{ r.release_date|date }}</a>
                        <ul>
                            {% for f in r.files.all %}
                                <li>Download <a href="{{ f.url }}">{{ f.name }}</a></li>
                            {% empty %}
                                <li>No files for this release.</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </article>
{% endblock content %}
