{% extends "base.html" %}
{% load boxes %}
{% load sitetree %}
{% load has_gpg from download_tags %}
{% load has_sigstore_materials from download_tags %}
{% load has_sbom from download_tags %}
{% load sort_windows from download_tags %}
{% load get_eol_info from download_tags %}

{% block body_attributes %}class="python downloads"{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}



{% block page_title %}Python Release {{ release.name }} | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Python Release {{ release.name }}{% endblock %}


{% block content %}
    <article class="text">

        <header class="article-header">
            <h1 class="page-title">{{ release.name }}</h1>
        </header>

        {% get_eol_info release as eol_info %}
        {% if eol_info.is_eol %}
        <div class="user-feedback level-error">
            <span>Warning:</span>
            Python {{ release.get_version|default:release.name }} reached end-of-life{% if eol_info.eol_date %} on {{ eol_info.eol_date }}{% endif %}.
            It is no longer supported and does not receive security updates.
            We recommend upgrading to the <a href="{% url 'downloads:download_latest_python3' %}">latest Python release</a>.
        </div>
        {% endif %}

        {% if latest_in_series %}
        <div class="user-feedback level-notice">
            <span>Note:</span> {{ release.name }} has been superseded by <a href="{{ latest_in_series.get_absolute_url }}">{{ latest_in_series.name }}</a>.
        </div>
        {% endif %}

        <p><strong>Release date:</strong> {{ release.release_date|date }}</p>

        {% if release.content.raw %}
        {{ release.content.rendered|safe }}
        {% endif %}

        {% if release.release_notes_url %}
        <p><a href="{{ release.release_notes_url }}">Full Changelog</a></p>
        {% endif %}

        {% if release.release_page %}
        <p><a href="{{ release.release_page.get_absolute_url }}">Detailed Release Information</a></p>
        {% endif %}

        <header class="article-header">
            <h2 class="page-title">Files</h2>
        </header>

        {% if featured_files %}
        <div class="featured-downloads-list">
            {% for f in featured_files %}
            <div class="featured-download-box">
                <h3>{{ f.os.name }}</h3>
                <p class="download-buttons">
                    {% if f.os.slug == 'windows' and latest_pymanager and release.is_version_at_least_3_5 %}
                    <a class="button" href="https://www.python.org/downloads/latest/pymanager/">Download Python install manager</a>
                    {% else %}
                    <a class="button" href="{{ f.url }}">Download {{ f.name }}</a>
                    {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <table>
          <thead>
            <tr>
              <th>Version</th>
              <th>Operating System</th>
              <th>Description</th>
              <th>MD5 Sum</th>
              <th>File Size</th>
              {% if release_files|has_sigstore_materials %}
              <th colspan="2"><a href="https://www.python.org/download/sigstore/">Sigstore</a></th>
              {% endif %}
              {% if release_files|has_sbom %}
              <th><a href="https://www.python.org/download/sbom/">SBOM</a></th>
              {% endif %}
              {% if release_files|has_gpg %}
              <th><a href="https://www.python.org/downloads/#gpg">GPG</a></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for f in release_files|sort_windows %}
              <tr>
                <td><a href="{{ f.url }}">{{ f.name }}</a></td>
                <td>{{ f.os.name }}</td>
                <td>{{ f.description }}</td>
                <td>{{ f.md5_sum }}</td>
                <td>{{ f.filesize|filesizeformat }}</td>
                {% if release_files|has_sigstore_materials %}
                  {% if f.sigstore_bundle_file %}
                  <td colspan="2">{% if f.sigstore_bundle_file %}<a href="{{ f.sigstore_bundle_file}}">.sigstore</a>{% endif %}</td>
                  {% else %}
                  <td>{% if f.sigstore_cert_file %}<a href="{{ f.sigstore_cert_file}}">CRT</a>{% endif %}</td>
                  <td>{% if f.sigstore_signature_file %}<a href="{{ f.sigstore_signature_file }}">SIG</a>{% endif %}</td>
                  {% endif %}
                {% endif %}
                {% if release_files|has_sbom %}
                  <td>{% if f.sbom_spdx2_file %}<a href="{{ f.sbom_spdx2_file }}">SPDX</a>{% endif %}</td>
                {% endif %}
                {% if release_files|has_gpg %}
                <td>{% if f.gpg_signature_file %}<a href="{{ f.gpg_signature_file }}">SIG</a>{% endif %}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </article>
{% endblock content %}


