<!-- Download supernav from templates/downloads/supernav.html - Last updated at {{ last_updated }} -->
<li class="tier-2 super-navigation">
    {% for data in python_files %}
    <div class="download-os-{{ data.os.slug }}" style="display: none;">
        {% if data.os.slug == 'source' %}
        <h3>Python Source</h3>
        {% else %}
        <h4>Download for {{ data.os.name }}</h4>
        {% endif %}
        <p>
            <a class="button" href="{{ data.python3.url }}">{{ data.python3.release.name }}</a>
        </p>
        {% if data.os.slug == 'windows' %}<p><strong>Note that Python 3.9+ <em>cannot</em> be used on Windows 7 or earlier.</strong></p>{% endif %}
        <p>Not the OS you are looking for? Python can be used on many operating systems and environments. <a href="{% url 'download:download' %}">View the full list of downloads</a>.</p>
    </div>
    {% endfor %}
    <div class="download-unknown">
        <h4>Download Python for Any OS</h4>
        <p>Python can be used on many operating systems and environments.</p>
        <p>
            <a class="button" href="{% url 'download:download_full_os_list' %}">View the full list of downloads</a>
        </p>
    </div>
</li>
