{% extends "users/base.html" %}
{% load users_tags %}

{% block page_title %}{% firstof object.get_full_name object %} | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block user_content %}

    <article class="text">
        <div class="user-profile-display">

            <div class="user-profile-name">
                <p><span class="profile-label">Name:</span> {% firstof object.get_full_name object %}</p>
            </div>
            <div class="user-profile-membership">
                <p><span class="profile-label"><span class="icon-python" aria-hidden="true"></span>PSF Basic Member?</span> {{ object.has_membership|yesno|capfirst }}</p>
                {% if object.has_membership %}
                <div style="margin-left: 1em;">
                  <p>
                    Basic membership is <b>not a voting membership class</b>.<br>For more information see Article IV
                    of the <a href="https://www.python.org/psf/bylaws/">PSF Bylaws</a>.
                  </p>
                  <p>
                    All other membership classes are recorded on <a href="https://psfmember.org">psfmember.org</a>.<br>
                    Please log in there and review your <a href="https://psfmember.org/user-information/">user profile</a>
                    to see your membership status.<br>
                    If you believe you are a member but do not have an account on psfmember.org, please
                    <a href="https://psfmember.org/wp-login.php?action=register">create an account</a> and verify your
                    email, then email <a href="mailto:psf-donations@python.org">psf-donations@python.org</a> to get your account linked to your membership.
                  </p>
                </div>
              {% endif %}
            </div>
            {% comment %}
            <div class="user-profile-location">
                <p><span class="profile-label">Location:</span> {{ object|user_location|default:"Not Specified" }}</p>
            </div>

            Disable it due to high amount of spam account.
            {% if object.bio and object.bio.raw.strip %}
            <div class="user-profile-bio">
                <p><span class="profile-label">Bio:</span></p> {{ object.bio|escape }}
            </div>
            {% endif %}

                All possible supported networks with icons.
                We don't need to support all of these through the profile if you do not want to

            <div class="user-social-profiles">
                <ul class="menu">
                    <li><a href="#" title="To this user's Twitter profile"><span class="icon-twitter" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Twitter</a></li>
                    <li><a href="#" title="To this user's Freenode profile"><span class="icon-freenode" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Freenode</a></li>
                    <li><a href="#" title="To this user's GitHub profile"><span class="icon-github" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on Github</a></li>
                    <li><a href="#" title="To this user's StackOverflow profile"><span class="icon-stack-overflow" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on StackOverflow</a></li>
                    <li><a href="#" title="To this user's personal blog"><span class="icon-feed" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %}'s personal blog</a></li>
                </ul>
            </div>
            {% endcomment %}

        </div>
    </article>

{% endblock user_content %}
