    <div class="info">

      <p>
        Your Basic Membership information is managed here.
      </p>

      <p>
        To manage your Supporting and Contributing Memberships, visit <a href="https://psfmember.org/user-information/">psfmember.org</a>.
      </p>

      <p>
        Voting in PSF elections requires a Supporting, Contributing, or Fellow Membership.
        <b>Basic Membership is not a voting class</b>.
        To learn more about PSF Membership classes, and to enroll as a Supporting or Contributing Member,
        visit <a href="https://www.python.org/psf/membership/">Our Membership Page</a>.
      </p>

      <p>
        This site (python.org), will list you as a Basic Member
        even if you are a Supporting, Contribution, or Fellowship member
        because the voting tiers of membership are managed on the separate,
        <a href="https://www.psfmember.org">psfmember.org</a> website.
        To affirm your PSF Voting Eligibility you will need to use
        <a href="https://psfmember.org/civicrm/votingaffirmation/">psfmember.org</a>.
      </p>

      <p>
        If you believe you are a Supporting, Contributing, or Fellow Member
        but do not have an account on <a href="https://www.psfmember.org">psfmember.org</a>,
        please create an account and verify your email,
        then email <a href="mailto:psf-donations@python.org">psf-donations@python.org</a>
        to have your account linked to your membership.
      </p>

    </div>
