{% extends "base.html" %}

{% block page_title %}Existing User Found | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}

<div class="user-feedback level-notice">
    <p role="alert">You are already a user (the email matches one in our system)!</p>
</div>

{% endblock content %}
