{% extends "base.html" %}

{% block page_title %}Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python users default-page"{% endblock %}

{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}

    {% if request.user.is_authenticated %}
    <div class="user-profile-controls">
        <ul class="menu">
            <li>Manage your Information: </li>
            <li><a href="{% url 'users:user_detail' slug=request.user.username %}">View profile</a></li>
            <li><a href="{% url 'users:user_profile_edit' %}">Edit profile</a></li>
            {% if request.user.has_membership %}
            <li><a href="{% url 'users:user_membership_edit' %}">Edit PSF membership</a></li>
            {% else %}
            <li><a href="{% url 'users:user_membership_create' %}">Become a PSF member</a></li>
            {% endif %}
            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
        </ul>
    </div>
    {% endif %}
    {% block user_content %}{% endblock %}

{% endblock %}
