{% extends "base.html" %}

{% block page_title %}Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python users default-page"{% endblock %}

{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
  {% if USER_NAV_BAR %}
    <div class="user-profile-controls">
        <ul class="menu">
          <li>Manage your Information: </li>
          {% for section in USER_NAV_BAR.values %}
            {% for url in section.urls %}
            <li><a href="{{ url.url }}">{{ url.label }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
    </div>
    {% block user_content %}{% endblock %}
  {% endif %}

{% endblock %}
