{% extends "base.html" %}

{% block page_title %}Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python users default-page"{% endblock %}

{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}
  {% if USER_NAV_BAR %}
    <div class="user-profile-controls">
      <div class="menu">
        {% for section in USER_NAV_BAR.values %}
          {% if section.urls %}
          <div class="section">
            <span>{{ section.label }}</span>
            <div class="section-links">
              <ul>
                {% for url in section.urls %}
                <a href="{{ url.url }}"><li>{{ url.label }}</li></a>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% block user_content %}{% endblock %}
  {% endif %}

{% endblock %}
