{% extends "base.html" %}
{% load boxes %}
{% load honeypot %}

{% block page_title %}Edit Membership | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf signup default-page"{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}



{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}

{% if request.user %}
<div class="user-profile-controls">
    <ul class="menu">
        <li>Manage your Information: </li>
        <li><a href="{% url 'users:user_profile_edit' %}">Edit your profile</a></li>
        <li>Edit your PSF membership</li>
    </ul>
</div>
{% endif %}

<div class="return-link">
    <a href="{% url 'users:user_list' %}"><span class="icon-arrow-left" aria-hidden="true"><span>&#9664;</span></span>Back to Users</a>
</div>

<article class="text">
    {% comment %}
        I'd like some feedback to appear at the top of the page if the form reloads and there is info missing.
        If the error is at the bottom of the page, no one will see it and realize there is something wrong.
    
        If the form is submitted successfully, we should let the user know as well.
    
        Samples below:
    {% endcomment %}
    
    {% if form.errors %}
    <div class="user-feedback level-error">
        <p role="alert"><span class="icon-alert" aria-hidden="true"><span class="larger">&#9888; </span></span>Please correct the errors <b>noted in red</b> below:</p>
    </div>
    {% endif %}
    
    {% comment %}
    <div class="user-feedback level-success">
        <p role="alert"><span aria-hidden="true">&#10004;</span> Your membership information has been saved successfully.</p>
    </div>
    {% endcomment %}
    
    <form action="" method="post" class="wide-form">
        {% csrf_token %}
    
        <p>
          {{ form.legal_name.errors }}
          {{ form.legal_name.label_tag }}
          {{ form.legal_name }}
        </p>
    
        <p>
          {{ form.preferred_name.errors }}
          {{ form.preferred_name.label_tag }}
          {{ form.preferred_name }}
        </p>
    
        <p>
          {{ form.email_address.errors }}
          {{ form.email_address.label_tag }}
          {{ form.email_address }}
        </p>
    
        <p>
          {{ form.city.errors }}
          {{ form.city.label_tag }}
          {{ form.city }}
        </p>
    
        <p>
          {{ form.region.errors }}
          {{ form.region.label_tag }}
          {{ form.region }}
        </p>
    
        <p>
          {{ form.country.errors }}
          {{ form.country.label_tag }}
          {{ form.country }}
        </p>
    
        <p>
          {{ form.postal_code.errors }}
          {{ form.postal_code.label_tag }}
          {{ form.postal_code }}
        </p>
    
        <div class="psf-codeofconduct">
            {% box 'psf-codeofconduct' %}
            
        </div>
    
        <div class="horizontal-menu">
            {{ form.psf_code_of_conduct.errors }}
            {{ form.psf_code_of_conduct.label_tag }}
            {{ form.psf_code_of_conduct }}
        </div>
    
        <div class="horizontal-menu">
            {{ form.psf_announcements.errors }}
            {{ form.psf_announcements.label_tag }}
            {{ form.psf_announcements }}
        </div>
    
        <p>
          {% render_honeypot_field %}
          <button type="submit" name="Submit">Save Profile</button>
        </p>
    </form>

</article>

{% endblock content %}
