{% extends "users/base.html" %}
{% load boxes %}
{% load honeypot %}

{% block page_title %}Edit Membership | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf signup default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block user_content %}

<article class="text">
    {% if request.user.has_membership %}
    <h1 class="default-title">Edit your PSF Membership</h1>
    {% else %}
    <h1 class="default-title">Register to become a PSF Member</h1>
    {% endif %}

    {% if form.errors %}
    <div class="user-feedback level-error">
        <p role="alert"><span class="icon-alert" aria-hidden="true"><span class="larger">&#9888; </span></span>Please correct the errors <b>noted in red</b> below:</p>
    </div>
    {% endif %}

    <form action="" method="post" class="wide-form">
        {% csrf_token %}

        <p>
          {{ form.legal_name.errors }}
          {{ form.legal_name.label_tag }}
          {{ form.legal_name }}
        </p>

        <p>
          {{ form.preferred_name.errors }}
          {{ form.preferred_name.label_tag }}
          {{ form.preferred_name }}
        </p>

        <p>
          {{ form.email_address.errors }}
          {{ form.email_address.label_tag }}
          {{ form.email_address }}
        </p>

        <p>
          {{ form.city.errors }}
          {{ form.city.label_tag }}
          {{ form.city }}
        </p>

        <p>
          {{ form.region.errors }}
          {{ form.region.label_tag }}
          {{ form.region }}
        </p>

        <p>
          {{ form.country.errors }}
          {{ form.country.label_tag }}
          {{ form.country }}
        </p>

        <p>
          {{ form.postal_code.errors }}
          {{ form.postal_code.label_tag }}
          {{ form.postal_code }}
        </p>

        {% if request.user.has_membership %}
        <div class="horizontal-menu">
          <p>I have previously agreed to the <a href="/psf/codeofconduct/">PSF Code of Conduct</a>.</p>
        </div>
        {% else %}
        {# only display CoC on intial creation #}
        <div class="psf-codeofconduct">
            {% box 'psf-codeofconduct' %}
        </div>

        <div class="horizontal-menu">
            {{ form.psf_code_of_conduct.errors }}
            {{ form.psf_code_of_conduct.label_tag }}
            {{ form.psf_code_of_conduct }}
        </div>
        {% endif %}

        <div class="horizontal-menu">
            {{ form.psf_announcements.errors }}
            {{ form.psf_announcements.label_tag }}
            {{ form.psf_announcements }}
        </div>

        <p>
          {% render_honeypot_field %}
          <button type="submit" name="Submit">Save Profile</button>
        </p>
    </form>

    {% if request.user.has_membership %}
    <form action="{% url 'users:user_membership_delete' user.username %}"
          method="post"
          class="deletion-form"
          onsubmit="return confirm('Are you sure?');">
        {% csrf_token %}
        <p>
            <label for="id_delete_membership">
                You can delete your PSF membership if you don't want to get emails from the PSF.
            </label>
            <button type="submit" id="id_delete_membership">Delete your PSF membership</button>
        </p>
    </form>
    {% endif %}

</article>

{% endblock user_content %}
