{% extends "users/base.html" %}
{% load boxes %}
{% load honeypot %}

{% block page_title %}Edit Basic Membership | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf signup default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block user_content %}

<article class="text">
    {% if request.user.has_membership %}
    <h1 class="default-title">Edit your PSF Basic Membership</h1>
    {% else %}
    <h1 class="default-title">Register to become a PSF Basic Member</h1>
    {% endif %}

    <div class="info">
      <p>
        Basic membership is <b>not a voting membership class</b>.<br>For more information see Article IV
        of the <a href="https://www.python.org/psf/bylaws/">PSF Bylaws</a>.
      </p>
      <p>
        All other membership classes are recorded on <a href="https://psfmember.org">psfmember.org</a>.<br>
        Please log in there and review your <a href="https://psfmember.org/user-information/">user profile</a>
        to see your membership status.<br>
        If you believe you are a member but do not have an account on psfmember.org, please
        <a href="https://psfmember.org/wp-login.php?action=register">create an account</a> and verify your
        email, then email <a href="mailto:psf-donations@python.org">psf-donations@python.org</a> to get your account linked to your membership.
      </p>
      <p>For more information and to sign up for other kinds of PSF membership, visit our <a href="https://www.python.org/psf/membership/">Membership Page</a>.</p>
    </div>

    {% if form.errors %}
    <div class="user-feedback level-error">
        <p role="alert"><span class="icon-alert" aria-hidden="true"><span class="larger">&#9888; </span></span>Please correct the errors <b>noted in red</b> below:</p>
    </div>
    {% endif %}

    <form action="" method="post" class="wide-form">
        {% csrf_token %}

        <p>
          {{ form.legal_name.errors }}
          {{ form.legal_name.label_tag }}
          {{ form.legal_name }}
        </p>

        <p>
          {{ form.preferred_name.errors }}
          {{ form.preferred_name.label_tag }}
          {{ form.preferred_name }}
        </p>

        <p>
          {{ form.email_address.errors }}
          {{ form.email_address.label_tag }}
          {{ form.email_address }}
        </p>

        <p>
          {{ form.city.errors }}
          {{ form.city.label_tag }}
          {{ form.city }}
        </p>

        <p>
          {{ form.region.errors }}
          {{ form.region.label_tag }}
          {{ form.region }}
        </p>

        <p>
          {{ form.country.errors }}
          {{ form.country.label_tag }}
          {{ form.country }}
        </p>

        <p>
          {{ form.postal_code.errors }}
          {{ form.postal_code.label_tag }}
          {{ form.postal_code }}
        </p>

        {% if request.user.has_membership %}
        <div class="horizontal-menu">
          <p>I have previously agreed to the <a href="/psf/codeofconduct/">PSF Code of Conduct</a>.</p>
        </div>
        {% else %}
        {# only display CoC on initial creation #}
        <div class="psf-codeofconduct">
            {% box 'psf-codeofconduct' %}
        </div>

        <div class="horizontal-menu">
            {{ form.psf_code_of_conduct.errors }}
            {{ form.psf_code_of_conduct.label_tag }}
            {{ form.psf_code_of_conduct }}
        </div>
        {% endif %}

        <div class="horizontal-menu">
            {{ form.psf_announcements.errors }}
            {{ form.psf_announcements.label_tag }}
            {{ form.psf_announcements }}
        </div>

        <p>
          {% render_honeypot_field %}
          <button type="submit" name="Submit">Save Profile</button>
        </p>
    </form>

    {% if request.user.has_membership %}
    <form action="{% url 'users:user_membership_delete' user.username %}"
          method="post"
          class="deletion-form"
          onsubmit="return confirm('Are you sure?');">
        {% csrf_token %}
        <button type="submit" id="id_delete_membership">Delete your PSF Basic Membership</button>
    </form>
    {% endif %}

</article>

{% endblock user_content %}
