{% extends "users/base.html" %}
{% load users_tags %}

{% block page_title %}Nominations | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block user_content %}

<div>
  {% for election, nominations in elections.items %}
  <h1><a href="{% url 'nominations:nominees_list' election=election.slug %}">{{ election.name }} Election</a></h1>

  {% if nominations.nominations_recieved|length > 0 %}
  <h2>Nominations Recieved</h2>
  <ul>
    {% for nomination in nominations.nominations_recieved %}
    <li>
    {% if nomination.nominator == request.user %}
    Self Nomination
    {% else %}
    Nomination from {{ nomination.nominator.first_name }} {{ nomination.nominator.last_name }}
    {% endif %}
    <a href="{{ nomination.get_absolute_url }}">
      {% if nomination.is_editable %}
      View/Edit
      {% else %}
      View
      {% endif %}
    </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if nominations.nominations_made|length > 0 %}
  <h2>Nominations Made</h2>
  <ul>
    {% for nomination in nominations.nominations_made %}
    <li>
    {% if nomination.nominee %}
    {{ nomination.nominee.name }}
    {% else %}
    {{ nomination.name }}
    {% endif %}
    <a href="{{ nomination.get_absolute_url }}">
      {% if nomination.is_editable %}
      View/Edit
      {% else %}
      View
      {% endif %}
    </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <br>
  {% endfor %}
</div>

{% endblock user_content %}
