{% extends "users/base.html" %}
{% load humanize pipeline %}

{% block head %}
    {% stylesheet 'font-awesome' %}
{% endblock %}

{% block page_title %}
    {{ sponsorship.sponsor.name }} Sponsorship Application | {{ SITE_INFO.site_name }}
{% endblock %}

{% block body_attributes %}class="psf signup default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block user_content %}
    <div id="sponsorship-detail-container">
        <h1>{{ sponsorship.sponsor.name }} Sponsorship Application</h1>

        <div class="info-cards">
            <div id="sponsor-info" class="card small-column">
                <h3>Sponsor: {{ sponsor.name }}</h3>
                <ul>
                    <li><b>URL:</b> <a href="{{ sponsor.landing_page_url }}" target="_blank">landing page</a></li>
                    <li><b>Description:</b> {{ sponsor.description }}</li>
                    <li><b>Twitter:</b> {{ sponsor.twitter_handle }}</li>
                    <li><b>Phone:</b> {{ sponsor.primary_phone }}</li>
                    <li><b>Mailing Address:</b>
                        {{ sponsor.mailing_address_line_1 }}{% if sponsor.mailing_address_line_2 %} -
                            {{ sponsor.mailing_address_line_2 }}{% endif %}</li>
                    <li><b>City:</b> {{ sponsor.city }}</li>
                    <li><b>State:</b> {{ sponsor.state }}</li>
                    <li><b>Country:</b> {{ sponsor.country }}</li>
                </ul>
                <small><a href="{% url 'users:edit_sponsor_info' sponsorship.sponsor.pk %}">Edit sponsor information</a></small>
            </div>

            <div id="application-info" class="card small-column">
                <h3>Application Data</h3>
                <ul>
                    <li><b>Status:</b> {{ sponsorship.get_status_display }}</li>
                    <li><b>Application date:</b> {{ sponsorship.applied_on|default_if_none:"---" }}</li>
                    <li><b>Approval date:</b> {{ sponsorship.approved_on|default_if_none:"---" }}</li>
                    <li><b>Start date:</b> {{ sponsorship.start_date|default_if_none:"---" }}</li>
                    <li><b>End date:</b> {{ sponsorship.end_date|default_if_none:"---" }}</li>
                    {% if sponsorship.finalized_on %}
                        <li><b>Finalized date:</b> {{ sponsorship.finalized_on }}</li>
                    {% endif %}
                    <li><b>Level:</b> {{ sponsorship.level_name }}</li>
                    <li><b>Agreed sponsorship fee:</b> {% if sponsorship.agreed_fee %}$
                        {{ sponsorship.agreed_fee|intcomma }}{% else %}To be determined{% endif %}</li>
                </ul>
            </div>

            {% if provided_assets %}
                <div id="provided-assets-info" class="card wide-column">
                    <h3>Provided Assets</h3>
                    <p><small>Assets from the PSF related to your sponsorship.</small></p>
                    <ul>
                        {% for asset in provided_assets %}
                            <p><b>{{ asset.sponsor_benefit }}</b> benefit provides you with {{ asset.label }}:</p>
                            {% if asset.polymorphic_ctype.name == "Provided Text" %}
                                <pre>{{ asset.value|urlize }}</pre>
                            {% elif asset.polymorphic_ctype.name == "Provided File" %}
                                <a href="{{ asset.value.url }}">View File</a>
                            {% else %}
                                {{ asset.value }}
                            {% endif %}
                            <small>{{ asset.help_text }}</small>
                            <br><br>
                        {% endfor %}
                    </ul>
                    <small><a href="{% url 'users:view_provided_sponsorship_assets' sponsorship.pk %}">View all
                        assets</a></small>
                </div>
            {% endif %}

            {% if required_assets or fulfilled_assets %}
                <div id="assets-info" class="card wide-column">
                    <h3>Required Assets</h3>
                    <p><small>You've selected benefits which require extra assets (logos, slides etc) in order to be
                        fulfilled.</small></p>
                    <div class="assets-list">
                        {% for asset in required_assets %}
                            <div class="asset-item incomplete">
                                <h4>{{ asset.label }}</h4>
                                <p>Incomplete{% if asset.due_date %} -
                                    <span class="due-date">Required by {{ asset.due_date }}</span>{% endif %}</p>
                                <a href="{{ asset.user_edit_url }}" class="btn btn-link btn-sm">Add asset</a>
                            </div>
                        {% endfor %}
                        {% for asset in fulfilled_assets %}
                            <div class="asset-item fulfilled">
                                <h4>{{ asset.label }}</h4>
                                <p>Fulfilled</p>
                                <a href="{{ asset.user_edit_url }}" class="btn btn-link btn-sm">Edit asset</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="edit-all-assets">
                        <a href="{% url 'users:update_sponsorship_assets' sponsorship.pk %}" class="btn btn-link">Edit
                            all assets</a>
                    </div>
                </div>
            {% endif %}

            <div class="card wide-column">
                <h3>Sponsorship Benefits</h3>
                <div class="benefits-grid">
                    {% for benefit in sponsorship.benefits.all %}
                        <div class="benefit-item">
                            <div class="benefit-content">
                                <span class="benefit-name">{{ benefit.name_for_display }}</span>
                                {% if benefit.description %}
                                    <span class="benefit-description" title="{{ benefit.description }}">
                            <i class="fa fa-info-circle"></i>
                        </span>
                                {% endif %}
                                <span class="benefit-category">{{ benefit.program.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% javascript 'sponsors' %}
{% endblock %}