{% extends "users/base.html" %}
{% load users_tags %}

{% block page_title %}{% firstof object.get_full_name object %} | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block user_content %}

    <article class="text">
        <div class="user-profile-display">

            <div class="user-profile-name">
                <p><span class="profile-label">Name:</span> {% firstof object.get_full_name object %}</p>
            </div>
            <div class="user-profile-membership">
                <p><span class="profile-label"><span class="icon-python" aria-hidden="true"></span> PSF Member?</span> {{ object.has_membership|yesno|capfirst }}</p>
            </div>
            {% comment %}
            <div class="user-profile-location">
                <p><span class="profile-label">Location:</span> {{ object|user_location|default:"Not Specified" }}</p>
            </div>

            Disable it due to high amount of spam account.
            {% if object.bio and object.bio.raw.strip %}
            <div class="user-profile-bio">
                <p><span class="profile-label">Bio:</span></p> {{ object.bio|escape }}
            </div>
            {% endif %}

                All possible supported networks with icons.
                We don't need to support all of these through the profile if you do not want to

            <div class="user-social-profiles">
                <ul class="menu">
                    <li><a href="#" title="To this user's Twitter profile"><span class="icon-twitter" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Twitter</a></li>
                    <li><a href="#" title="To this user's Freenode profile"><span class="icon-freenode" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Freenode</a></li>
                    <li><a href="#" title="To this user's GitHub profile"><span class="icon-github" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on Github</a></li>
                    <li><a href="#" title="To this user's StackOverflow profile"><span class="icon-stack-overflow" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on StackOverflow</a></li>
                    <li><a href="#" title="To this user's Google+ profile"><span class="icon-google-plus" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on Google+</a></li>
                    <li><a href="#" title="To this user's personal blog"><span class="icon-feed" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %}'s personal blog</a></li>
                </ul>
            </div>
            {% endcomment %}

        </div>
    </article>

{% endblock user_content %}
