{% extends "users/base.html" %}
{% load honeypot %}

{% block page_title %}Edit Profile | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block user_content %}

    <div class="return-link">
        <a href="{% url 'users:user_list' %}"><span class="icon-arrow-left" aria-hidden="true"><span>&#9664;</span></span>Back to Users</a>
    </div>


    {% if form.errors %}
    <div class="user-feedback level-error">
        <p role="alert"><span class="icon-alert" aria-hidden="true"><span class="larger">&#9888; </span></span>Please correct the errors <b>noted in red</b> below:</p>
    </div>
    {% endif %}

    <article class="text">
        <h1 class="default-title">Edit information for: <strong>{% firstof user.get_full_name user.username %}</strong></h1>
        <form action="" method="post" class="wide-form user-form">
            {% csrf_token %}
            {{ form.as_p }}

            {% comment %}
                Would like the ULs that contain the input/radio elements to have the class "menu".
                Is this possible/easy?
                I ask because otherwise I have to target ALL ULs inside of this form to have the bullets removed,
                and that may not be future friendly

                Markup should be:
                <ul class="menu">
                    <li><label for="id_psf_code_of_conduct_0"><input checked="checked" id="id_psf_code_of_conduct_0" name="psf_code_of_conduct" type="radio" value="True"> Yes</label></li>
                    <li><label for="id_psf_code_of_conduct_1"><input id="id_psf_code_of_conduct_1" name="psf_code_of_conduct" type="radio" value="False"> No</label></li>
                </ul>
            {% endcomment %}

            <p>
                {% render_honeypot_field %}
                <button type="submit" name="Submit">Save Profile</button>
            </p>
        </form>
    </article>

{% endblock user_content %}
