{% extends "base.html" %}

{% block page_title %}{% firstof object.get_full_name object %} | Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf users default-page"{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}

    {% if request.user %}
    <div class="user-profile-controls">
        <ul class="menu">
            <li>Manage your Information: </li>
            <li><a href="{% url 'users:user_profile_edit' %}">Edit your profile</a></li>
            <li><a href="{% url 'users:user_membership_edit' %}">Edit your PSF membership</a></li>
        </ul>
    </div>
    {% endif %}
    
    <div class="return-link">
        <a href="{% url 'users:user_list' %}"><span class="icon-arrow-left" aria-hidden="true"><span>&#9664;</span></span>Back to Users</a>
    </div>
    
    <article class="text">
        <div class="user-profile-display">
        
            <div class="user-profile-name">
                <p><span class="profile-label">Name:</span> {% firstof object.get_full_name object %}</p>
            </div>
            {% comment %}
            <div class="user-profile-location">
                <p><span class="profile-label">Location:</span> {{ object|user_location|default:"Not Specified" }}</p>
            </div>
            {% endcomment %}
            <div class="user-profile-bio">
                {{ object.bio }}
            </div>
        
            {% comment %}
                All possible supported networks with icons.
                We don't need to support all of these through the profile if you do not want to
            {% endcomment %}
            {% comment %}
            <div class="user-social-profiles">
                <ul class="menu">
                    <li><a href="#" title="To this user's Twitter profile"><span class="icon-twitter" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Twitter</a></li>
                    <li><a href="#" title="To this user's Freenode profile"><span class="icon-freenode" aria-hidden="true"></span>{% firstof object.get_full_name object %} on Freenode</a></li>
                    <li><a href="#" title="To this user's GitHub profile"><span class="icon-github" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on Github</a></li>
                    <li><a href="#" title="To this user's StackOverflow profile"><span class="icon-stack-overflow" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on StackOverflow</a></li>
                    <li><a href="#" title="To this user's Google+ profile"><span class="icon-google-plus" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %} on Google+</a></li>
                    <li><a href="#" title="To this user's personal blog"><span class="icon-feed" aria-hidden="true"></span>{% firstof object.membership.preferred_name object.membership.legal_name object %}'s personal blog</a></li>
                </ul>
            </div>
            {% endcomment %}
        
        </div>
    </article>

{% endblock content %}
