{% extends "users/base.html" %}
{% load users_tags %}
{% block page_title %}Our Users &amp; Members | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="python users default-page"{% endblock %}

{% block user_content %}

    <article class="text">
        <div class="active-user-list">

            <h1 class="default-title">Current Python.org Users and PSF Members</h1>
            <div class="list-row-headings">
                <span class="user-name">User Name</span>
                <span class="user-location">Location</span>
                <span class="user-psfmember-status">PSF Member?</span>
            </div>
            <ul class="list-row-container menu">
            {% for user in user_list %}
                <li>
                    <span class="user-name"><a href="{{ user.get_absolute_url }}">{% firstof user.get_full_name user.username %}</a></span>
                    <span class="user-location">{{ user|user_location|default:"" }}</span>
                    <span class="user-psfmember-status"><span class="icon-python" aria-hidden="true"></span>{{ user.has_membership|yesno|capfirst }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>

        <!-- Pagination -->
        <ul class="pagination menu">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
            {% else %}
                <li class="previous"><a class="disabled" href="">Prev</a></li>
            {% endif %}

            {% for page in paginator.page_range %}
            <li><a {% if page_obj.number == page %}class="active" {% endif %}href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="next"><a class="disabled" href="">Next</a></li>
            {% endif %}
        </ul>
    </article>

{% endblock user_content %}
