{# ===== PSF Default Content PAGE ===== #}

{% extends "base.html" %}
{% load boxes %}
{% load banners %}

{# TODO: Try to deduplicate this and templates/pages/default.html. #}
{% block page_title %}{{ page.title }} | Python Software Foundation{% endblock %}
{% block og_title %}{{ page.title }}{% endblock %}
{% block page-descript %}{% if page.description and page.description.strip %}{{ page.description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block og-descript %}{% if page.description and page.description.strip %}{{ page.description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block page-keywords %}{% if page.keywords and page.keywords.strip %}{{ page.keywords }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block body_attributes %}class="psf pages default-page"{% endblock %}

{% block section-logo %}<a href="/psf-landing/"><img class="psf-logo" src="{{ STATIC_URL }}img/psf-logo.png" alt="Python Software Foundation"></a>{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}

{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}



{% block breadcrumbs %}
    {% load sitetree %}

    {% render_active_psf_banner %}

    {% sitetree_breadcrumbs from "main" template "sitetree/breadcrumbs.html" %}
{% endblock breadcrumbs %}


{% block content %}
    {% if not page.is_published %}
    <div class="user-feedback level-notice">
        <p role="alert">This page is a draft and it hasn't been published yet. Only staff users can see it.</p>
    </div>
    {% endif %}

    <article class="text">
        {% if request.user.is_staff %}
        <a role="button" class="button" href="{% url 'admin:pages_page_change' page.pk %}">Edit this page</a>
        {% endif %}

        {{ page.content }}

    </article>
{% endblock content %}
