{# ===== PSF LANDING PAGE ===== #}

{% extends "base.html" %}
{% load boxes sponsors blogs %}

{% block page_title %}Python Software Foundation{% endblock %}

{% block body_attributes %}class="psf"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{# Need to insert the URL tag for the PSF landing page #}
{% block section-logo %}<a href="/psf-landing/"><img class="psf-logo" src="{{ STATIC_URL }}img/psf-logo.png" alt="Python Software Foundation"></a>{% endblock %}

{% block header-banner_attributes %}do-not-print{% endblock %}

{% block header_content %}

      <div class="notification-bar notification-bar--survey" style="background-color: #ffdf76; color: #664e04; border-color: #004d7a; border-bottom: 2px solid #fff; text-align: center; background-color: #004d7a; color: #fff; padding: 10px; margin: .5em; position: relative; width: 95%; background-color: #ffdf76; color: #664e04; border-color: #004d7a; border-radius: 10px;">
        <span class="notification-bar__icon">
          <i class="fa fa-chart-line" aria-hidden="true"></i>
        </span>
        <span class="notification-bar__message">Help sustain the Python Software Foundation! &nbsp;&nbsp;<a class="button button--dark button--small button--primary" style="color: #606060; border-color: #006dad; background-color: #006dad;" href="https://www.python.org/psf/donations/2018-q4-drive/"  target="_blank" rel="noopener">Participate in our Recurring Giving Campaign </a>
         </span>
      </div>

                <div class="welcome-to-the-foundation">
                    {% box 'psf-banner' %}

                </div>
{% endblock header_content %}


{% block content %}
                <div class="row">

        		    <div class="small-widget psf-widget1">
                        {% box 'psf-widget1' %}
                    </div>

                    <div class="small-widget psf-widget2">
                        {% box 'psf-widget2' %}
                    </div>

                    <div class="small-widget psf-widget3">
                        {% box 'psf-widget3' %}
                    </div>

                    <div class="small-widget psf-widget4 last">
                        <h2 class="widget-title">Sponsors</h2>
                        {% featured_sponsor_rotation %}
                        <p><a class="button" href="/psf/sponsorship/">Sponsorship Possibilities</a></p>
                    </div>

                </div>


        		<div class="row">

                    <div class="medium-widget grants-widget">
                        {% box 'psf-grants' %}
                    </div>

                    <div class="medium-widget news-wiki-widget last">

                        <div class="split-widget-wrapper shrubbery">
                            <h2 class="widget-title">PSF News </h2>
                            {% feed_list 'psf-news' as psf_entries %}
                            {% if psf_entries %}
                            <ul class="menu">
                              {% for entry in psf_entries %}
                              <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                    </div>

                </div>

{% endblock content %}
