{% extends "psf/full-width.html" %}
{% load sponsors %}

{% block page_title %}Python Software Foundation Sponsors | Python Software Foundation{% endblock %}
{% block og_title %}Python Software Foundation Sponsors{% endblock %}

{% block head %}
{{ block.super }}
{# EthicalAds renders the sponsor logos below; no other page has ad placements. #}
{% if not request.disable_tracking %}
<script async
        src="https://media.ethicalads.io/media/client/v1.4.0/ethicalads.min.js"
        integrity="sha256-U3hKDidudIaxBDEzwGJApJgPEf2mWk6cfMWghrAa6i0= sha384-UcmsCqcNRSLW/dV3Lo1oCi2/VaurXbib6p4HyUEOeIa/4OpsrnucrugAefzVZJfI sha512-q4t1L4xEjGV2R4hzqCa41P8jrgFUS8xTb8rdNv4FGvw7FpydVj/kkxBJHOiaoxHa8olCcx1Slk9K+3sNbsM4ug=="
        crossorigin="anonymous"
></script>
{% endif %}
{% endblock head %}

{% block content %}

<article class="text">
  <h3>
    The PSF would not be possible without the generous financial help of
    the following
    <a href="/psf/sponsorship/">sponsors</a>. While the PSF thanks these sponsors for their support, we don't necessarily endorse nor promote any specific activity of any of its sponsors.
  </h3>

  <p>Interested in becoming a sponsor? Check out our <a href="{% url 'select_sponsorship_application_benefits' %}">sponsor application</a>.</p>

  {% list_sponsors "sponsors" %}

</article>
{% endblock content %}
