{% extends "base.html" %}
{% load boxes %}

{% block page_title %}Python Calendars | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Python Calendars{% endblock %}

{% block body_attributes %}class="python events list-calendars default-page"{% endblock %}

{% block content_attributes %}with-right-sidebar{% endblock %}

{% block content %}
    <article class="text">
        
        <header class="article-header">
            <h1 class="page-title">Featured Python Calendars</h2>
        </header>
        
        <p>Choose a calendar to view events.</p>
        
        <ul class="list">
    {% for object in object_list %}
            <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
    {% endfor %}
        </ul>
        
    </article>
{% endblock content %}
