{% extends "events/base.html" %}

{% block page_title %}Submit an Event | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Submit an Event{% endblock %}

{% block body_attributes %}class="python events event-form default-page"{% endblock %}

{% block content %}
    <article class="text">
        <header class="article-header">
            <h1 class="page-title">Submit an Event</h1>
        </header>

        <div class="user-feedback level-general">
            <p>
                For bulk submittions, please check the
                <a href="https://wiki.python.org/moin/PythonEventsCalendar#Submitting_an_Event">Submitting an Event</a>
                page on the Python wiki.
            </p>
        </div>

        <p>
            <strong>All fields are required.</strong>
        </p>

        <form class="wide-form" action="{% url 'events:event_submit' %}" method="post">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
            {{ form.as_p }}
            <p>
                <button type="submit" name="Submit">Submit</button>
            </p>
        </form>
    </article>
{% endblock content %}
