{% extends "events/base.html" %}

{% block page_title %}Our Events | {{ SITE_INFO.site_name }}{% endblock %}
{% block og_title %}Our Events{% endblock %}

{% block body_attributes %}class="python events{% if not featured %} default-page{% endif %}"{% endblock %}


{% block header_content %}
    {% if featured %}
                <div class="featured-event">

                    <h2 class="welcome-message">Featured Python Event</h2>

                    <h1 class="call-to-action">{{ featured.title|striptags }}</h1>

                    <p class="event-date"><time datetime="{{ featured.next_datetime.dt_start|date:'c' }}">
                        {{ featured.next_datetime.dt_start|date:"l, F d, Y" }}
                    </time></p>
                    <p class="excerpt">{{ featured.description.rendered|striptags|truncatewords:"60" }} <a class="readmore" href="{{ featured.get_absolute_url }}">Read more</a></p>
                </div>
    {% endif %}
{% endblock header_content %}


{# Based on python/events.html #}

{% block content %}

        {% if calendar %}
        <header class="article-header">
            <h3>from the {{ calendar.name }}</h3>
        </header>
        {% endif %}

        <div class="most-recent-events">
            <div class="shrubbery">
                <h2 class="widget-title"><span aria-hidden="true" class="icon-calendar"></span>Upcoming Events</h2>
                {% if page_obj.has_next %}
                <p class="give-me-more"><a href="?page={{ page_obj.next_page_number }}" title="More Events">More</a></p>
                {% endif %}
                <ul class="list-recent-events menu">
                {% for object in object_list %}
                    <li>
                        <h3 class="event-title"><a href="{{ object.get_absolute_url }}">{{ object.title|striptags }}</a></h3>
                        <p>
                            {% with object.next_time as next_time %}
                            {% include "events/includes/time_tag.html" %}
                            {% endwith %}

                            {% if object.venue %}
                            <span class="event-location">{% if object.venue.url %}<a href="{{ object.venue.url }}">{% endif %}{{ object.venue.name }}{% if object.venue.url %}</a>{% endif %}{% if object.venue.address %}, {{ object.venue.address }}{% endif %}</span>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
                </ul>
            </div>

            {% if events_today %}
            <h3 class="widget-title just-missed">You just missed...</h3>
            <ul class="list-recent-events menu">
                {% for object in events_today %}
                <li>
                    <h3 class="event-title"><a href="{{ object.get_absolute_url }}">{{ object.title|striptags }}</a></h3>
                    <p>
                        {% with object.previous_time as next_time %}
                        {% include "events/includes/time_tag.html" %}
                        {% endwith %}

                        {% if object.venue %}
                        <span class="event-location">{% if object.venue.url %}<a href="{{ object.venue.url }}">{% endif %}{{ object.venue.name }}{% if object.venue.url %}</a>{% endif %}{% if object.venue.address %}, {{ object.venue.address }}{% endif %}</span>
                        {% endif %}
                    </p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
{% endblock content %}
