{% extends "events/base.html" %}

{% block page_title %}Event Submitted | {{ SITE_INFO.site_name }}{% endblock %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <h1>Thank you for filing a new event!</h1>
    <div class="user-feedback level-success">
        <p>
            <strong>Your event has been submitted!</strong> This has sent
            an email to the maintainers of the Python Events calendar.
            Please check your email and await for updates. Thanks a lot!
        </p>
    </div>
</div>
{% endblock content %}
