{% extends "waitforit.html" %}

{% comment %}
{% extends "base.html" %}

{% block body_attributes %}class="python events list-locations"{% endblock %}
{% endcomment %}


{% block content_attributes %}with-right-sidebar{% endblock %}


{% block content %}

                <div class="most-recent-events">
    		        {% comment %}
                    <div class="more-by-location">
                        <h3 class="widget-title">Find Events near you <!-- HTML5 geolocation? --></h3>
                        
                        <!-- If we wanna have more fun with it, we can allow the user to choose to expand the location matching before they go anywhere and load more events below with Ajax. Initial load would; grab locations within five miles (?) or at least 10 active locations (places that have an event coming up within the next 90 (?) days. -->
                    
                        <form>
                            <fieldset title="Narrow or expand the event search by location and timeframe">
                                <p><select name="">
                                    <option value="-">-- Change your location range</option>
                                    <option value="-">Within 10 miles</option>
                                    <option value="-">Within 50 miles</option>
                                    <option value="-">Within 100 miles</option>
                                    <option value="-">Within 250 miles</option>
                                </select>
                                <input type="submit" value="Submit"></p>
                            </fieldset>
                        </form>
                    </div>
                    {% endcomment %}
                    
                    {% for location in object_list %}
                    <h2 class="location-title"><span class="event-location">{{ location.name }}</span></h2>
                    <ul class="list-recent-events menu">
                        {% for event in location.events.all %}
                        <li>
                            <h3 class="event-title"><a href="{{ event.get_absolute_url }}">{{ event.title|striptags }}</a></h3>
                            <p>
                                {% with object.next_time as next_time %}

                                {% if next_time.same_day %}
                                <time datetime="{{ next_time.dt_start|date:'c' }}">{{ next_time.dt_start|date:"d N" }}<span class="say-no-more"> 2013</span> {{ next_time.dt_start|date:"fA"|lower }} – {{ next_time.dt_end|date:"fA"|lower }}</time> 
                                {% else %}
                                <time datetime="{{ next_time.dt_start|date:'c' }}/{{ next_time.dt_end|date:'c' }}">{{ next_time.dt_start|date:'d N' }} – {{ next_time.dt_end|date:'d N' }} <span class="say-no-more"> {{ next_time.dt_end|date:'Y' }}</span></time>
                                {% endif %}

                                {% endwith %}

                                <span class="event-location"><a href="{{ location.url }}">{{ location.name }}</a>, {{ location.address }}</span> 
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    
                </div>
                
{% endblock content %}


{% block right_sidebar %}
            <aside class="right-sidebar" role="secondary">
                {% if event_categories %}
                <div class="sidebar-widget eventtypes-widget">
                    <h2 class="widget-title">Event Categories</h2>
                    <p class="give-me-more"><a href="#" title="More Event Categories">More</a></p>
                    <ul class="menu">
                        {% for category in event_categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            
                <div class="sidebar-widget subscribe-widget">
                    <h2 class="widget-title">Python Event Subscriptions</h2>
                    <p>Subscribe to Python Event Calendars:</p>
                    <ul class="menu">
                        <li><a href="#"><span aria-hidden="true" class="icon-feed"></span>Events via RSS</a></li>
                        <li><a href="#"><span aria-hidden="true" class="icon-mail-2"></span>Events by Email</a></li>
                        <li><a href="#"><span aria-hidden="true" class="icon-twitter"></span>Events on Twitter</a></li>
                    </ul>
                    <p>Subscribe to Local Python Calendars:</p>
                    <ul class="menu">
                        <li><a href="#"><span aria-hidden="true" class="icon-feed"></span>List of RSS feeds by Locality</a></li>
                        <li><a href="#"><span aria-hidden="true" class="icon-mail-2"></span>List of Email feeds by Locality</a></li>
                    </ul>
                </div>
                
            </aside>
{% endblock right_sidebar %}
