{% extends "base.html" %}

{% block body_attributes %}class="python default-page fourohfour"{% endblock %}

{% block content %}
    
    <article class="text">
            
        <h1 class="giga">Error 404: File not Found</h1>
        
        <p>We couldn&rsquo;t find what you were looking for. This error has been reported and we will look into it shortly. For now,</p>

        <ul>
            <li>Try using the search box.</li>
            <li>
                Python.org went through a redesign and you may have followed a broken link.
                Sorry for that, see if <a href="{{ legacy_path }}">the same page on the legacy website</a> works.
            </li>
            <li>
                Lost in an exotic function call? Read <a href="{{ doc_path }}">the docs</a>.
                Looking for a package? Check the <a href="{{ pypi_path }}">Package Index</a>.
                Need a specific version of Python? The <a href="{{ download_path }}">downloads section</a> has it.
            </li>
        </ul>
        
    </article>
    
{% endblock %}
