{% extends "base.html" %}

{% block body_attributes %}class="default-page wait-for-it"{% endblock %}


{% block content_attributes %}with-left-sidebar{% endblock %}


{% block content %}
        
        <article class="text wait-for-it">
                
            <h1 class="giga">Wait for it&hellip;</h1>
            
            <p>The new Python.org is incomplete &mdash; we know &mdash; but soon there will be some great new content or a killer new feature here. Don&rsquo;t worry, we know that the link that got you here needs to be finished up. </p>
            <p>Interested in contributing? We want this to be an open and ongoing project. Stay tuned for details on how you can be involved in the rollout of the new Python.org. We will post more information when we are ready to open the floodgates. </p>
                    
        </article>
        
{% endblock %}


{% block left_sidebar %}
<aside class="left-sidebar" role="secondary">
</aside>
{% endblock left_sidebar %}
