name: Check collectstatic

on: [push, pull_request, workflow_dispatch]

jobs:
  collectstatic:
    if: github.event_name != 'push' || github.event.repository.fork == true || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
            python-version-file: '.python-version'
      - name: Cache Python dependencies
        uses: actions/cache@v5
        env:
          cache-name: pythondotorg-cache-pip
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ github.job }}-${{ env.cache-name }}-${{ hashFiles('requirements.txt', '*-requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.job }}-${{ env.cache-name }}-
            ${{ runner.os }}-${{ github.job }}-
            ${{ runner.os }}-
      - name: Install Python dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install -r requirements.txt -r prod-requirements.txt
      - name: Run Tests
        run: |
          DJANGO_SETTINGS_MODULE=pydotorg.settings.static python manage.py collectstatic --noinput
