{% extends "base.html" %}

{% block page_title %}PSF Meeting Minutes | {{ SITE_INFO.site_name }}{% endblock %}

{% block body_attributes %}class="psf default-page minutes"{% endblock %}

{% block main-nav_attributes %}psf-navigation{% endblock %}


{% block main_navigation %}
{% load sitetree %}
{% sitetree_menu from "main" include "psf-meta" template "sitetree/submenu.html" %}
{% endblock %}


{% block breadcrumbs %}
{% sitetree_breadcrumbs from "main" %}
{% endblock breadcrumbs %}


{% block content_attributes %}with-left-sidebar{% endblock %}

{% block content %}
  
    <article>
        <div class="col-row three-col">
            
            <header class="text not-column">
                <h1>PSF Board Meeting Minutes Archive</h1>
            </header>

            <p><a href="{% url 'minutes_feed' %}"><span aria-hidden="true" class="icon-feed"></span>Subscribe via RSS</a></p>
            
        {% for m in minutes_list %}
            {% ifchanged m.date|date:"Y" %}
            {% if not forloop.first %}</ul></div>{% endif %}
            <div class="column">
                <h2>{{ m.date|date:"Y" }}</h2>
                <ul class="menu">
            {% endifchanged %}
                    <li><a href="{{ m.get_absolute_url }}">{{ m.date|date:"F j, Y"}}</a>{% if not m.is_published %} (draft){% endif %}</li>
        {% endfor %}
                </ul>
            </div>
        
        </div>
    </article>
    
{% endblock %}


{% block left_sidebar %}
<aside class="left-sidebar" role="secondary">
  
    {% include "components/navigation-widget.html" %}

</aside>
{% endblock left_sidebar %}
